.float_l{float: left;}
.float_r{float: right;}
.fa-gray{
    margin: 0 2px;
    color: #9c9c9c;
}
.fa-orange{
    margin: 2px;
    color: #c40000;
}
.vertical-line{
    float: left;
    margin: 0 5px;
    color: #ccc;
}
.a-float-left{
    float: left;
    margin: 0 3px;
}
.fa-loc{
    float: right;
    margin: 10px 5px 0 0;
}
.top-wrapper{
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
}
.scroll-head{
    height: 35px;
    width: 100%;
}
.top-info{
    width: 1190px;
    height: 100%;
    margin: auto;
}
.top-left{
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    line-height: 35px;
}
.top-right{
    position: relative;
    float: right;
    height: 100%;
    line-height: 35px;
}
.user-name{
    float: left;
    height: 36px;
    padding: 0 3px;
    text-align: center;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    line-height: 35px;
}
.down-icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/arrow.png) no-repeat center center;
}
.down-icon-circle{
    border-radius: 12px;
    background: #c40000 url(../img/arrow.png) no-repeat center;
}
.run-up{
    transition-duration: .5s;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.run-down{
    transition-duration: .5s;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.msg-info{
    float: left;
    height: 36px;
    padding: 0 3px;
    line-height: 35px;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
}
.user-name:hover{
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #fff;
}
.msg-info:hover{
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #fff;
}
.nav-hover{
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #fff;
}
.user-box,
.msg-box,
.my-taobao-box,
.shopping-box,
.get-box,
.center-box,
.nav-box,
.search-toggle-box,
.search-toggle-box-scroll{
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 35px;
    display: none;
    width: 260px;
    height: 170px;
    border: 1px solid #eee;
    border-top: none;
    overflow: hidden;
    background: #fff;
}
.msg-box{
    left: 70px;
    width: 250px;
    height: 180px;
    box-shadow: 1px 1px 1px #dfdfdf;
}
.msg-box h1{
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eee;
    text-align: center;
    line-height: 30px;
}
.pencil{
    position: absolute;
    right: 10px;
    top: 10px;
}
.close-msg{
    margin-left: 85px;
    color: #ddd;
    cursor: pointer;
}
.close-msg:hover{
    color: #c40000;
}
.read-info{
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #eee;
}
.read-info p{
    height: 35px;
    line-height: 16px;
    margin-right: 10px;
}
.read-info img{
    float: left;
    margin-left: 10px;
}
.msg-setting a:first-child{
    margin: 0 10px;
}
.my-taobao-box{
    width: 80px;
    height: 140px;
}
.my-taobao-box li{
    width: 95.5%;
    height: 28px;
    line-height: 28px;
    color: #6C6C6C;
    cursor: pointer;
    padding-left: 4.5%;
}
.my-taobao-box li:hover{
    background: #f3f3f3;
}
.shopping-box{
    width: 260px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    left: 72px;
}
.check-shopp{
    padding: 5px 5px;
    background: #c40000;
    color: #fff;
}
.check-shopp:hover{
    color: #fff;
}
.get-box{
    left: 151px;
    width: 77px;
    height: 58px;
}
.get-box li{
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #6C6C6C;
    cursor: pointer;
}
.get-box li:hover{
    background: #f3f3f3;
}
.center-box{
    left: 299px;
    width: 90px;
    height: 115px;
}
.center-box li{
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #6c6c6c;
    text-align: center;
    cursor: pointer;
}
.center-box li:hover{
    background: #f3f3f3;
}
.nav-box{
    left: -675px;
    width: 1190px;
    height: 180px;
}
.right-shadow{
    box-shadow: 1px 0 1px #dddddd;
}
.other-search{
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.other-search > a{
    margin-right: 6px;
}
.more-other{
    padding: 2px 4px;
    border: 1px solid #eee;
    letter-spacing: 1px;
    margin-left: 3px;
}
.more-other:hover{
    background: #c40000;
    color: #fff;
}
.search-toggle-box{
    width: 53px;
    height: 39px;
    padding-left: 19px;
    line-height: 39px;
    text-align: left;
    cursor: pointer;
}
.search-toggle-box-scroll{
    top: 29px;
    padding-left: 19px;
    width: 53px;
    height: 30px;
    text-align: left;
    cursor: pointer;
    line-height: 30px;
}
.my-head{
    float: left;
    margin: 15px 5px 0 15px;
    border-radius: 80px;
}
.my-grow{
    float: right;
    margin: 5px 0 0 0;
    width: 148px;
    height: 85px;
}
.my-grow > h1{
    float: right;
    margin-right: 8px;
    font-weight: lighter;
}
.my-grow h2{
    line-height: 10px;
}
.my-grow p{
    clear: both;
}
.my-card{
    width: 95%;
    height: 55px;
    clear: both;
    margin: 5px auto;
    border-top: 1px solid #eee;
    overflow: hidden;
}
.cards-info{
    margin-top: 10px;
    float: left;
    width: 204px;
    height: 100%;
    overflow: hidden;
}
.cards-info ul{
    width: 410px;
}
.cards-info li{
    float: left;
}

.toggle-box{
    float: right;
    width: 40px;
    height: 100%;
}
.toggle{
    margin: 24px auto;
    width: 31px;
    height: 12px;
    border: 1px solid #eee;
}
.arrow-left{
    margin: 0 4px;
    padding-right: 6px;
    border-right: 1px solid #eee;
    cursor: pointer;
}
.arrow-right:hover,
.arrow-left:hover{
    color: #c40000;
    cursor: pointer;
}
/**********************top-main*************************/
.top-main{
    margin: 10px auto;
    width:1190px;
    height: 90px;
}
.top-main:after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    width: 0;
}
.top-main > img{
    float: left;
}
.search-wrapper,
.search-wrapper-scroll{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 730px;
    height: 75%;
}
.search-wrapper-scroll{
    width: 166px;
    margin: 0;
    float: right;
}
.search-box,
.search-box-scroll{
    position: relative;
    float: left;
    margin-right: 10px;
    width: 600px;
    height: 40px;
    border: 3px solid #c40000;
}
.search-box-scroll{
    width: 160px;
    height: 21px;
}
.search-toggle,
.search-toggle-scroll{
    float: left;
    width: 72px;
    height: 40px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #fff;
    line-height: 40px;
    text-align: center;
    background: #f6f6f6;
    cursor: pointer;
}
.search-toggle-scroll{
    height: 29px;
    line-height: 29px;
}
.search-in,
.search-in-scroll{
    float: left;
    width: 495px;
    height: 38px;
    padding-left: 10px;
    border: none;
    outline: none;
}
.search-in-scroll{
    width: 106px;
    padding-left: 4px;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
}
.search-but,
.search-but-scroll{
    float: left;
    width: 95px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    letter-spacing: 5px;
    background: #c40000;
    cursor: pointer;
    color: #fff;
    font-family: 'microsoft yahei',Arial, Helvetica, sans-serif;
}
.search-but-scroll{
    width: 50px;
    font-size: 12px;
    height: 21px;
    line-height: 20px;
}
.hight-search{
    display: inline-block;
    height: 32px;
    line-height: 15px;
    padding-top: 8px;
}
.two-code{
    float: right;
    position: relative;
    width: 94px;
    height: 90px;
    text-align: center;
    border: 1px solid #eee;
}
.close-code{
    position: absolute;
    top: -1px;
    left: -21px;
    width: 19px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #eee;
    font-size: 14px;
    color: #d8d8d8;
    cursor: pointer;
}
.close-code:hover{
    border-color: #c40000;
    background: #c40000;
    color: #fff;
}
.two-code > h3{
    margin: 9px 0;
    font-size: 12px;
    text-align: center;
    color: #c40000;
}

/******************scroll-search*******************/
.scroll-search{
    display: none;
    position: relative;
    z-index: 8888;
    margin: auto;
    padding-top: 10px;
    clear: both;
    width: 100%;
    height: 42px;
    background: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 2px #eee;
}
.search-litter{
    width: 1190px;
    margin: auto;
}
.scroll-logo{
    float: left;
    margin-right: 15px;
}

.scroll-list{float: left;min-width: 200px;height: 40px;line-height: 40px;margin: 0 8px;}
.scroll-list ul li{list-style: none;float: left;margin-right: 12px;font-size: 12px}
/************************content-top********************/
.content-top{
    width: 1190px;
    height: 582px;
    margin: 0 auto;
    clear: both;
}
.sidebar{
    float: left;
    width: 150px;
    height: 100%;
    box-shadow: 2px 2px 2px #e1e1e1;
}
.sidebar > h3{
    width: 100%;
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-size: 14px;
    background: #B1191A;
    color: #fff;
}
.sidebar-info{
    position: relative;
    width: 100%;
    height: 540px;
    border-top: none;
}
.side-li{
    position: relative;
    z-index: 5000;
    background: #b61d1d;
}
.hiden-box{
    position: fixed;
    z-index: 4888;
    width: 709px;
    height: 472px;
    padding: 10px;
    display: none;
    border: 1px solid #c40000;
    overflow: hidden;
    background: #fff;
}
.hiden-box > li{
    width: 96%;
    margin: auto;
    height: 100%;
}
.right-box{
    margin: 0 40px 0 5px;
    padding: 1px 6px;
    border: 1px solid #eee;
    cursor: pointer;
}

.hidden-title{
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #eee;
}
.sub-nav-right{
    float: left;
    padding-right: 10px;
    width: 340px;
    height: 420px;
    border-right: 1px solid #eee;
}
.sub-nav-left{
    float: right;
    padding-left: 10px;
    width: 330px;
    height: 420px;
}
.cell-box{
    width: 100%;
    height: 116px;
    margin-top: 16px;
    border-bottom: 1px dashed #eee;
}
.cell-box > h1{
    margin-bottom: 10px;
}
.a-box{
    line-height: 20px;
    color: #dcdcdc;
}
.a-box span{
    margin-right: 6px;
}
.a-box > a{
    margin: 0 8px 0 0;
    white-space: nowrap;
    color: #3c3c3c;
}
.a-box > a:hover{
    color: #c40000;
}
.side-li > li{
    width: 147px;
    margin: auto;
    height: 31px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #b61d1d;
    cursor: pointer;
color: #fff;
}
.side-li > li:hover{background:#fff;color: #b61d1d;}
.sidebar-info h3{
    width: 93%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #b61d1d;
}

.right-con{
    width: 1031px;
    height: 100%;
    float: right;
}
.nav{
    width: 100%;
    height: 41px;
    line-height: 38px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 2px solid #c40000;
}
.nav > a{
    padding: 5px 5px;
    height: 32px;
    margin: 0 8px;
    color: #202020;
}
.nav > a:hover{
    color: #c40000;
    background: #ebebeb;
}
#spe-a1,
#spe-a2,
#spe-a3{
    color: #c40000;
    font-size: 16px;
}
.line-a{
    color: #efefef;
    padding: 5px;
    margin: 0 8px;
}
.nav img{
    vertical-align: middle;
    border: none;
    margin: 0 0px 0 40px;
}
.keep-a{
    font-size: 11px;
    float: right;
    margin-right: 5px;
}
.keep-a > a{
    color: #202020;
}
.keep-a > a:hover{
    color: #c40000;
}
.show-box{
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 517px;
}
/*******************************图片轮播**********************************/
.content,
.content-down,
.content-sub{
    position: relative;
    float: left;
    width: 831px;
    height: 100%;
    overflow: hidden;
}
.content-down{
    height: 248px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.content-sub{
    height: 160px;
    width: 100%;
    margin-bottom: 10px;
}
.imgBox,
.imgBox1,
.imgBox2{
    position: absolute;
    clear: both;
    width: 2600px;
    list-style-type: none;
}
.imgBox2{
    width: 660px;
}
.imgBox > li,
.imgBox1 > li{
 float: left;
 width: 831px;
}
.imgBox2 > li{
    float: left;
    width: 160px;
}
.imgBox a,
.imgBox1 a,
.imgBox2 a{
    display: inline-block;
}
.control,
.control1,
.control2{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 20px;
    background: #000;
    opacity: .3;
    font-size: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 20px;
    display: none;
    cursor: pointer;
    color: #fff;
}
.control2{
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 15px;
    font-size: 20px;
    line-height: 10px;
}
.control:hover,
.control1:hover,
.control2:hover{
    opacity: .8;
}
.to-right,
.to-right1{
    left: 760px;
}
.to-right2{
    left: 180px;
}

.currentNum,
.currentNum-down,
.currentNum-sub{
    position: absolute;
    left: 50%;
    top: 490px;
    margin-left: -35px;
    width: 70px;
    height: 11px;
}
.currentNum-down{
    top: 200px;
}
.currentNum-sub{
    width: 40px;
    margin-left: -20px;
    top: 160px;
}
.imgNum,
.imgNum1,
.imgNum2{
    display: inline-block;
    float: left;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 9px;
    background: #b7b7b7;
    cursor: pointer;
}

.mark-color{
    background: #c40000;
}
.right-sidebar{
    position: relative;
    margin-top: 10px;
    float: right;
    width: 300px;
    height: 531px;
    overflow: hidden;
}
.info-box{
    width: 298px;
    height: 98px;
    border: 1px solid #eee;
}
/***********************tabs***********************/
.tab-nav{
    margin-left: -1px;
    width: 100%;
    height: 27px;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #f7f7f7;
}

.li-nav{
    width: 57px;
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 11px;
    color: #3c3c3c;
    border: 1px solid #f7f7f7;
    border-bottom: none;
    cursor: pointer;
}
.li-nav:last-child{
    width: 61px;
}
.li-nav:hover{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    font-weight: bold;
    background: #fff;
    color: #c40000;
}
.li-border{
    border-left: 1px solid #eee;
}
.li-nav-hover{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    font-weight: bold;
    background: #fff;
    color: #c40000;
}
.li-hover{
    border: 1px solid #ff5640;
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #ff5640;
}
.hiddenBox{
    width: 264px;
    height: 34px;
    display: none;
    border-top: 0;
    padding: 8px 18px;
}
.hiddenBox a{
    line-height: 28px;
    margin-right: 5px;
}
.user-info{
    margin-top: 10px;
    width: 298px;
    height: 138px;
    border: 1px solid #ddd;
    background: url(../img/user-bg.png) no-repeat right top;
}
.gold-top{
    margin: 10px auto 0 auto;
    width: 280px;
    height: 62px;
}
.gold-top img{
    float: left;
    margin-right: 12px;
    border-radius: 62px;
}
.inner-user{
    float: left;
    width: 205px;
    height: 100%;
}
.inner-user > h3{
    margin-top: 10px;
    width: 100%;
}
.get-gold,
.vip-home{
    float: left;
    margin-top: 10px;
    display: inline-block;
    height: 28px;
    width: 107px;
    line-height: 28px;
    border: 1px solid #fdb08e;
    background: #fff0e8;
    color: #c40000;
}
.glods{
    display: inline-block;
    margin: 4px 5px 0 5px;
    width: 18px;
    height: 18px;
    background: url(../img/tao.png) no-repeat center;
}
.vip-home:hover,
.get-gold:hover{
    background: #f9eae3;
}
.vip-home{
    margin-left: 5px;
    text-align: center;
    width: 76px;
}
.get-money{
    display: inline-block;
    vertical-align: top;
}
.login{
    margin: 16px auto 0 auto;
    width: 90%;
    height: 40px;
}
.login-btn{
    display: inline-block;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    border-bottom: 1px solid #e4e4e4;
    background: #c40000;
    color: #fff;
}
.login-btn:hover{
    background: #E83E00;
    color: #fff;
}
.fa-user-loc{
    font-size: 14px;
    margin-right: 10px;
}
.free{
    width: 76px;
}
.service{
    width: 290px;
    height: 279px;
    border: 1px solid #eee;
    background: #f4f4f4;
    padding-left: 8px;
}
.service-cell{
    float: left;
    margin: 10px 0 0 10px;
    width: 56px;
    height: 63px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}
.service-z{
    position: relative;
    z-index: 2999;
}
.service-box{
    position: absolute;
    bottom: -50px;
    z-index: 2998;
    width: 278px;
    padding: 10px 10px;
    height: 152px;
    display: none;
    border: 1px solid #eee;
    border-top: 1px solid #ddd;
    background: #fff;
}
.feihua-in{
    margin-bottom: 10px;
    width: 178px;
    height: 22px;
    border-top: 1px solid #afafaf;
    border-left: 1px solid #afafaf;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
.money-in{
    width: 113px;
}
.feihua-in span{
    display: inline-block;
    height: 100%;
    width: 32px;
    background: #e5e5e5;
    line-height: 22px;
    text-align: center;
}
.sel-money{
    margin: 0 0 0 -4px;
    padding: 0;
    height: 100%;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
}
.now-chongzhi{
    padding: 5px 8px;
    color: #fff;
    background: #c40000;
}
.dingqi{
    margin: 0 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    color: #000;
}
.sel-money:hover{
    color: #c40000;
}
.feihua-in input{
    margin: -4px 0 0 -6px;
    padding-left: 2px;
    height: 18px;
    border: none;
    border-top: 1px solid #d8d7d7;
    border-left: 1px solid #d8d7d7;
    outline: none;
}
.tell-num{
    width: 145px;
    background: url(../img/user-num.png) no-repeat 95% center;
}
.service-head{
    margin: 10px 0;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #f2f2f2;
}
.service-head a:first-child{
    padding: 5px 10px;
    margin-right: 10px;
    background: #ffe0cc;
}
.service-cell > h6{
    margin: 3px 0 2px 0;
    font-weight: lighter;
    color: #9c9c9c;
}
.service-head span{
    float: right;
    margin-right: 10px;
    cursor: pointer;
    color: #ddd;
}
.service-head span:hover{
    color: #c40000;
}
.service > h3{
    margin: 20px 0 0 10px;
}
.service-i{
    height: 30px;
}
.service-i > img{
    margin-top: 6px;
}

/**********************sub-nav*********************/
.sub-nav{
    position: relative;
    margin: 25px auto;
    width: 1190px;
    height: 88px;
    overflow: hidden;
}
.top-sub-nav{
    height: 145px;
}
.more-btn{
    position: absolute;
    right: 26px;
    bottom: 10px;
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
    background: #c40000 url(../img/down.png) no-repeat 90% center;
    cursor: pointer;
}
.sub-nav-cell{
    float: left;
    width: 280px;
    padding-left: 15px;
    height: 100%;
    border-right: 1px solid #eee;
}
.sub-nav-cell:last-child{
    border-right: none;
}

.sub-nav-cell > h3{
    margin-bottom: 7px;
    font-size: 15px;
}
.orange{
    color: #c40000;
}
.green-sp{
    color: #a0b959;
}
.red-now{
    color: #df61ab;
}
.blue-more{
    color: #55a1e5;
}
.sub-nav-box li{
    display: inline-block;
    margin: 2px 2px;
    height: 25px;
    line-height: 25px;
    width: 58px;
    text-align: center;
}
.sub-nav-box  a{
    display: inline-block;
    height: 25px;
    text-align: center;
    padding: 0 3px;
}
.sub-nav-box  a:hover{
    border-radius: 3px;
    background: #c40000;
    color: #fff;
}
.sp a:hover{
    background: #a0b959;
}
.now a:hover{
    background: #df61ab;
}
.more a:hover{
    background: #55a1e5;
}
/*合作伙伴*/
.cooperPartner{
    position: relative;
    margin: 25px auto;
    width: 1190px;
    height: 160px;
}
.cooperPartner .cooper-logo {
    position: relative;
    float: left;
    display: block;
    width: 115px;
    height: 68px;
    margin: 5px auto;
    border: 2px solid #FFF;
    padding-top: 8px;
    overflow: hidden;
    text-align: center;
    color: #999;
}
.cooperPartner .cooper-logo.hover{
    border: 2px solid #ffad21;
}
.cooperPartner .cooper-logo img {
    display: block;
    width: 68px;
    height: 30px;
    margin: 5px auto;
    text-align: center;
}
.cooperPartner .arrow-next {
    position: absolute;
    width: 30px;
    height: 121px;
    right: -30px;
    top:5px;
    font-size: 17px;
    text-align: center;
    color: #fff;
    background: #000;
    padding-top: 50px;
    overflow: hidden;
    opacity: 0.3;
}

/***************************main************************/
.main{
    width: 1190px;
    margin: auto;
    min-height: 4023px;
}

.main-left{
    width: 960px;
    float: left;
    height: 4085px;
    border: 1px solid #eee;
    border-top: 2px solid #ddd;
    border-right: none;
    border-left: none;
}

.main-title{
    width: 100%;
    height: 50px;
    margin-left: -1px;
    line-height: 50px;
    border: 1px solid #eee;
    border-top: none;
}
.show-title{
    font-size: 12px;
    margin-right: 20px;
    font-weight: lighter;
    float: right;
}
.main-title h1{
    margin-left: 20px;
    font-size: 16px;
    text-shadow: 2px 2px 2px #c4c4c4;
}
.product-box{
    position: relative;
    float: left;
    width: 466px;
    height: auto;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.17) 1px 1px 2px;
    margin-top: 20px;
    margin-right: 23px;
}
.product-box:hover{
    border-color: #c40000;
    box-shadow:none;
}
.product-box:nth-child(2n+1){margin-right: 0;}
.box{width: 100%;}
.box img{width: 100%;height: 327px;}
.box_activity {
    background: #333;
    width: 212px;
    height: 29px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    line-height: 29px;
    font-size: 15px;
}
.box_activity span{margin-left: 5px;}
.box_activity i {
    margin: 5px 5px 0px 5px;
    font-size: 20px;
    float: left;
}
.box_activity p span {
    padding-left: 10px;
    color: #fff;
    line-height: 29px;
    font-size: 15px;
}
.box_hover {
    background: url("../img/pro_hover-bg.png") repeat;
    color: #FFFFFF;
    font-weight: bold;
    height: 33px;
    left: 0;
    line-height: 34px;
    position: absolute;
    top: 294px;
    width: 100%;
}
.box_hover .sale{padding-left: 5px;float: left;}
.box_hover .money{padding-right: 5px;float: right;}
.box_list {
    padding: 20px;
    height: auto;
    overflow: hidden;
}
.box_list h3 {
    font-size: 20px;
    height: 32px;
    overflow: hidden;
    line-height: 32px;
    border-bottom: 1px dotted #d5d5d5;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.box_list h3 a{font-size: 18px;}
.box_list .box_listl {
    float: left;
    margin-left: 77px;
    min-width: 90px;
    text-align: center;
}
.pb_Price {
    margin: 15px 0px;
    font-size: 14px;
    color: #ff4400;
    float: left;
    width: 100%;
}
.pb_Price span{font-size: 16px;font-weight: bold;}
.pb_Price p{color: #000;height: 30px;line-height: 30px;}
.box_list .list_logo{width: 86px;
    height: 50px;
    margin-top: 20px;
    float: left;}
    .box_list .list_logo img{width: 80px;height: 30px;vertical-align: middle;}
    .box_list .box_listr {
        float: right;
        padding-top: 20px;
        width: 135px;
        text-align: center;
        overflow: hidden;
    }
    .box_listr a{background: #c40000;padding: 8px 29px;color: #fff;font-weight: 600;font-size: 18px;}
    .box_listr p {
        margin-top: 20px;
        font-weight: bold;
        color: #c40000;
    }
    .inner-info{
        width: 100%;
        height: 220px;
        margin: 0 auto;
    }
    .line-f40{
        margin-right: 10px;
        font-size: 15px;
        font-weight: bold;
        color: #c40000;
    }
    .share-weitao{
        float: right;
        display: none;
    }
    .text-title{
        font-size: 13px;
        font-weight: bold;
    }
    .inner-left{
        float: left;
        margin-top: 13px;
        width: 168px;
        height: 190px;
        text-align: center;
        background: #f6f6f6;
    }
    .inner-left > h1{
        margin: 14px 0 10px 0;
    }
    .inner-left a{
        color: #000;
    }
    .inner-left a:hover{
        color: #c40000;
    }
    .inner-left span{
        color: #9c9c9c;
    }
    .inner-right{
        float: right;
        margin-top: 13px;
        width: 168px;
        height: 190px;
        text-align: center;
    }
    .inner-right a{
        display: inline-block;
    }
    .inner-right img{
        margin-bottom: 10px;
    }
    .tab-inner{
        margin-top: 20px;
        width: 100%;
        height: 78px;
        border-collapse: collapse;
    }
    .tab-inner td{
        width: 82px;
        height: 38px;
        line-height: 38px;
        border: 1px dashed #eee;
    }
    .tab-inner a{
       display: inline-block;
       width: 100%;
       height: 100%;
   }
   /*****************************main-right*********************/
   .main-right{
    float: right;
    width: 178px;
}
.time-go{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
}
.time-cell{
    width: 100%;
    height: auto;
    margin: 16px auto;
}
.time-cell h1{padding-left: 12px;line-height: 30px;margin-bottom: 10px;font-size: 16px;}
    .time-cell  a{
        font-size: 16px;
    }
    .now-news{
        float: right;
        font-weight: lighter;
        margin-right: 5px;
    }
    .now-news > span{
        margin-left: 6px;
        color: #c40000;
    }
    /*inner-show*/
    .inner-show{
        margin-top: 19px;
        width: 100%;
        margin: auto;
        height: auto;
        background: #fff;
    }
    .inner-show ul li{list-style: none;float: left;margin-bottom: 20px;}
    .inner-show ul li a{
       display: inline-block;
       margin: 0 9px 10px;
   }
   .inner-show > a img{width: 100%;}
   .inner-show > a:first-child{
}
 .inner-show h3{
    margin-top: 3px;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
    color: #6c6c6c;
}
.inner-show h3:hover{
    color: #c40000;
}
.inner-show h3>a{
    margin-right: 6px;
    font-size: 12px;
}
.inner-show .show-right{margin: 0 9px;}
.inner-show .show-right .nowPrice{font-size: 8px;float: left;width: 100%;}
.inner-show .show-right .nowPrice i{font-style:normal;color: #c40000;font-weight: 600;font-size: 14px;}
.inner-show .show-right .nowPrice s{font-size: 12px;margin-left: 5px;}
.inner-show .show-right .desc{margin: 8px 0 10px 0;line-height: 18px;height: 36px;overflow: hidden;float: left;}
.inner-show .show-right .desc a{font-size: 12px;margin: 0 0 10px;}
.inner-show .show-right .consumer i{color: #005aa0;font-style:normal;}
.goto-see{
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    font-size: 16px;
    border-top: 1px solid #ddd;
}
.goto-see > a{
    float: right;
    font-size: 11px;
}
.dynamic{
    position: relative;
    width: 324px;
    height: 180px;
    margin: 0 auto 20px auto;
    padding-top: 16px;
    padding-left:  12px;
    border: 1px solid #eee;
    background: #fff;
}
.dynamic > h3{
    margin-bottom: 11px;
    font-size: 13px;
    padding-right: 5px;
}
.dynamic > h4{
    text-align: center;
    letter-spacing: 1px;
}
.dynamic span{
    margin-left: 12px;
    font-size: 12px;
    font-weight: lighter;
    color: #a3a3a3;
}
.dynamic p{
    margin-bottom: 13px;
    line-height: 15px;
}
.dynamic h6{
    margin-top: 14px;
}
.dynamic a{
    font-weight: lighter;
    color: #9c9c9c;
}
.follow{
    display: none;
    float: right;
}
.arrow{
    position: absolute;
    top: 10px;
    left: -16px;
    width: 0;
    height: 0;
    border: 8px solid #fff;
    border-color: transparent #fff transparent transparent;
}
.circle-new,
.circle-go{
    position: absolute;
    z-index: 3000;
    top: 10px;
    left: -14px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    border-radius: 25px;
    background: #c40000;
    color: #fff;
}
.circle-go{
    top: 453px;
}
.time-circle{
    position: absolute;
    top: 744px;
    left: -6px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;
}
.bottom-circle{
    top: 962px;
}
.time-circle:hover{
    background: #c40000;
}
/*************gogo-choose****************/
.gogo-choose{
    float: left;
    margin-top: 20px;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
}
.gogo-choose > h1{
    font-size: 16px;
    padding-left: 10px;
    line-height: 30px;
    margin-bottom: 10px;
}
.sub-show{
    margin-top: 20px;
    margin: 0 9px 20px;
    height: auto;
    float: left;
}
.sub-right .oriPrice{font-size: 8px;float: left;}
.sub-right .nowPrice{font-size: 8px;float: left;width: 100%;}
.sub-right .nowPrice i{font-style:normal;color: #c40000;font-weight: 600;font-size: 14px;}
.sub-right .desc{margin: 8px 0 10px 0;line-height: 18px;height: 36px;overflow: hidden;float: left;}
.sub-right .desc a{font-size: 12px;margin: 0 0 10px;}
.sub-right .consumer i{color: #005aa0;font-style:normal;}
.text-show{
    clear: both;
    margin: 15px 0;
}
.text-show > span{
    display: inline-block;
    margin: 0 10px 14px 0;
}
.just-look{
    width: 100%;
    padding-top: 20px;
    height: 150px;
    border-top: 1px dashed #eee;
}
.just-look > a{
    display: inline-block;

}
.just-look h6{
    margin-top: 15px;
    font-weight: lighter;
    text-align: center;
    color: #3c3c3c;
}
.just-look h6:hover{
    color: #c40000;
}
.jst-text{
    width: 100%;
    height: 120px;
}
.jst-text > li{
    line-height: 28px;
}
.jst-text a{
    margin: 0 6px;
}
.jst-text em{
    font-size: 14px;
}
.jst-text span{
    color: #acacac;
}
.last-box{
    margin-top: 20px;
    width: 100%;
    height: 250px;

}
.last-box > img:first-child{
    margin-right: 4px;
    border: 1px dashed #eee;
}
.fix-right-sub{
    width: 178px;
    float: left;
}
/*****************************main-bottom*****************************/
.main-bottom{
    width: 1190px;
    margin: 30px auto;
    height: 460px;
    border: 1px solid #fff;
}
.sub-bottom-nav{
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.sub-bottom-nav > h1{
    float: left;
    line-height: 50px;
    font-size: 18px;
}
.sub-nav-info{
    float: right;
    height: 100%;
    line-height: 50px;
    width: 800px;
    color: #dcdcdc;
}
.sub-nav-info > a{
    margin: 0 3px;
}
.single-sale{
    float: left;
    margin: 0 18px 30px 22px;
    width: 130px;
    height: 180px;
}
.single-sale  h3{
    margin: 10px 0 8px 0;
    font-weight: lighter;
}
.single-sale span{
    font-size: 9px;
}
.single-sale p{
    margin-top: 5px;
}
.send-free{
    padding: 1px 2px;
    line-height: 14px;
    background: #8bc144;
    color: #fff;
}
.gary-text{
    color: #9c9c9c;
}
/***************************ad**********************/
.ad{
    width: 1190px;
    height: 105px;
    margin: 10px auto;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.help{
    width: 1190px;
    height: 175px;
    margin: auto;
    border-bottom: 2px solid #c40000;
}
.help-info{
    float: left;
    width: 286px;
    padding-left: 10px;
    margin: 30px 0 0 0;
    height: 100px;
    border-right: 1px solid #eee;
}
.help-info:last-child{
    border-right: none;
}
.help-info h1{
    height: 40px;
    line-height: 40px;
}
.help-text{
    vertical-align: top;
    font-size: 16px;
    margin-left: 9px;
    color: #3e3e3f;
    text-shadow: 1px 1px 1px #7f7f7f;
}
.help-a,
.help-a-litter{
    display: inline-block;
    margin: 10px 70px 0 5px;
}
.help-a-litter{
    margin: 10px 10px 0 5px;
}
.margin-r{
    margin-right: 0;
}
.footer{
    width: 1190px;
    height: 150px;
    margin: 0 auto 10px auto;
}
.footer-right{
    float: left;
    width: 94%;
    height: 100%;
}
.tao-man{
    float: right;
}
.footer-nav{
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ddd;
    color: #dedede;
}
.footer-nav > a{
    margin: 0 3px;
}
.about-tao{
    width: 100%;
    height: 42px;
    line-height: 42px;
}
.footer-right p span{
    margin: 0 5px;
}
.some-info{
    margin-top: 10px;
}
/***********************回到顶部***************************/
.backtoTop{
    clear: both;
    height: 60px;
    width: 40px;
    position: absolute; //绝对定位
    padding: 5px 0;
    right: 15px;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    border-radius: 5px;
    overflow: hidden;
    background: #f5f5f5;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    color: #9c9c9c;
}
.up-back{
    background: #ECF0F1;
}
.down-back{
    background: #BDC3C7;
    color: #fff;
}
