.fa-gray{margin:0 2px;color:#9c9c9c}
.fa-orange{margin:2px;color:#c40000}

.top-wrapper{position:fixed;top:0;z-index:10000;width:100%;height:35px;border-bottom:1px solid #eee;background-color:#f5f5f5}
.top-wrapper .top-info{width:1190px;height:100%;margin:auto}
.top-wrapper .top-info ul li{padding:0 8px}
.top-wrapper .top-info .top-left{position:relative;float:left;width:30%;height:100%;line-height:35px}
.top-wrapper .top-info .top-left a{float:left;margin:0 3px}
.top-wrapper .top-info .top-right{position:relative;float:right;height:100%;line-height:35px}
.top-wrapper .top-info .user-name{float:left;height:36px;padding:0 3px;text-align:center;border-right:1px solid #f5f5f5;border-left:1px solid #f5f5f5;line-height:35px}
.top-wrapper .top-info .user-name:hover{border-right:1px solid #eee;border-left:1px solid #eee;background:#fff}
.top-wrapper .top-info ul li.spacer{width:1px;height:12px;margin-top:12px;padding:0;background:#ddd;overflow:hidden}
.top-wrapper .top-info .down-icon{display:inline-block;width:12px;height:12px;background:url(../img/arrow.png) no-repeat center center}
.top-wrapper .top-info .top-left .msg-box,.top-wrapper .top-info .top-right .get-box,.top-wrapper .top-info .top-right .my-taobao-box,.top-wrapper .top-info .top-right .shopping-box{position:absolute;left:0;top:35px;display:none;border:1px solid #eee;border-top:none;overflow:hidden;background:#fff;z-index:2;}
.top-wrapper .top-info .top-right .shopping-box{padding:7px;}
.top-wrapper .top-info .top-right .get-box{width:77px;left: 152px;}
.top-wrapper .top-info .top-left .msg-info{float:left;position:relative;height:36px;padding:0 8px;line-height:35px;border-right:1px solid #f5f5f5;border-left:1px solid #f5f5f5}
.top-wrapper .top-info .top-left .msg-info:hover{border-right:1px solid #eee;border-left:1px solid #eee;background:#fff}
.top-wrapper .top-info .top-left .msg-info .msg-box{width:270px;min-height:190px;box-shadow:1px 1px 1px #dfdfdf;z-index:2;}
.top-wrapper .top-info .top-left .msg-info .msg-box .userinfo{padding:10px 15px;overflow:hidden;height:70px}
.top-wrapper .top-info .top-left .msg-info .msg-box .otherlist a{float:left;height:25px;line-height:25px}
.top-wrapper .top-info .top-left .msg-info .msg-box .u-pic{float:left;margin-right:10px;width:60px;height:60px;background:url(../img/no-img_mid_.jpg) no-repeat center center;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%}
.top-wrapper .top-info .top-left .msg-info .msg-box .u-name{float:left;padding:6px 0 0;font-weight:700;width:140px;height:30px}
.top-wrapper .top-info .top-left .msg-info .msg-box .u-extra{float:left;width:140px;height:30px}
.top-wrapper .top-info .top-left .msg-info .msg-box .u-extra .line-a{float:left;color:#666;margin:0 8px}
.top-wrapper .top-info .top-left .msg-info .msg-box .otherlist{padding:0 10px;overflow:hidden;margin-bottom:10px}
.top-wrapper .top-info .top-left .msg-box .fore2,.top-wrapper .top-info .top-left .msg-info .msg-box .fore1{float:left;width:90px;margin-right:30px}
.top-wrapper .top-info .top-right .my-taobao-box{width:72px;min-height:60px}
.top-wrapper .top-info .top-right .my-taobao-box li{height:28px;line-height:28px;color:#6C6C6C;cursor:pointer;width: 100%;padding: 0;}
.top-wrapper .top-info .top-right .my-taobao-box li:hover{color:#b61d1d;}
.top-wrapper .top-info .top-right .top-right .shopping-box{width:260px;padding-left:30px;height:40px;line-height:40px;left:72px}
.top-wrapper .top-info .top-right .top-right .shopping-box .check-shopp{padding:5px 5px;background:#c40000;color:#fff}
.top-wrapper .top-info .top-right .top-right .shopping-box .check-shopp:hover{color:#fff}
.top-wrapper .top-info .top-right .top-right .get-box{left:151px;width:77px;height:58px}
.top-wrapper .top-info .top-right .top-right .get-box li{width:100%;height:28px;line-height:28px;text-align:center;color:#6C6C6C;cursor:pointer}
.top-wrapper .top-info .top-right .top-right .get-box li:hover{background:#f3f3f3}
.top-main{margin:40px auto 10px;width:1190px;height:90px}
.top-main:after{content:'';display:block;visibility:hidden;clear:both;height:0;width:0}
.top-main>img{float:left}
.top-main .search-wrapper,.top-wrapper .scroll-search .search-wrapper-scroll{float:left;margin-top:20px;margin-left:30px;width:730px;height:75%}
.top-wrapper .scroll-search .search-wrapper-scroll{margin-top:0;}
.top-main .search-box,.top-wrapper .scroll-search .search-box-scroll{position:relative;float:left;height:40px;border:3px solid #c40000}
.top-wrapper .scroll-search .search-box-scroll{height:28px}
.top-main .search-in,.top-wrapper .search-in-scroll{float:left;width:495px;height:38px;padding-left:10px;border:none;outline:0}
.top-wrapper .search-in-scroll{font-size:10px;height:26px;line-height:20px}
.top-main .search-but,.top-wrapper .search-but-scroll{float:left;width:95px;height:40px;border:none;outline:0;font-size:20px;letter-spacing:5px;background:#c40000;cursor:pointer;color:#fff;font-family:'microsoft yahei',Arial,Helvetica,sans-serif}
.top-wrapper .search-but-scroll{width:50px;font-size:14px;height:28px;line-height:20px}
.two-code{float:right;position:relative;width:94px;height:90px;text-align:center;border:1px solid #eee}
.close-code{position:absolute;top:-1px;left:-21px;width:19px;height:18px;line-height:18px;border:1px solid #eee;font-size:14px;color:#d8d8d8;cursor:pointer}
.close-code:hover{border-color:#c40000;background:#c40000;color:#fff}
.two-code>h3{margin:9px 0;font-size:12px;text-align:center;color:#c40000}
.scroll-search{display:none;position:relative;margin:auto;padding-top:10px;clear:both;width:100%;height:42px;background:#fff;border-bottom:1px solid #eee;box-shadow:0 2px 2px #eee}
.search-litter{width:1190px;margin:auto;overflow: hidden;}
.scroll-logo{float:left;margin-right:15px}
.scroll-list{float:left;min-width:200px;height:40px;line-height:40px;margin:0 8px}
.scroll-list ul li{margin-right:12px;font-size:12px}
.typeList{position:relative;width:100%;float:left;margin-bottom:40px}
.typeList .line{width:100%;height:41px;position:absolute;top:0;line-height:0;border-bottom:2px solid #B1191A;z-index:9}
.content-top{width:1190px;height:auto;margin:0 auto;clear:both}
.sidebar{float:left;width:152px;min-height:400px;background:#b61d1d;padding-bottom:1px}
.sidebar h3{width:100%;height:41px;line-height:41px;text-align:center;font-size:14px;background:#B1191A;color:#fff}
.sidebar .sidebar-info{position:relative;width:100%;border-top:none}
.sidebar .side-li{position:relative;font-weight:600;font-size:14px}
.sidebar .side-li>li{width:100%;margin:auto;height:31px;line-height:32px;text-align:center;border-left:1px solid #b61d1d;cursor:pointer;color:#fff}
.sidebar .side-li>li:hover{background:#fff;color:#b61d1d}
.sidebar .side-li>li.visited{background:#fff;color:#B61D1D}
.right-con{width:1038px;height:auto;float:left;position:relative}
.right-con .nav{width:100%;height:41px;line-height:38px;font-weight:700;font-size:14px}
.right-con .nav>a{padding:5px 5px;height:32px;margin:0 8px;color:#202020}
.right-con .nav>a.spe{color:#c40000;font-size:16px}
.right-con .line-a{color:#efefef;padding:5px;margin:0 8px}
.right-con .nav img{vertical-align:middle;border:none;margin:0 0 0 40px}
.right-con .content{width:100%;float:left;border:1px solid #eee;min-height:434px;padding-bottom:20px}
.right-con .content.visited{border-top:none}
.right-con .con{width:100%;height:auto;margin-left:0;margin-top:0;padding:0 10px;float:left}
.right-con .con .cooper-logo{position:relative;float:left;display:block;width:141px;height:84px;margin:5px auto;border:2px solid #FFF;padding-top:8px;overflow:hidden;text-align:center;color:#999}
.right-con .con .cooper-logo img{display:block;width:90px;height:40px;margin:5px auto;text-align:center}
.right-con .con .cooper-logo.hover{border:2px solid #ffad21}
.right-con .con .con-list{width:100%;height:auto;float:left;padding:20px;}
.right-con .con .con-list a{width:125px;height:26px;line-height:26px;float:left;margin-right:48px;border-bottom:1px solid #eee;padding:8px 0}
.content,.content-sub{position:relative;float:left;width:831px;height:100%;}
.content-sub{height:179px;width:100%;margin-bottom:10px;overflow:hidden;}
.imgBox2{position:absolute;clear:both;width:660px;list-style-type:none;}
.imgBox2>li{float:left;width:160px;}
.imgBox2 a{display:inline-block;}
.imgBox2 img{height:178px}
.main{width:1190px;margin:auto;min-height:100px;overflow: hidden;}
.main-left{width:960px;float:left;border:1px solid #eee;border-top:2px solid #ddd;border-right:none;border-left:none}
.main-title{width:100%;height:50px;margin-left:-1px;line-height:50px;border:1px solid #eee;border-top:none}
.main-title h1{float:left;margin-left:20px;font-size:16px;text-shadow:2px 2px 2px #c4c4c4}
.main-title .show-list{float: right;min-width: 200px;height: 50px;line-height: 50px;margin: 0 8px;}
.main-title .show-list ul li {margin-right: 12px;font-size: 12px;}

.product-box{position:relative;float:left;width:461px;height:auto;border:2px solid #eee;box-shadow:rgba(0,0,0,.17) 1px 1px 2px;margin-top:30px;margin-right:30px}
.product-box:hover{border-color:#c40000;box-shadow:none}
.product-box:nth-child(2n+1){margin-right:0}
.product-box .box{width:100%}
.product-box .box .logo{height:40px;position:absolute;}
.product-box .box .logo .bg-cgf {background:url(../img/new-1.png) no-repeat;float: left;display: block;width: 45px;height: 43px;margin-right: 3px;text-align:center;color:#fff;line-height: 15px;padding-top: 4px;}
.product-box .box .logo .ico-tag1 {background:url(../img/new-1.png) no-repeat;padding-top: 10px;}
.product-box .box .logo .ico-tag2 {background:url(../img/new-2.png) no-repeat;padding-top: 10px;}
.product-box .box .logo .ico-tag3 {background:url(../img/new-3.png) no-repeat;padding-top: 10px;}
.product-box .box .logo .ico-tag4 {background:url(../img/new-4.png) no-repeat;}

.product-box .box img{width:100%;height:327px}
.product-box .box .box_activity{background:#333;width:212px;height:29px;position:absolute;top:0;right:0;color:#fff;line-height:29px;font-size:15px}
.product-box .box .box_activity i{margin:5px 5px 0 5px;font-size:20px;float:left}
.product-box .box .box_activity span{margin-left:5px}
.product-box .box .box_hover{background:url(../img/pro_hover.png) repeat;color:#FFF;font-weight:700;height:33px;left:0;line-height:34px;position:absolute;top:294px;width:100%}
.product-box .box .box_hover .sale{padding-left:5px;float:left}
.product-box .box .box_hover .money{padding-right:5px;float:right}
.product-box .box_list{padding:15px 20px;height:auto;overflow:hidden;position: relative;}
.product-box .box_list a{display:block;font-size:20px;height:40px;overflow:hidden;line-height:40px;border-bottom:1px dotted #d5d5d5;margin-bottom:10px}
.product-box .box_list a img{width:50px;height:30px;vertical-align: middle;margin-right: 5px;}
.product-box .box_list .list_logo{width:100%;height:32px;line-height:32px;float:left}
.product-box .box_list .list_logo .price-new {color: #000;font-size: 20px;font-family: Tahoma;font-weight: bold;margin-left: 4px;}
.product-box .box_list .list_logo .price-new em {font: 20px/1 Microsoft YaHei,Arial;}
.product-box .box_list .list_logo .price-old {color: #999;margin-left: 3px;font-style: normal;font: 14px/1 Microsoft YaHei,Arial;}
.product-box .box_list .box_listl{float:left;width:100%;margin:5px 0;font-size:14px;color:#f40;}
.product-box .box_list .box_listl span{font-family:Tahoma;font-size:20px;color:#f33131;font-weight:700;float:left;padding-right:5px}
.product-box .box_list .box_listl .ico-you{background:url(../img/youbl.png) no-repeat;width:84px;height:20px;line-height:19px;padding-left:9px;float:left;font-size:12px;color:#fff}
.product-box .box_list .box_listr{position: absolute;width:135px;text-align:center;overflow:hidden;right:20px;top: 70px;}
.product-box .box_list .box_listr a{display:block;background:#c40000;padding:6px 18px;color:#fff;font-weight:600;font-size:18px;border-bottom: none;}

.main-right{float:right;width:178px}
.time-go{position:relative;width:100%;height:auto;border:1px solid #ddd}
.time-cell{width:100%;height:auto;margin:16px auto}
.time-cell h1{padding-left:12px;line-height:30px;margin-bottom:10px;font-size:16px}
.time-cell a{font-size:16px}
.now-news{float:right;font-weight:lighter;margin-right:5px}
.now-news>span{margin-left:6px;color:#c40000}
.inner-show{margin-top:19px;width:100%;margin:auto;height:auto;background:#fff}
.inner-show ul li{margin-bottom:20px}
.inner-show ul li a{display:inline-block;margin:0 9px 10px}
.inner-show>a img{width:100%}
.inner-show h3{margin-top:3px;font-weight:lighter;font-size:12px;text-align:center;color:#6c6c6c}
.inner-show h3:hover{color:#c40000}
.inner-show h3>a{margin-right:6px;font-size:12px}
.inner-show .show-right{margin:0 9px}
.inner-show .show-right .nowPrice{font-size:8px;float:left;width:100%}
.inner-show .show-right .nowPrice i{font-style:normal;color:#c40000;font-weight:600;font-size:14px}
.inner-show .show-right .nowPrice s{font-size:12px;margin-left:5px}
.inner-show .show-right .desc{margin:8px 0 10px 0;line-height:18px;height:36px;overflow:hidden;float:left}
.inner-show .show-right .desc a{font-size:12px;margin:0 0 10px}
.inner-show .show-right .consumer i{color:#005aa0;font-style:normal}
.circle-new{position:absolute;z-index:3000;top:10px;left:-14px;width:25px;text-align:center;line-height:25px;height:25px;border-radius:25px;background:#c40000;color:#fff}
.time-circle{position:absolute;top:744px;left:-6px;width:8px;height:8px;border:1px solid #fff;border-radius:10px;background:#ccc;cursor:pointer}
.bottom-circle{top:962px}
.time-circle:hover{background:#c40000}
.gogo-choose{float:left;margin-top:20px;width:100%;height:auto;border:1px solid #ddd}
.gogo-choose>h1{font-size:16px;padding-left:10px;line-height:30px;margin-bottom:10px}
.sub-show{margin-top:20px;margin:0 9px 20px;height:auto;float:left}
.sub-right .oriPrice{font-size:8px;float:left}
.sub-right .nowPrice{font-size:8px;float:left;width:100%}
.sub-right .nowPrice i{font-style:normal;color:#c40000;font-weight:600;font-size:14px}
.sub-right .desc{margin:8px 0 10px 0;line-height:18px;height:36px;overflow:hidden;float:left}
.sub-right .desc a{font-size:12px;margin:0 0 10px}
.sub-right .consumer i{color:#005aa0;font-style:normal}
.fix-right-sub{width:178px;float:left}
.help{width:1190px;height:120px;margin:auto;border-bottom:2px solid #c40000;margin-top:60px;}
.help-info{float:left;width:286px;padding-left:10px;height:100px;border-right:1px solid #eee}
.help-info:last-child{border-right:none}
.help-info h1{height:40px;line-height:40px}
.help-text{vertical-align:top;font-size:16px;margin-left:9px;color:#3e3e3f;text-shadow:1px 1px 1px #7f7f7f}
.help-a,.help-a-litter{display:inline-block;margin:10px 70px 0 5px}
.help-a-litter{margin:10px 10px 0 5px}
.margin-r{margin-right:0}
.footer{width:1190px;min-height:50px;margin:10px auto}
.footer-right{width:94%;height:100%;margin:auto;text-align:center}
.tao-man{float:right}
.footer-nav{width:100%;height:42px;line-height:42px}
.footer-nav>a{margin:0 3px}
.about-tao{width:100%;height:42px;line-height:42px}
.footer-right p span{margin:0 5px}
.some-info{margin-top:10px}
.backtoTop{clear:both;height:60px;width:40px;position:absolute;padding:5px 0;right:15px;-moz-transition:all .6s ease;-webkit-transition:all .6s ease;-o-transition:all .6s ease;transition:all .6s ease;border-radius:5px;overflow:hidden;background:#f5f5f5;font-size:30px;cursor:pointer;text-align:center;color:#9c9c9c}
.up-back{background:#ECF0F1}
.down-back{background:#BDC3C7;color:#fff}
.btn-img{display:inline-block;margin:0;padding:0;border:0;text-align:center;cursor:pointer}

/*µÇÂ¼*/
.login-head{width:990px;margin:0 auto;height: 60px;}
.login-head .logo{position:relative;width:140px;padding:10px 0 0;height:60px;float: left;}
.login-head .logo img{width: 140px;height: 50px;}
.login-head h3{font-size: 26px;float: left;margin-top: 20px;color: #999;}
.login-wrap{position:relative;height:475px;margin:10px 0 0;background-color:#e93854}
.login-wrap .login-form{position:absolute;width:306px;background:#fff;padding:20px;top:40px;right:240px}
.login-wrap .login-form .mt{display:block;width:306px;height:27px;margin-bottom:5px}
.login-wrap .login-form .mt h1{height:27px;line-height:27px;top:-5px;float:left;color:#666;font-size:20px}
.login-wrap .login-form .mt a{float:right;font-size:14px;color:#b61d1d}
.login-wrap .login-form .mc .item{position:relative;margin-bottom:20px}
.login-wrap .login-form .mc .item.item-fore1,.login-wrap .login-form .mc .item.item-fore2{border:1px solid #bdbdbd;height:38px;width:304px}
.login-wrap .login-form .mc .item.item-fore3{margin-bottom:15px}
.login-wrap .login-form .mc .item .login-label{position:absolute;top:0;left:0;width:38px;height:38px;border-right:1px solid #bdbdbd;background:url(../img/pwd-icons-new.png) no-repeat}
.login-wrap .login-form .mc .item .login-label.pwd-label{background-position:-48px 0}
.login-wrap .login-form .mc .item .itxt{line-height:18px;height:18px;border:0;padding:10px 0 10px 50px;width:254px;overflow:hidden;font-size:14px;}
.login-wrap .login-form .mc .item .safe{color:#666}
.login-wrap .login-form .mc .item .safe span{margin-right:15px}
.login-wrap .login-form .mc .item .safe .forget-pw-safe{position:absolute;right:0;top:0;margin:0}
.login-wrap .login-form .mc .item .login-btn{border:1px solid #cb2a2d;margin:0 auto;height:33px;}
.login-wrap .login-form .mc .item .login-btn .btn-img{border:1px solid #e85356;display:block;width:302px;background:#e4393c;height:31px;line-height:31px;color:#fff;font-size:20px;font-family:'\5fae\8f6f\96c5\9ed1'}
.login-wrap .login-form .mc .coagent{line-height:22px;height:auto}
.login-wrap .login-form .mc .coagent h5{font-weight:400;color:#999}
.login-wrap .login-form .mc .coagent ul li {overflow: hidden; margin-bottom: 10px; width: 49%; height: 20px; } 
.login-wrap .login-form .mc .coagent ul li a { display: inline-block; color: #666; text-decoration: none; cursor: pointer; } 
.login-wrap .login-form .mc .coagent ul li a.f14 { font-size: 14px; font-family: arial; } 
.login-wrap .login-form .mc .coagent ul li a:hover { text-decoration: underline; } 
.login-wrap .login-form .mc .coagent ul li a i { margin: 0 5px 3px 0; *margin: 0 5px 0 0; }

/*×¢²á*/
body.reg{background:#f2f2f2}
.txt{padding:7px 8px;height:18px;vertical-align:middle;font:14px/18px Simsun,arial}
.txt.focus,.txt:focus{border-color:#008be4;box-shadow:1px 1px 1px rgba(0,0,0,.15) inset,1px 1px 0 rgba(51,153,204,.3),-1px -1px 0 rgba(51,153,204,.3)}
.txt-1{width:222px}
.txt-2{width:82px}
.ico-login-otherway{display:inline-block;overflow:hidden;margin:-2px 5px 0 0;width:16px;height:16px;background:url(http://i.fanhuan.com/images/site_master/ico_login_otherway.png) no-repeat;vertical-align:middle}
.i-login-otherway-sina{background-position:0 0}
.i-login-otherway-qq{background-position:-16px 0}
.i-login-otherway-tb{background-position:0 -16px}
.i-login-otherway-alipay{background-position:-16px -16px}
.i-login-otherway-weixin{background-position:0 -64px}
a:hover .i-login-otherway-sina{background-position:0 -32px}
a:hover .i-login-otherway-qq{background-position:-16px -32px}
a:hover .i-login-otherway-tb{background-position:0 -48px}
a:hover .i-login-otherway-alipay{background-position:-16px -48px}
a:hover .i-login-otherway-weixin{background-position:-16px -64px}
.form-item .btn-regist{display:inline-block;border:0 none;font-weight:700;text-align:center;color:#fff;width:270px;height:36px;font-size:16px;text-indent:-9999px;overflow:hidden;background:url(../img/regist-btn.jpg) no-repeat;margin-top:30px}
.btn{padding-left:15px;background-position:left 0}
.btn span{padding-right:15px;background-position:right 0;text-align:center}
.btn:hover,.btn:hover span{text-decoration:none}
.btn-1,.btn-1-40{padding-left:20px;background-position:0 -94px}
.btn-1 span,.btn-1-40 span{padding-right:20px;height:40px;background-position:right -94px;color:#fff;font:700 14px/40px Simsun}
.btn-1-40:hover,.btn-1:hover{background-position:0 -136px}
.btn-1-40:hover span,.btn-1:hover span{background-position:right -136px}
.btn-2-40,.btn-3{padding-left:20px;background-position:0 -390px}
.btn-2-40 span,.btn-3 span{padding-right:20px;height:40px;background-position:right -390px;color:#fff;font:700 14px/40px Simsun}
.btn-2-40:hover,.btn-3:hover{background-position:0 -432px}
.btn-2-40:hover span,.btn-3:hover span{background-position:right -432px}
.btn-2,.btn-3-40{padding-left:20px;background-position:0 -687px}
.btn-2 span,.btn-3-40 span{padding-right:20px;height:40px;background-position:right -687px;color:#666;font:14px/40px Simsun}
.btn-2:hover,.btn-3-40:hover{background-position:0 -729px}
.btn-2:hover span,.btn-3-40:hover span{background-position:right -729px}
.reg-content{padding-bottom:60px;min-width:960px}
.reg-content .box-reg{margin:70px auto 0;overflow:hidden;padding:30px 0 35px 48px;width:910px;border:1px solid #dfdfdf;border-radius:10px;background:#fff;box-shadow:0 2px 0 rgba(0,0,0,.03)}
.box-reg .con-1{float:left;width:612px;border-right:1px solid #e5e5e5}
.box-reg .con-2{margin:55px 70px 0 653px}
.box-reg .con-2 h3{color:#333;margin-bottom:10px;font-size:14px}
.box-reg .con-2 .btn-outer{margin-bottom:25px}
.box-reg .con-2 p{margin-bottom:5px}
.box-reg .con-2 ul{overflow:hidden}
.box-reg .con-2 ul li{overflow:hidden;margin-bottom:10px;width:49%;height:20px}
.box-reg .con-2 ul li a{display:inline-block;color:#666;text-decoration:none;cursor:pointer}
.box-reg .con-2 ul li a.f14{font-size:14px;font-family:arial}
.box-reg .con-2 ul li a:hover{text-decoration:underline}
.box-reg .con-2 ul li a i{margin:0 5px 3px 0}
.box-reg .con-2 .btn-2{padding-left:0;width:120px;height:30px;line-height:30px;text-align:center;border:1px solid #ddd;display:block}
.box-reg .con-2 .btn-2 span{padding-right:20px;width:110px;text-align:center;font-size:16px}
.form-reg .form-item{position:relative;margin-bottom:20px;padding-left:70px}
.form-reg .form-item .label{float:left;color:#999;overflow:hidden;margin-left:-70px;margin-right:4px;width:72px;text-align:right;white-space:nowrap;font-size:14px;line-height:34px}
.form-reg .form-item .label .require{color:red;margin-right:5px;font-weight:400}
.form-reg .form-item .clear-btn{position:absolute;top:1px;left:284px;padding-left:5px;width:20px;height:32px;background:#fff;color:#d9d9d9;font:700 18px/28px tahoma}
.form-reg .form-item .clear-btn:hover{color:#666;text-decoration:none}
.form-reg .form-item .clear-btn-focus{box-shadow:-1px 1px 1px rgba(0,0,0,.15) inset}
.form-reg .btn-1 span{width:200px;text-align:center}
.form-reg .text-term{margin-top:8px;color:#666}
.form-reg .text-term input{margin:-2px 5px 0 0;vertical-align:middle}
.form-reg .text-term a{display:inline-block;color:#005AA0;text-decoration:none}
.form-reg .text-term a.blue:link{color:#005AA0;text-decoration:none}
#reg_mail{color:#a9a9a9}
.tiptext{color:#b5b4b4;margin-top:8px;height:18px;line-height:18px}
.tiptext i{display:inline-block;overflow:hidden;margin:-2px 5px 0 8px;width:15px;height:16px;background:url(http://i.fanhuan.com/images/reg/new_20131231/ico_reg.png) 0 0 no-repeat;vertical-align:middle}
.tiptext-info{color:#b5b4b4}
.tiptext-error{color:red}
.tiptext-ok{color:#060}
.tiptext-loading{display:inline-block;margin:-2px 0 0 8px;width:16px;height:16px;background:url(http://i.fanhuan.com/images/loading1.gif) 0 0 no-repeat;vertical-align:middle}
.tiptext-info i{background-position:0 0}
.tiptext-ok i{background-position:-16px 0}
.tiptext-error i{background-position:-32px 0}
#reg_checkcode{margin-left:8px;width:80px;height:30px;vertical-align:middle;cursor:pointer}
.check-code-change{color:#005AA0}
.check-code-change:hover{color:#008be4;text-decoration:none}
#auto_email{position:absolute;top:34px;left:70px;width:240px;border:1px solid #ccc;background:#fff}
#auto_email th{background:#f6f6f6;color:#666;text-align:left}
#auto_email td,#auto_email th{padding:0 5px;line-height:30px}
#auto_email td{color:#333}
#auto_email td.current{background:#008be4;color:#fff}
.poptip-pass{position:absolute;top:31px;left:65px;z-index:2;display:none;width:100px;height:27px;box-shadow:1px 1px 3px rgba(0,0,0,.18);color:#444;text-align:center;line-height:27px}
.poptip-pass .bg{position:absolute;top:0;left:0;z-index:-1;width:100%;height:25px;border:1px solid #8eacc0;background:#fff}
.poptip-pass b{position:absolute;top:-5px;left:10px;z-index:0;font:12px/1 Simsun}
.poptip-pass .wai{color:#8eacc0}
.poptip-pass .nei{top:-3px;color:#fff}
