<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../../css/layout.css" />
<link type="text/css" rel="stylesheet" href="../../../pluginres/css/runman.css" />
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/layout.js"></script>
<script type="text/javascript" src="../../../pluginres/js/runman.js"></script>
<title>奔跑游戏_中奖记录</title>
</head>
<body>
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#">淘插件</a></h1>
			<div class="slogan"><img src="../../../images/slogan.png" /></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#" class="active"><em class="icon_home"></em>首页</a></li>
				<li><a href="#"><em class="icon_plugin"></em>我的淘插件</a></li>
				<li><a href="#"><em class="icon_login"></em>山间的风</a></li>
				<li><a href="#"><em class="icon_setup"></em>设置</a></li>
				<li><a href="#"><em class="icon_exit"></em>退出</a></li>
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 内容 开始 -->
	<div class="w1190 runman">
		<!-- 左侧内容 开始 -->
		<div class="fl w840 main">
			<div class="tab_title">
				<a>活动设置</a>
				<a class="active" href="#">中奖记录</a>
				<a href="#">排行榜</a>
			</div>
			<div class="cont mark">
				<h4 class="tr">
					<span class="fl"><i class="ico_people"></i>参与人数：<em>20</em></span>
					<span class="fl"><i class="ico_eye"></i>总浏览量：<em>135</em></span>
					<a href="#">导出Excel</a>
				</h4>
				<table>
					<tr>
						<th>序号</th>
						<th>奖项</th>
						<th>奖品名称</th>
						<th>用户信息</th>
						<th>中奖时间</th>
						<th>兑换时间</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>4</td>
						<td>一等奖</td>
						<td><span>30元抵用券</span></td>
						<td>小胖<br />13923898980</td>
						<td>
							<p>14/10/27 18:22</p>
						</td>
						<td>
							<p>&nbsp;</p>
						</td>
						<td>
							<p><a class="btn_green">未兑换</a></p>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>二等奖</td>
						<td><span>iPhone 6</span></td>
						<td>果儿<br />13923898980</td>
						<td>
							<p>14/10/27 18:22</p>
						</td>
						<td>
							<p>14/10/27 18:22</p>
						</td>
						<td>
							<p><a class="btn_gray">已兑换</a></p>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>三等奖</td>
						<td><span>30元抵用券</span></td>
						<td>小胖<br />13923898980</td>
						<td>
							<p>14/10/27 18:22</p>
						</td>
						<td>
							<p>&nbsp;</p>
						</td>
						<td>
							<p><a class="btn_green">未兑换</a></p>
						</td>
					</tr>
					<tr>
						<td>1</td>
						<td>四等奖</td>
						<td><span>iPhone 6</span></td>
						<td>果儿<br />13923898980</td>
						<td>
							<p>14/10/27 18:22</p>
						</td>
						<td>
							<p>14/10/27 18:22</p>
						</td>
						<td>
							<p><a class="btn_gray">已兑换</a></p>
						</td>
					</tr>
				</table>
			</div>
			<!-- 分页 开始 -->
			<div class="tr pages">
				<form>
					<a href="#" class="prev"><!-- 上一张 --></a>
					<a href="#">1</a>
					<a href="#" class="active">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a href="#">7</a>
					<a href="#">8</a>
					<a href="#">9</a>
					<a href="#">10</a>
					<span>......</span>
					<a href="#">103</a>
					<a href="#">104</a>
					<input type="text" />
					<input type="submit" value="GO" />
					<a href="#" class="next"><!-- 下一张 --></a>
				</form>
			</div>
			<!-- 分页 结束 -->
		</div>
		<!-- 左侧内容 结束 -->
		<!-- 右侧内容 开始 -->
		<div class="fr w320 side">
			<div class="service_box">
				<h3>配置太麻烦？我们来帮您</h3>
				<p>您可以拨打：<em>400-188-6666</em></p>
				<p>服务时间段：<em>09:00—23:00</em></p>
				<a href="#" class="btn">联系在线客服</a>
				<div class="clear"></div>
			</div>
			<h4 class="tr">
				<strong class="fl">界面预览</strong>
				<a href="#" class="btn_refresh">刷新</a>
			</h4>
			<div class="cont">
				<!-- 这里放手机端嵌入页面连接 -->
				<iframe width="320" height="400" scrolling="no" src="../../../images/banner.jpg"></iframe>
			</div>
		</div>
		<!-- 右侧内容 结束 -->
		<div class="clear"></div>
	</div>
	<!-- 内容 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">淘插件-营销推广插件超市</a></h2>
		<p>Opyright © 2014 WWW.GIFTGAME.CN All Rights Reserved 有戏（厦门）网络科技有限公司版权所有 闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
</body>
</html>

