/* Reset */
body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,form,dt,dd,input,textarea,th,td,fieldset,legend,dl,dt,dd,figure{margin:0;padding:0;}
fieldset,img{border:0 none;}
ul,ol,li{list-style:none;}
table{border-spacing:0;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
*:focus{outline:none;}
q:before,q:after{content:"";}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
body,input,select,button,textarea{font:16px/1.5 Arial,Helvetica,sans-serif;}
*,*:after,*:before{-webkit-user-select:none;-webkit-touch-callout:none;-ms-user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html,body{-webkit-user-select:none;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{ border:1px solid #b8b7b3;-webkit-user-select:auto;}
em{font-style:normal;font-weight:normal;}
img{vertical-align:top;max-width:100%;}
a{text-decoration:none;color:#000;}
a:hover{color:#000;}
/* Tool */
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clear{clear:both;font-size:1px;width:1px;visibility:hidden;margin-top:0!important;margin-top:-1px;line-height:0}/*ie and firefox1.5 updata */
.clear:after{content:".";display:block;height:0;clear:both;}	/* firefox1.0 */
*+html .clear{margin-top:-1px!important;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
/* End hide from IE-mac */
.fixbottom,.fixtop{position:fixed;left:0;bottom:0;width:100%;height:82px;background:rgba(0,0,0,.6);z-index:2}
.fixbottom .containWrap,.fixtop .containWrap{position:absolute;left:0;top:0;width:100%;height:100%;bottom:0;}
.fixtop{top:0;bottom:auto;}
.space_3 { padding:3px 0 0 0;}
.space_5 { padding:5px 0 0 0;}
.space_10 { padding:10px 0 0 0; }
.space_15 { padding:15px 0 0 0; }
.space_20 { padding:20px 0 0 0; }
.space_30 { padding:30px 0 0 0; }
.space_50 { padding:50px 0 0 0; }
.tc{text-align:center;}
.tr{text-align:right;}

/* global */
body{background:#ececec;}
.hide,#hide{display:none;}
.show,#show{display:block;}
.wrap{margin:0 10px;border-radius:3px;}

/* 焦点图 */
.scrollBox{margin:0 auto 30px;text-align:center;position:relative;z-index:1;box-shadow:0 0 10px rgba(0,0,0,0.5);}
.scrollBox .bd li{width:100%;height:150px;float:left;font-size:14px;overflow:hidden;}
.scrollBox .bd li a{-webkit-tap-highlight-color:rgba(255,255,255,0.1);}
.scrollBox .bd li img{width:100%;height:100%;background:url(../../images/wx/loading.gif) #fff center center no-repeat;}
.scrollBox .hd{height:10px;font-size:0;overflow:hidden;position:absolute;left:50%;bottom:-20px;z-index:2;}
.scrollBox .hd li{float:left;width:8px;height:8px;background:rgba(0,0,0,0.2);margin:0 3px;box-shadow:0 1px 0 rgba(0,0,0,0.6) inset;border-bottom:1px solid #fff;overflow:hidden;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.scrollBox .hd .on{background:#e0848f;}
.scrollBox .prev,.scrollBox .next{float:left;width:0;height:0;overflow:hidden;}
.careme{display:block;width:50px;height:50px;font:12px/26px '黑体';color:#fff;position:absolute;right:0;bottom:0;z-index:1000000;}
.careme img{display:block;width:50px;height:50px;}


/* 底部&版权 */
footer{text-align:center;font:12px/24px Arial,"黑体";color:#999;padding:20px 0 10px;}
footer img{width:120px;max-height:50px;}
footer a{color:#999;}


/* 菜单 */
.menu{position:fixed;width:90%;height:250px;bottom:0;left:-100%;z-index:999999;padding:20px 5%;transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;-o-transition:all 1s;}
.menu ul{}
.menu li{float:left;width:33.3%;margin-bottom:15px;}
.menu li img{display:block;width:60px;height:60px;margin:0 auto 5px auto;}
.menu li span{display:block;width:70px;height:24px;font:14px/24px "黑体";color:#e0848f;text-align:center;margin:0 auto;background:rgba(255,255,255,1);border-radius:5px;box-shadow:0 0 10px rgba(0,0,0,0.2);}
.menu_btn{position:fixed;width:60px;height:60px;bottom:5px;left:-5px;z-index:9999999;transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;-o-transition:all 1s;}
.menu_btn img{width:60px;height:60px;}


/* 标题 */
.n_title{height:40px;margin:0 10px;}
.n_title h3{color:#666;font:16px/40px "黑体";}
.n_title a{color:#63c7bb;font:12px/40px "黑体";}

.t_title{height:37px;font:15px/36px "黑体";text-align:center;background:#fff;border-radius:3px 3px 0 0;}
.t_title a{float:left;color:#666;border-bottom:1px solid #eee;}
.t_title a:hover,.t_title a.active{color:#fff;border-bottom:1px solid #63c7bb;background:#63c7bb;}
.t_title.line2 a{width:50%;}
.t_title.line3 a{width:33.33%;}
.t_title.line4 a{width:25%;}
.t_title.line5 a{width:20%;}
.t_title a:first-child{border-radius:3px 0 0 0;}
.t_title a:last-child{border-radius:0 3px 0 0;}

/* 活动列表 */
.ativ_list li{background:#fff;border-radius:3px;padding:15px 15px 10px;margin-bottom:15px;box-shadow:0 3px 8px rgba(0,0,0,0.1);position:relative;}
.ativ_list li em{color:#63c7bb;}
.ativ_list li .ativ_title{display:block;height:50px;}
.ativ_list li .ativ_title img{height:50px;width:50px;border-radius:3px;float:left;margin-right:10px;}
.ativ_list li .ativ_title h3{font:16px/30px "黑体";}
.ativ_list li .ativ_title p{font:12px/20px "黑体";color:#999;}
.ativ_list li .ativ_intro{display:block;height:62px;margin:10px 0 5px;padding:8px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.ativ_list li .ativ_intro img{float:right;width:50px;height:50px;margin:2px 0 2px 10px;border-radius:60px;padding:3px;border:1px solid #ddd;box-shadow:0 2px 5px rgba(0,0,0,0.1);background:#fff;}
.ativ_list li .ativ_intro h4{font:14px/26px "黑体";text-align:right;height:26px;overflow:hidden;}
.ativ_list li .ativ_intro p{font:12px/18px "黑体";color:#999;max-height:36px;overflow:hidden;}
.ativ_list li .ativ_plugin{display:block;height:30px;font:14px/30px "黑体";overflow:hidden;margin-top:5px;color:#666;}
/*.ativ_list li:first-child{border-radius:0 0 3px 3px;}*/
.ativ_list li .rehot{position:absolute;right:0;top:0;z-index:2;background:#e0848f;color:#fff;width:50px;text-align:center;height:28px;font:14px/28px "黑体";}

.ativ_list dl{background:#fff;margin-bottom:15px;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.ativ_list dt{border-top:1px dotted #ddd;height:36px;font:12px/36px Arial,"黑体";color:#fff;padding:0 10px;text-align:right;border-radius:3px 3px 0 0;}
.ativ_list dt span{float:left;}
.ativ_list dt i{float:left;color:#999;font-style:normal;}
.ativ_list dt b{color:#e0848f;margin-left:5px;}
.ativ_list dt .set_btn{display:inline-block;color:#fff;font:12px/26px Arial,"黑体";padding:0 15px;background:#63c7bb;border-radius:3px;}
.ativ_list dt .renew_btn{display:inline-block;color:#fff;font:12px/26px Arial,"黑体";padding:0 15px;background:#e0848f;border-radius:3px;margin-left:5px;}
.ativ_list dt:first-child{border-top:0;}
.ativ_list dt.not{background:#e0848f;}
.ativ_list dt.ing{background:#63c7bb;}
.ativ_list dt.end{background:#bbb;}
.ativ_list dd{padding:10px;height:50px;}
.ativ_list dd a{display:block;height:50px;}
.ativ_list dd img{float:left;width:50px;height:50px;border-radius:3px;margin-right:10px;}
.ativ_list dd span{float:left;width:30%;height:50px;font:14px/50px "黑体";color:#666;overflow:hidden;}
.ativ_list dd strong{float:right;width:50px;text-align:right;font:16px/50px Georgia;color:#999;margin-left:10px;}
.ativ_list dd .ico_people{display:inline-block;width:15px;height:15px;background:url(../../images/wx/icons.png) no-repeat 0 -25px;background-size:50px;margin-right:3px;vertical-align:-2px;}
.ativ_list dd .ico_eye{display:inline-block;width:15px;height:15px;background:url(../../images/wx/icons.png) no-repeat 0 3px;background-size:50px;margin-right:3px;vertical-align:-2px;}

.ativ_ing{margin-bottom:15px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);position:relative;}
.ativ_ing li{height:50px;padding:15px;border-top:1px solid #ddd;position:relative;}
.ativ_ing li:first-child{border-top:none;}
.ativ_ing li:nth-child(2n){background:#f8f8f8;}
.ativ_ing li .imgbox{float:left;width:50px;height:50px;margin-right:10px;border-radius:3px;}
.ativ_ing li .imgbox img{display:block;width:50px;height:50px;border-radius:3px;}
.ativ_ing li .title{float:left;font:16px/50px "黑体";height:50px;color:#333;max-width:60%;overflow:hidden;}
.ativ_ing li .enterprise{float:right;font:12px/50px "黑体";height:50px;color:#63c7bb;position:absolute;right:15px;bottom:15px;z-index:2;}
.ativ_ing .cover_layout{display:none;background:transparent;width:100%;height:100%;position:absolute;left:0;top:0;z-index:1;}
.ativ_ing li strong{float:left;font:16px/26px "黑体";max-height:50px;color:#333;overflow:hidden;}
.ativ_ing li p{float:left;font:12px/24px "黑体";max-height:50px;color:#999;overflow:hidden;}

/* 模版列表 */
.temp_list{background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);margin-bottom:15px;}
.temp_list li{padding:15px;border-top:1px solid #eee;position:relative;-webkit-font-smoothing:antialiased;}
.temp_list li:first-child{border-top:0;}
.temp_list li:nth-child(2n){background:#f8f8f8;}
.temp_list li .imgbox{float:left;width:50px;height:50px;border-radius:3px;margin:0 15px 5px 0;}
.temp_list li .imgbox img{display:block;width:50px;height:50px;border-radius:3px;}
.temp_list li h3{height:30px;font:14px/30px "黑体";color:#333;overflow:hidden;}
.temp_list li h3 a{color:#333;}
.temp_list li p{height:16px;font:12px/16px Arial,"黑体";color:#999;overflow:hidden;}
.temp_list li p a{float:left;color:#63c7bb;}
.temp_list li .btns{margin-top:5px;height:30px;font:14px/30px Arial,"黑体";color:#999;}
.temp_list li .btns span{float:left;}
.temp_list li .btns span.pink{color:#e0848f;}
.temp_list li .btns .btn_try{display:inline-block;width:64px;height:30px;font:14px/30px "黑体";color:#fff;background:#63c7bb;text-align:center;border-radius:3px;margin-left:5px;}
.temp_list li .btns .btn_direct{display:inline-block;height:30px;padding:0 13px;font:bold 14px/30px "黑体";color:#fff;background:#63c7bb;border-radius:3px;margin-left:5px;}
.temp_list li .btns .btn_add,.temp_list li .btns .btn_free{display:inline-block;height:30px;padding:0 13px;font:14px/30px "黑体";color:#fff;background:#63c7bb;border-radius:3px;margin-left:5px;}
.temp_list li .btns .btn_try:hover{background:#59b3a8;}
.temp_list li .btns .btn_direct:hover{background:#59b3a8;}
.temp_list li .btns .btn_add:hover,.temp_list li .btns .btn_free:hover{background:#59b3a8;}
.temp_list li .btns .btn_add_disable{display:inline-block;height:30px;padding:0 13px;font:14px/30px "黑体";color:#fff;background:#bbb;border-radius:3px;margin-left:5px;}
.temp_list li .absolute{position:absolute;right:15px;bottom:15px;z-index:2;}
.temp_list li .rehot{position:absolute;right:0;top:0;z-index:2;background:#e0848f;color:#fff;width:50px;text-align:center;height:28px;font:14px/28px "黑体";}

/* 渠道列表 */
.path_list{margin-bottom:15px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.path_list ul{background:#fff;border-radius:3px;}
.path_list li{padding:15px;border-top:1px solid #ddd;position:relative;}
.path_list li:first-child{border-top:0;}
.path_list li:nth-child(2n){background:#f8f8f8;}
.path_list li a{display:block;}
.path_list li img{float:left;width:56px;height:56px;border:1px solid #ddd;padding:2px;box-shadow:0 2px 5px rgba(0,0,0,0.1);background:#fff;margin:7px 15px 0 0;}
.path_list h3{color:#333;font:16px/30px "黑体";height:30px;overflow:hidden;}
.path_list h3 strong{font-weight:normal;}
.path_list h3 i{display:inline-block;width:20px;height:20px;vertical-align:middle;margin-left:5px;font-style:normal;}
.path_list .wechat_ico{width:17px;height:17px;background:#44b549;border-radius:2px;color:#fff;font:12px/17px "黑体";text-indent:3px;vertical-align:1px;}
.path_list .sina_ico{background:url(../../images/pc/sina_ico.png) no-repeat 0 0;background-size:100%;}
.path_list span{color:#999;font:12px/22px "黑体";max-height:44px;overflow:hidden;}
.path_list p{font:12px/22px "黑体";color:#999;max-height:44px;word-wrap:break-word;}
.path_list p em{color:#e0848f;}
.path_list li .rehot{position:absolute;right:0;top:0;z-index:2;background:#e0848f;color:#fff;width:50px;text-align:center;height:28px;font:14px/28px "黑体";}

.turnpath_btn{display:block;height:36px;font:16px/36px "黑体";background:#63c7bb;color:#fff;text-align:center;margin:0 10px 15px;border-radius:3px;border-bottom:3px solid #59b3a8;}
.turnpath_btn:hover{color:#fff;background:#59b3a8;}
.turnpath{background:#fff;padding:15px;box-shadow:0 2px 5px rgba(0,0,0,0.1);border-radius:3px;}
.turnpath .fl{width:20%;text-align:right;color:#333;}
.turnpath .fr{width:79%;}
.turnpath .row{font:12px/40px "黑体";}
.turnpath .row em{font-size:12px;color:#e0848f;}
.turnpath .row em img{width:20px;height:20px;vertical-align:-4px;}
.turnpath .row b{font-size:12px;color:#999;font-weight:normal;margin-right:5px;}
.turnpath .row i{font-style:normal;font-family:"黑体";color:#e0848f;margin:0 5px;}
.turnpath .row a{color:#63c7bb;margin:0px 3px;}
.turnpath .row input[type="text"]{width:115px;height:20px;font:14px/20px "黑体";border-radius:3px;border:1px solid #ccc;padding:5px;}
.turnpath .row input[type="password"]{width:220px;height:20px;font:14px/20px "黑体";border-radius:3px;border:1px solid #ccc;padding:5px;}
.turnpath .row input[type="submit"]{width:100px;height:36px;background:#63c7bb;border-radius:3px;border:0;color:#fff;font:14px/14px "黑体";}
.turnpath .row input[type="submit"]:hover{cursor:pointer;background:#5dbaaf;}
.turnpath .row label{font-size:12px;color:#999;line-height:30px;}
.turnpath .row label input[type="checkbox"]{vertical-align:-2px;margin-right:3px;}
.turnpath .row select{padding:4px 4px 5px;border:1px solid #ccc;border-radius:3px;height:32px;font:14px/32px "黑体";margin-top:8px;color:#666;}
.turnpath .row textarea{border:1px solid #ccc;border-radius:3px;width:175px;height:60px;resize:none;vertical-align:top;padding:5px;font:14px/20px "黑体";}
.turnpath .preview{float:left;margin-right:5px;width:40px;height:40px;background:#ddd;}
.turnpath .uploadimg{float:left;width:79px;height:30px;background:#63c7bb;border-radius:3px;color:#fff;font:12px/30px "黑体";text-align:center;position:relative;overflow:hidden;margin-top:5px;}
.turnpath .uploadimg input[type="file"]{display:block;width:79px;height:30px;position:absolute;left:0;top:0;z-index:1;opacity:0;filter:alpha(opacity=0);}
.turnpath .vcode{width:83px;height:32px;cursor:pointer;margin:0 5px 0 3px;vertical-align:-10px;}
.turnpath .change_vcode{display:inline-block;font:12px/16px "黑体";color:#000;background:url(../images/icons.png) no-repeat 5px -2199px;width:40px;height:16px;padding-top:20px;vertical-align:-10px;opacity:.5;filter:alpha(opacity=50);}
.turnpath .change_vcode:hover{opacity:.75;filter:alpha(opacity=75);cursor:pointer;}
.turnpath a.getvcode{display:inline-block;padding:0 10px;height:30px;background:#63c7bb;border-radius:3px;color:#fff;font:12px/30px "黑体";text-align:center;}
.turnpath a.getvcode:hover{background:#5dbaaf;}



/* 模版详情 */
.temp_detail{padding:10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);margin-bottom:15px;}
.temp_detail .avatar{float:left;width:60px;height:60px;border-radius:3px;margin:5px 10px 0 0;}
.temp_detail .wrod p{text-indent:2em;font:12px/24px "黑体";max-height:72px;color:#999;overflow:hidden;margin:0 0 3px 0;}
.temp_detail h3{font:16px/36px "黑体";color:#333;height:36px;overflow:hidden;}
.temp_detail h3 strong{font-weight:normal;}
.temp_detail .topborder{border-top:1px solid #ddd;padding-top:10px;}
.temp_detail p{font:12px/16px Arial,"黑体";color:#666;margin-bottom:10px;}
.temp_detail p a{color:#63c7bb;}
.temp_detail p em{color:#e0848f;line-height:20px;}
.temp_detail .btns{margin-top:15px;text-align:center;}
.temp_detail .btn_try{display:inline-block;width:80px;height:32px;font:16px/32px "黑体";color:#fff;text-align:center;background:#63c7bb;border-radius:3px;margin-right:10px;}
.temp_detail .btn_direct{display:inline-block;width:80px;height:32px;font:16px/32px "黑体";color:#fff;text-align:center;background:#63c7bb;border-radius:3px;}
.temp_detail .btn_demo{display:inline-block;width:80px;height:32px;font:16px/32px "黑体";color:#fff;text-align:center;background:#63c7bb;border-radius:3px;margin-right:10px;}
.temp_detail .btn_try:hover{background:#59b3a8;}
.temp_detail .btn_direct:hover{background:#59b3a8;}
.temp_detail .btn_demo:hover{background:#59b3a8;}
.temp_detail .ico_publh{display:inline-block;width:20px;height:20px;background:url(../../images/wx/icons.png) no-repeat 0 -327px;background-size:60px;vertical-align:-5px;margin-right:3px;}
.temp_detail .ico_clock{display:inline-block;width:20px;height:20px;background:url(../../images/wx/icons.png) no-repeat 0 -358px;background-size:60px;vertical-align:-5px;margin-right:3px;}

.temp_imgs{width:100%;height:200px;overflow:auto;position:relative;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);margin-bottom:15px;}
.temp_imgs img{width:105px;height:180px;float:left;margin:0;padding:0;border:4px solid #fff;border-right:0;}
.temp_imgs .imgs{width:549px;}
.temp_imgs .turn a{position:absolute;top:50%;z-index:100;color:#fff;margin-top:-30px;display:block;height:60px;width:30px;font:20px/60px "黑体";text-align:center;color:#fff;background:rgba(0,0,0,0.3);}
.temp_imgs .turn a.turn_next{right:0;border-radius:3px 0 0 3px;}
.temp_imgs .turn a.turn_prev{left:0;border-radius:0 3px 3px 0;}

.use_explain{margin-bottom:15px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.use_explain .words{height:115px;overflow:hidden;padding:10px 15px;}
.use_explain p{font:14px/30px "黑体";color:#666;text-indent:2em;}
.use_explain p.indent{text-indent:2em;}
.use_explain .fold{display:block;font:12px/36px "黑体";height:36px;text-align:center;border-top:1px solid #ddd;background:#f8f8f8;color:#63c7bb;border-radius:0 0 3px 3px;}


/* 模版预告 */
.temp_notice{height:36px;color:#999;padding:0 5px;font:12px/36px "黑体";background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);margin-bottom:10px;overflow:hidden;}
.temp_notice img{float:left;width:24px;margin:6px 5px 0 3px;}
.temp_notice a{color:#63c7bb;}

/* 更多 */
.getmore{height:36px;font:12px/36px Arial,"黑体";color:#999;text-align:center;}
.getmore a{color:#63c7bb;}
.seemore{display:block;font:12px/36px "黑体";height:36px;text-align:center;border-top:1px solid #ddd;background:#f8f8f8;color:#63c7bb;border-radius:0 0 3px 3px;}

/* 若没有内容 */
.ifnone{height:150px;text-align:center;font:12px/150px "黑体";color:#999;}

/* 过期 */
.overdue{text-align:center;font:16px/80px "黑体";color:#666;}

/* 错误 */
.error{text-align:center;color:#666;font:bold 16px/40px "黑体";text-shadow:0 1px 0 rgba(255,255,255,1);}
.error h3{font:bold 20px/40px "黑体";}
.error img{width:30px;margin:30px 0;}
.error a{color:#63c7bb;}

/* 提示信息 */
.prompt{position:fixed;top:0;left:0;z-index:1000;width:100%;height:100%;background:rgba(0,0,0,.5);}
.prompt .cont{position:absolute;width:90%;margin:0 5%;top:50%;left:0;z-index:1001;background:#fff;border-radius:3px;box-shadow:0 0 10px rgba(0,0,0,.5);}
.prompt .title{font:16px/32px "黑体";color:#333;height:32px;padding:0 10px;background:#eee;border-bottom:1px solid #ddd;border-radius:3px 3px 0 0;}
.prompt .title strong{font-weight:normal;}
.prompt .title i{font-style:normal;float:right;color:#999;}
.prompt .text{padding:15px;color:#666;}
.prompt .text p{font:14px/26px Arial,"黑体";}
.prompt .text h3{font:18px/40px Arial,"黑体";color:#e0848f;}
.prompt .text a{color:#63c7bb;}
.prompt .text select{font:12px/30px Arial,"黑体";padding:3px;}
.prompt .text input[type="radio"],.prompt .text input[type="checkbox"]{vertical-align:-2px;}
.prompt .btns{text-align:center;height:28px;padding:0 0 15px;}
.prompt .btns a{display:inline-block;height:28px;padding:0 15px;font:14px/28px "黑体";border-radius:3px;background:#bbb;color:#fff;margin:0 7px;}
.prompt .btns a.done_btn{background:#63c7bb;}
.prompt .cont.h170{height:170px;margin-top:-85px;}
.prompt .cont.h210{height:210px;margin-top:-105px;}
.prompt .cont.h250{height:250px;margin-top:-125px;}
.prompt .contact{padding:12px 15px;font:14px/36px Arial,"黑体";color:#666;}
.prompt .contact li{height:36px;border-top:1px dotted #ccc;overflow:hidden;}
.prompt .contact li:first-child{border-top:0;}
.prompt .contact li a{color:#63c7bb;}
.prompt .contact li i{display:inline-block;width:20px;height:20px;background:url(../../images/wx/icons.png) no-repeat 0 0;background-size:62.5px;vertical-align:-4px;margin-right:5px;}
.prompt .contact .phone_ico{background-position:5px -126px;}
.prompt .contact .qq_ico{background-position:2px -156px;}
.prompt .contact .wechat_ico{background-position:0 -186px;}
.prompt .contact .mail_ico{background-position:1px -215px;}

/* 开发者 */
.developer{margin-bottom:15px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.developer li{padding:10px 15px;border-top:1px solid #ddd;color:#666;}
.developer li:first-child{border-top:0;}
.developer li:nth-child(2n){background:#f8f8f8;}
.developer li dt{border-bottom:1px dotted #ddd;padding-bottom:5px;}
.developer li dt .avatar{float:left;width:50px;height:50px;margin-right:10px;border:1px solid #ddd;border-radius:60px;padding:3px;box-shadow:0 2px 5px rgba(0,0,0,0.1);}
.developer li dt .avatar img{display:block;width:50px;height:50px;border-radius:60px;}
.developer li dt h3{height:34px;font:14px/34px "黑体";overflow:hidden;}
.developer li dt p{height:20px;font:12px/20px "黑体";overflow:hidden;color:#999;}
.developer li dd{height:30px;font:12px/30px "黑体";overflow:hidden;color:#333;}
.developer li dd strong{color:#e0848f;font:16px/34px Georgia;}
.developer li dd a{color:#63c7bb;}
.developer li dd .ico_suc{display:inline-block;width:20px;height:16px;background:url(../../images/wx/icons.png) no-repeat 0 -240px;background-size:60px;vertical-align:middle;margin-right:3px;}
.developer li dd .ico_gold{display:inline-block;width:20px;height:16px;background:url(../../images/wx/icons.png) no-repeat 3px -225px;background-size:50px;vertical-align:middle;margin-right:3px;}

/* 个人中心 */
.user_center{margin-bottom:15px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);padding:15px;position:relative;}
.user_center .active_layout{display:none;background:transparent;width:100%;height:100%;position:absolute;left:0;top:0;z-index:1;}
.user_center .avatar{float:left;width:60px;height:60px;margin-right:15px;border:1px solid #ddd;border-radius:60px;padding:3px;box-shadow:0 2px 5px rgba(0,0,0,0.1);}
.user_center .avatar img{display:block;width:60px;height:60px;border-radius:60px;}
.user_center h3{text-align:right;font:16px/30px "黑体";height:30px;margin-bottom:5px;}
.user_center h3 .title{float:left;}
.user_center h3 .contact_btn{display:inline-block;font:12px/24px "黑体";color:#fff;background:#63c7bb;border-radius:3px;padding:0 8px;}
.user_center h3 .cash_btn{display:inline-block;font:12px/24px "黑体";color:#fff;background:#e0848f;border-radius:3px;padding:0 8px;}
.user_center p{font:12px/24px "黑体";max-height:72px;color:#999;overflow:hidden;}
.user_center .contact_btn{display:inline-block;}
.user_center .contact_btn a{display:inline-block;width:60px;height:28px;background:#bbb;text-align:center;color:#fff;border-radius:3px;font:12px/28px "黑体";vertical-align:top;}
.user_center .contact_btn a:hover{background:#aaa;}
.user_center .contact_btn .btn_green{background:#63c7bb;}
.user_center .contact_btn .btn_green:hover{background:#59b3a8;}
.user_center .contact_btn .btn_pink{background:#e0848f;}
.user_center .contact_btn .btn_pink:hover{background:#cc7882;}

.user_center.cash .avatar{float:left;width:50px;height:50px;margin-right:15px;border:1px solid #ddd;border-radius:50px;padding:3px;box-shadow:0 2px 5px rgba(0,0,0,0.1);}
.user_center.cash .avatar img{display:block;width:50px;height:50px;border-radius:50px;}
.user_center.cash h3{line-height:26px;height:26px;}
.user_center.cash p{font:14px/30px "黑体";color:#666;margin-bottom:5px;}
.user_center.cash p a{color:#63c7bb;margin-left:10px;}
.user_center.cash p em{color:#e0848f;}
.user_center.cash p b{font-weight:normal;}
.deposit{font:14px/30px "黑体";color:#666;margin-top:7px;}
.deposit input[type="text"]{width:80px;height:20px;font:12px/20px "黑体";color:#666;border:1px solid #ccc;border-radius:3px;padding:4px;vertical-align:top;}
.deposit span{float:left;width:70px;}
.deposit em{font-size:12px;color:#bbb;}
.deposit .submit{display:inline-block;width:70px;border-radius:3px;background:#63c7bb;color:#fff;text-align:center;margin-left:10px;}

.cash_list{background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);font:12px/36px "黑体";margin-bottom:10px;}
.cash_list table{width:100%;}
.cash_list th{text-align:center;border-bottom:1px solid #63c7bb;color:#63c7bb;min-width:70px;}
.cash_list td{text-align:center;border-bottom:1px dotted #ddd;color:#666;}
.cash_list tr:last-child td{border:0;}

/* 编辑资料 */
.edit{background:rgba(255,255,255,0.75);height:36px;width:100%;padding:15px 0;text-align:center;position:fixed;bottom:0;left:0;z-index:1000;box-shadow:0 -2px 15px rgba(0,0,0,0.3);}
.edit a{display:inline-block;margin:0 10px;min-width:80px;padding:0 15px;height:36px;font:14px/36px "黑体";border-radius:3px;color:#fff;}
.edit_btn{background:#63c7bb;}

.user_edit .avatar_upload{float:left;width:60px;height:60px;position:relative;margin-right:15px;border-radius:60px;}
.user_edit .avatar_upload input[type="file"]{display:block;width:60px;height:60px;position:absolute;left:0;top:0;z-index:1;opacity:0;border-radius:60px;}
.user_edit .avatar_upload img{display:block;width:60px;height:60px;border-radius:60px;}
.user_edit .box{padding:10px 0;margin-bottom:10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.user_edit .row{padding:5px 15px;line-height:30px;}
.user_edit .row div.fl{width:72%;}
.user_edit .row span{font:12px/60px "黑体";color:#bbb;}
.user_edit .row strong{float:left;font:16px/36px Arial,"黑体";height:40px;width:50px;text-align:right;margin-right:10px;overflow:hidden;color:#666;}
.user_edit .row input[type="text"]{border-radius:3px;height:36px;font:16px/18px "黑体";padding:8px;color:#666;width:100%;box-sizing:border-box;}
.user_edit .row em{display:block;color:#e0848f;font:12px/20px "黑体";height:20px;overflow:hidden;}
.user_edit .row select{border-radius:3px;height:36px;font:16px/16px "黑体";padding:0 5px;color:#666;margin:0;}
.user_edit .row textarea{padding:5px;border-radius:3px;width:100%;height:60px;font:16px/30px "黑体";box-sizing:border-box;resize:none;color:#666;}
.user_edit .row label{font:12px/36px "黑体";color:#999;}
.user_edit .row input[type="checkbox"]{margin-right:3px;vertical-align:-2px;}
.user_edit .btn_submit{background:rgba(255,255,255,0.75);height:36px;width:100%;padding:15px 0;text-align:center;position:fixed;bottom:0;left:0;z-index:1;box-shadow:0 -2px 15px rgba(0,0,0,0.3);}
.user_edit .btn_submit input[type="submit"]{border:0;border-radius:3px;width:120px;height:36px;background:#63c7bb;color:#fff;cursor:pointer;font:16px/16px "黑体";}


/* 经典案例 */
.classic ul{width:100%;} 
.classic .space_7{padding-top:7px;}
.classic ul li{margin-bottom:20px;background:#fff;border-radius:5px 5px 0 0;box-shadow:0 0 10px rgba(0,0,0,0.3);}
.classic ul dt{padding:15px 15px 10px;}
.classic ul dt img{float:left;width:50px;height:50px;border-radius:56px;border:1px solid #ddd;padding:2px;margin-right:10px;}
.classic ul dt h4{font:20px/56px "黑体";height:56px;overflow:hidden;}
.classic ul dt .line{width:100%;height:0;border-top:1px solid #ddd;margin-top:5px;padding-top:5px;}
.classic ul dt p{font:12px/30px "黑体";color:#787878;height:30px;overflow:hidden;}
.classic ul dt p span{color:#e0848f;}
.classic ul dt p a{color:#63c7bb;}
.classic ul dd{width:100%;height:420px;overflow:hidden;position:relative;margin:0 auto;}
.classic ul dd img{width:280px;height:420px;float:left;margin:0;padding:0;border:0;}
.classic ul dd .imgs{width:10000px;height:420px;}
.classic ul dd .turn a{display:block;height:60px;width:30px;font:20px/60px "黑体";text-align:center;color:#fff;background:rgba(0,0,0,0.3);position:absolute;top:50%;z-index:100;color:#fff;margin-top:-30px;}
.classic ul dd .turn a.turn_next{right:0;border-radius:3px 0 0 3px;}
.classic ul dd .turn a.turn_prev{left:0;border-radius:0 3px 3px 0;}

/* 订单列表 */
.order_list dl{background:#fff;margin-top:15px;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.order_list dl:first-child{margin-top:0;}
.order_list dt{height:36px;font:12px/36px Arial,"黑体";color:#fff;padding:0 10px;text-align:right;border-radius:3px 3px 0 0;}
.order_list dt span{float:left;}
.order_list dt.not{background:#e0848f;}
.order_list dt.ing{background:#63c7bb;}
.order_list dt.end{background:#bbb;}
.order_list dd{padding:15px;}
.order_list dd .fl{width:60%;height:50px;overflow:hidden;}
.order_list dd .fr{width:40%;height:50px;font-size:12px;}
.order_list dd img{width:50px;border-radius:3px;margin-right:10px;}
.order_list dd span{width:30%;font:14px/50px "黑体";color:#666;overflow:hidden;}
.order_list dd strong{width:50px;text-align:right;font:12px/50px '黑体';color:#999;margin-left:10px;}
.order_list dd .btns{clear:both;font:14px/24px "黑体";padding-top:10px;color:#e0848f;}
.order_list dd .btns a{float:right;height:24px;padding:0 6px;border-radius:3px;background:#63c7bb;color:#fff;margin-left:8px;font-size:12px;}
.order_list dd .btns del{margin-right:5px;color:#999;}
.order_list dd .btns b{float:right;color:#999;font-weight:normal;}
.order_list dd .btns .cancel{background:#bbb;}

.close_order .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.close_order .cont{width:90%;height:150px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-75px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.close_order h3{height:36px;background:#f5f5f5;font:16px/36px "黑体";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.close_order h3 strong{float:left;font-weight:normal;margin-left:20px;}
.close_order h3 .close{font:14px/36px "黑体";color:#999;margin-right:10px;}
.close_order h3 .close:hover{color:#63c7bb;cursor:pointer;}
.close_order p{font:14px/26px "黑体";text-align:center;color:#333;margin:20px 0;}
.close_order .btns{text-align:center;}
.close_order .btn_cancel{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "黑体";margin:0 5px;}
.close_order .btn_cancel:hover{background:#aaa;}
.close_order .btn_done{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#63c7bb;border-radius:3px;font:14px/28px "黑体";margin:0 5px;}
.close_order .btn_done:hover{background:#59b3a8;}

/* 支付方式 */
.pay_method{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.pay_method dl{margin:15px;}
.pay_method dt{text-align:center;font:18px/100px "黑体";}
.pay_method dt p{text-align:left;font:14px/20px "黑体";color:#666;}
.pay_method dt p b{margin:0 5px;color:#63c7bb;vertical-align:middle;}
.pay_method dt strong{font:24px/100px Georgia;color:#e0848f;margin-right:5px;}
.pay_method dd{font:14px/30px "黑体";color:#666;margin-bottom:15px;}
.pay_method dd strong{font-weight:normal;color:#e0848f;margin:0 3px;vertical-align:middle;}
.pay_method dd label{display:block;border:2px solid rgba(99,199,187,0.3);height:40px;margin:10px auto;text-indent:10px;font:14px/40px "黑体";color:#666;}
.pay_method dd input{vertical-align:-1px;margin-right:4px;}
.pay_method dd span{display:none;float:right;margin-right:10px;font-size:14px;}
.pay_method dd.active label{border:2px solid #63c7bb;}
.pay_method dd.active span{display:block;}
.pay_method .btn_done{display:block;background:#63c7bb;border:1px solid #63c7bb;border-radius:3px;height:40px;width:98%;margin:10px auto;text-align:center;font:16px/40px "黑体";color:#fff;}
.pay_method .btn_done:hover{background:#59b3a8;}
.pay_method dd em{display:block;font:12px/20px "黑体";color:#e0848f;}

/* 帮助中心 */
.help_center{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.help_center .title{font:16px/40px "黑体";height:40px;padding:0 15px;color:#666;}
.help_center .title:hover{background:#f8f8f8;}
.help_center .text{color:#666;display:none;border-top:2px solid #63c7bb;padding:10px 15px;font:12px/30px "黑体";color:#333;}
.help_center .text h4{color:#63c7bb;}
.help_center .text p{margin-bottom:4px;}
.help_center .text p em{color:#63c7bb;margin-right:5px;}

/* 修改帐号 */
.actype_box .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.actype_box dl{width:94%;height:200px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-100px 3% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.actype_box dt{height:36px;border-bottom:1px solid #ddd;background:#eee;font:16px/36px "黑体";color:#666;padding:0 15px;border-radius:3px 3px 0 0;}
.actype_box dd{font:14px/40px "黑体";color:#666;margin:10px 0;}
.actype_box dd .fl{float:left;width:28%;text-align:right;}
.actype_box dd .fr{width:70%;}
.actype_box dd .fr select{border:1px solid #ccc;border-radius:3px;padding:4px;color:#666;font:12px/30px "黑体";margin-top:7px;}
.actype_box dd .fr input[type="text"]{border:1px solid #ccc;border-radius:3px;font:12px/20px "黑体";color:#666;padding:5px;height:20px;width:180px;margin-top:6px;}
.actype_box dd.btns{text-align:center;}
.actype_box dd.btns a{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "黑体";margin:0 10px;}
.actype_box dd.btns a:hover{background:#aaa;}
.actype_box dd.btns a.btn_done{background:#63c7bb;}
.actype_box dd.btns a.btn_done:hover{background:#59b3a8;}


/* 显示大图 */
.bigimg_box{position:fixed;width:100%;height:100%;left:0;top:0;z-index:1111;background:rgba(0,0,0,.6);}
.bigimg_box img{position:absolute;left:50%;top:50%;z-index:1112;display:block;max-width:80%;max-height:80%;border:5px solid #fff;border-radius:5px;}

.bigimg_boxlist{position:fixed;width:100%;height:100%;left:0;top:0;z-index:1111;background:rgba(0,0,0,.6);}
.bigimg_boxlist img{position:absolute;left:50%;top:50%;z-index:1112;display:block;max-width:80%;max-height:80%;border:5px solid #fff;border-radius:5px;}
.bigimg_boxlist span{display:block;text-align:center;position:fixed;z-index:11112;color:rgba(255,255,255,.75);-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;-user-select:none;}
.bigimg_boxlist span.close{width:50px;height:50px;right:0;top:0;font:30px/50px "黑体";background:rgba(0,0,0,.25);}
.bigimg_boxlist span.prev{width:44px;height:80px;left:0;top:50%;margin-top:-40px;font:50px/80px "黑体";background:rgba(0,0,0,.25);border-radius:0 5px 5px 0;}
.bigimg_boxlist span.next{width:44px;height:80px;right:0;top:50%;margin-top:-40px;font:50px/80px "黑体";background:rgba(0,0,0,.25);border-radius:5px 0 0 5px;}
.bigimg_boxlist span:hover{cursor:pointer;color:#fff;}



