/*

	For TinyLi 2014-11-20
	GlobalStyle v1.0

*/
/* Reset */
body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,form,dt,dd,input,textarea,th,td,fieldset,legend,dl,dt,dd,figure{margin:0;padding:0;}
fieldset,img{border:0 none}
ul,ol,li{list-style:none}
table{border-spacing:0}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
*:focus{outline:none}
q:before,q:after{content:""}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body,input,select,button,textarea{font:16px/1.5 Arial,Helvetica,sans-serif;}
*,*:after,*:before{-webkit-user-select:none;-webkit-touch-callout:none;-ms-user-select: none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html,body{-webkit-user-select: none;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{ border:1px solid #b8b7b3;-webkit-user-select:auto;}
em{font-style:normal;font-weight:normal}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align: baseline}
sup {top: -0.5em}
sub {bottom: -0.25em}
img{vertical-align:top;max-width:100%;}
a{text-decoration:none; color:#333;}
a:hover{color:#333;}
/* Tool */
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clear{clear:both;font-size:1px;width:1px;visibility:hidden;margin-top:0!important;margin-top:-1px;line-height:0}/*ie and firefox1.5 updata */
.clear:after{content:".";display:block;height:0;clear:both;}	/* firefox1.0 */
*+html .clear{margin-top:-1px!important;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
/* End hide from IE-mac */
.fixbottom,.fixtop{position:fixed;left:0;bottom:0;width:100%;height:82px;background:rgba(0,0,0,.6);z-index:2}
.fixbottom .containWrap,.fixtop .containWrap{position:absolute;left:0;top:0;width:100%;height:100%;bottom:0;}
.fixtop{top:0;bottom:auto;}
.space_5 { padding:5px 0 0 0;}
.space_10 { padding:10px 0 0 0; }
.space_15 { padding:15px 0 0 0; }
.space_20 { padding:20px 0 0 0; }
.space_30 { padding:30px 0 0 0; }
.space_50 { padding:50px 0 0 0; }
.tc{text-align:center;}
.tr{text-align:right;}

/* global */
body{background:#ececec;}
.hide{display:none;}
#show{display:block;}

/* banner */
.scrollBox{margin:0 auto;text-align:center;position:relative;z-index:1;box-shadow:0 0 10px rgba(0,0,0,0.5);}
.scrollBox .bd li{width:100%;height:150px;float:left;font-size:14px;overflow:hidden;}
.scrollBox .bd li a{-webkit-tap-highlight-color:rgba(255,255,255,0.1);}/* 链接触摸高亮 */
.scrollBox .bd li img{width:100%;height:100%;background:url(../../images/wx/loading.gif) #fff center center no-repeat;}
.scrollBox .hd{height:10px;font-size:0;overflow:hidden;position:absolute;left:50%;bottom:-20px;z-index:2;}
.scrollBox .hd li{float:left;width:8px;height:8px;background:rgba(0,0,0,0.2);margin:0 3px;box-shadow:0 1px 0 rgba(0,0,0,0.6) inset;border-bottom:1px solid #fff;overflow:hidden;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.scrollBox .hd .on{background:#e0848f;}
.scrollBox .prev,.scrollBox .next{float:left;width:0;height:0;overflow:hidden;}

.careme{display:block;width:50px;height:50px;font:12px/26px '微软雅黑';color:#fff;position:absolute;right:0;bottom:0;z-index:1000000;}
.careme img{display:block;width:50px;height:50px;}


/* title */
.tab_title{margin:0 10px;height:40px;font:15px/40px "微软雅黑";border-radius:3px 3px 0 0;}
.tab_title a{float:left;width:33.33%;height:38px;line-height:38px;color:#999;text-align:center;border-top:2px solid #ececec;border-radius:3px 3px 0 0;}
.tab_title a:hover,.tab_title a.active{background:#fff;color:#63c7bb;border-top:2px solid #63c7bb;cursor:pointer;box-shadow:2px -2px 4px rgba(0,0,0,0.1);}

.norl_title{font:16px/40px "微软雅黑";height:40px;border-bottom:2px solid #63c7bb;padding:0 15px;text-align:right;}
.norl_title h3{float:left;}
.norl_title a{font-size:12px;color:#63c7bb;}

#index_tab .active em{transition:all 0.5s;}

/* plugin list */
.plugin_list{background:#fff;margin:0 10px;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.plugin_list li{padding:15px;border-top:1px solid #eee;position:relative;}
.plugin_list li:first-child{border-top:0;}
.plugin_list li:nth-child(2n){background:#f8f8f8;}
.plugin_list li .imgbox{float:left;width:50px;height:50px;border-radius:3px;margin:0 15px 5px 0;}
.plugin_list li .imgbox img{display:block;width:50px;height:50px;border-radius:3px;}
.plugin_list li h3{height:30px;font:14px/30px "微软雅黑";color:#333;overflow:hidden;}
.plugin_list li h3 a{color:#333;}
.plugin_list li p{height:16px;font:12px/16px Arial,"宋体";color:#999;overflow:hidden;}
.plugin_list li p a{float:left;color:#63c7bb;}
.plugin_list li .btns{margin-top:5px;height:30px;font:14px/30px Arial,"宋体";color:#999;}
.plugin_list li .btns span{float:left;}
.plugin_list li .btns span.pink{color:#e0848f;}
.plugin_list li .btns .btn_try{display:inline-block;width:64px;height:30px;font:14px/30px "宋体";color:#fff;background:#63c7bb;text-align:center;border-radius:3px;margin-left:5px;}
.plugin_list li .btns .btn_direct{display:inline-block;height:30px;padding:0 13px;font:bold 14px/30px "宋体";color:#fff;background:#63c7bb;border-radius:3px;margin-left:5px;}
.plugin_list li .btns .btn_add,.plugin_list li .btns .btn_free{display:inline-block;height:30px;padding:0 13px;font:14px/30px "宋体";color:#fff;background:#63c7bb;border-radius:3px;margin-left:5px;}
.plugin_list li .btns .btn_try:hover{background:#59b3a8;}
.plugin_list li .btns .btn_direct:hover{background:#59b3a8;}
.plugin_list li .btns .btn_add:hover,.plugin_list li .btns .btn_free:hover{background:#59b3a8;}
.plugin_list li .btns .btn_add_disable{display:inline-block;height:30px;padding:0 13px;font:14px/30px "宋体";color:#fff;background:#bbb;border-radius:3px;margin-left:5px;}
.plugin_list li .absolute{position:absolute;right:15px;bottom:15px;z-index:2;}


/* activity list */
.activity_list{margin:0 10px;}
.activity_list dl{background:#fff;margin-top:15px;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.activity_list dl:first-child{margin-top:0;}
.activity_list dt{height:36px;font:12px/36px Arial,"宋体";color:#fff;padding:0 10px;text-align:right;border-radius:3px 3px 0 0;}
.activity_list dt span{float:left;}
.activity_list dt.not{background:#e0848f;}
.activity_list dt.ing{background:#63c7bb;}
.activity_list dt.end{background:#bbb;}
.activity_list dd{padding:20px 15px;height:50px;}
.activity_list dd a{display:block;height:50px;}
.activity_list dd img{float:left;width:50px;height:50px;border-radius:3px;margin-right:10px;}
.activity_list dd span{float:left;width:30%;height:50px;font:14px/50px "微软雅黑";color:#666;overflow:hidden;}
.activity_list dd strong{float:right;width:50px;text-align:right;font:16px/50px Georgia;color:#999;margin-left:10px;}
.activity_list dd .ico_people{display:inline-block;width:15px;height:15px;background:url(../../images/wx/icons.png) no-repeat 0 -25px;background-size:50px;margin-right:3px;vertical-align:-2px;}
.activity_list dd .ico_eye{display:inline-block;width:15px;height:15px;background:url(../../images/wx/icons.png) no-repeat 0 3px;background-size:50px;margin-right:3px;vertical-align:-2px;}


/* activity recomend */
.activity_recomd{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);position:relative;}
.activity_recomd li{height:50px;padding:15px;border-top:1px solid #ddd;position:relative;}
.activity_recomd li:first-child{border-top:none;}
.activity_recomd li:nth-child(2n){background:#f8f8f8;}
.activity_recomd li .imgbox{float:left;width:50px;height:50px;margin-right:10px;border-radius:3px;}
.activity_recomd li .imgbox img{display:block;width:50px;height:50px;border-radius:3px;}
.activity_recomd li .title{float:left;font:14px/50px "微软雅黑";height:50px;color:#333;max-width:60%;overflow:hidden;}
.activity_recomd li .enterprise{float:right;font:12px/50px "宋体";height:50px;color:#63c7bb;position:absolute;right:15px;bottom:15px;z-index:2;}
.activity_recomd .cover_layout{display:none;background:transparent;width:100%;height:100%;position:absolute;left:0;top:0;z-index:1;}


/* deal record */
.deal_record{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.deal_record .norl_title em{color:#e0848f;}
.deal_record li{height:50px;font:12px/50px "宋体";color:#666;overflow:hidden;padding:10px 20px;border-bottom:1px solid #ddd;}
.deal_record li span{color:#999;margin-left:10px;}


/* help_center */
.help_center{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.help_center .title{font:16px/40px "微软雅黑";height:40px;padding:0 15px;}
.help_center .title:hover{background:#f8f8f8;}
.help_center .text{display:none; border-top:2px solid #63c7bb;padding:10px 20px;font:12px/30px "微软雅黑";color:#333;}
.help_center .text p{text-indent:2em;}
.help_center .text p em{color:#63c7bb;margin-right:5px;}

.overdue{text-align:center;font:16px/80px "微软雅黑";color:#666;}


/* error */
.error{text-align:center;color:#666;font:bold 16px/40px "微软雅黑";text-shadow:0 1px 0 rgba(255,255,255,1);}
.error h3{font:bold 20px/40px "微软雅黑";}
.error img{width:30px;margin:30px 0;}
.error a{color:#63c7bb;}


/* user center */
.user_center{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.user_center .card{padding:15px;position:relative;}
.user_center .card .active_layout{display:none;background:transparent;width:100%;height:100%;position:absolute;left:0;top:0;z-index:1;}
.user_center .card .avatar{float:left;width:60px;height:60px;margin-right:15px;border:1px solid #ddd;border-radius:60px;padding:3px;box-shadow:0 2px 5px rgba(0,0,0,0.1);}
.user_center .card .avatar img{display:block;width:60px;height:60px;border-radius:60px;}
.user_center .card h3{text-align:right;font:16px/30px "微软雅黑";height:30px;margin-bottom:5px;}
.user_center .card h3 .title{float:left;}
.user_center .card h3 .btn_edit{display:none;float:left;width:15px;height:15px;background:url(../../images/wx/icons.png) no-repeat 0 -235px;background-size:47px;margin:10px 0 0 5px;cursor:pointer;}
.user_center .card p{text-indent:2em;font:12px/24px "宋体";max-height:72px;color:#999;overflow:hidden;}
.user_center .card .contact_btn{display:inline-block;}
.user_center .card .contact_btn a{display:inline-block;width:60px;height:28px;background:#bbb;text-align:center;color:#fff;border-radius:3px;font:12px/28px "宋体";vertical-align:top;}
.user_center .card .contact_btn a:hover{background:#aaa;}
.user_center .card .contact_btn .btn_green{background:#63c7bb;}
.user_center .card .contact_btn .btn_green:hover{background:#59b3a8;}
.user_center .card .contact_btn .btn_pink{background:#e0848f;}
.user_center .card .contact_btn .btn_pink:hover{background:#cc7882;}
.user_center .friend{padding:0 15px 20px;}
.user_center .friend .title{height:40px;font:16px/40px "微软雅黑";border-bottom:1px dotted #ddd;overflow:hidden;margin-bottom:15px;position:relative;}
.user_center .friend .title .cover_layout{display:none;background:transparent;width:100%;height:100%;position:absolute;left:0;top:0;z-index:1;}
.user_center .friend .title strong{float:left;font:16px/40px "微软雅黑";color:#333;}
.user_center .friend .title .gift{float:right;height:30px;margin-top:4px;}
.user_center .friend .title .gift li{float:left;width:30px;height:30px;margin-left:10px;background:url(../../images/wx/gift.png) no-repeat 0 0;background-size:30px;}
.user_center .friend .title .gift li.active{background:url(../../images/wx/nogift.png) no-repeat 0 0;background-size:25px;}
.user_center .my_activitys{position:relative;}
.user_center .my_activitys .cover_layout{display:none;background:transparent;width:100%;height:100%;position:absolute;left:0;top:0;z-index:1;}
.user_center .my_activitys h2{height:40px;font:16px/40px "微软雅黑";overflow:hidden;margin: 0 15px;}
.user_center .my_activitys li{height:50px;padding:15px 0;margin:0 15px;border-top:1px dotted #ddd;position:relative;}
.user_center .my_activitys li .imgbox{float:left;width:50px;height:50px;margin-right:10px;border-radius:3px;}
.user_center .my_activitys li .imgbox img{display:block;width:50px;height:50px;border-radius:3px;}
.user_center .my_activitys li .title{float:left;font:14px/50px "微软雅黑";height:50px;color:#333;max-width:60%;overflow:hidden;}
.user_center .my_activitys li .ico_delete{display:none;float:right;width:16px;height:16px;background:#fff url(../../images/wx/icons.png) no-repeat 1px -50px;background-size:50px;margin:22px 0;position:absolute;right:15px;bottom:10px;z-index:2;}
.user_center .my_activitys li .ico_bedelete{display:none;float:right;width:16px;height:16px;background:#fff url(../../images/wx/icons.png) no-repeat 1px -50px;background-size:50px;margin:22px 0;position:absolute;right:15px;bottom:10px;z-index:2;}
.user_center .my_activitys .can_del .ico_delete{display:block;}
.user_center .my_activitys .can_del .ico_bedelete{display:block;}
.user_center .plugin_list{margin:0;box-shadow:none;background:transparent;}
.user_center .plugin_list li{border-bottom:0;border-top:1px dotted #ddd;padding:15px 0;margin:0 15px;}
.user_center .plugin_list li:nth-child(2n){background:transparent;}
.user_center .plugin_list h2{height:40px;font:16px/40px "微软雅黑";overflow:hidden;margin: 0 15px;}
.user_center .plugin_list .seemore{display:block;font:12px/40px "宋体";height:40px;text-align:center;border-top:1px solid #ddd;background:#f8f8f8;color:#666;border-radius:0 0 3px 3px;}


/* friend list */
.friend_list .body{overflow:auto;}
.friend_list .body ul{width:650px;height:60px;}
.friend_list .body li{position:relative;width:50px;height:50px;padding-bottom:10px;margin-right:15px;float:left;font-size:14px;overflow:hidden;}
.friend_list .body li img{width:50px;height:50px;border-radius:50px;}
.friend_list .body li .ico_delete{display:none;width:15px;height:15px;background:#fff url(../../images/wx/icons.png) no-repeat 1px -69px;background-size:47px;position:absolute;right:0;top:0;z-index:2;border-radius:15px;}
.friend_list .body li .ico_bedelete{display:none;width:15px;height:15px;background:#fff url(../../images/wx/icons.png) no-repeat 1px -69px;background-size:47px;position:absolute;right:0;top:0;z-index:2;border-radius:15px;}
.friend_list .body .can_del .ico_delete{display:block;}
.friend_list .body .can_del .ico_bedelete{display:block;}


/* edit user */
.usermsg_edit{margin:0 10px;}
.usermsg_edit h3{height:40px;font:16px/40px "微软雅黑";overflow:hidden;padding:0px 15px;border-bottom:2px solid #63c7bb;margin-bottom:10px;}
.usermsg_edit .avatar_upload{float:left;width:60px;height:60px;position:relative;margin-right:15px;border-radius:60px;}
.usermsg_edit .avatar_upload input[type="file"]{display:block;width:60px;height:60px;position:absolute;left:0;top:0;z-index:1;opacity:0;border-radius:60px;}
.usermsg_edit .avatar_upload img{display:block;width:60px;height:60px;border-radius:60px;}
.usermsg_edit .box{padding-bottom:5px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.usermsg_edit .row{padding:10px 15px;line-height:30px;}
.usermsg_edit .row div.fl{width:72%;}
.usermsg_edit .row span{font:12px/60px "宋体";color:#bbb;}
.usermsg_edit .row strong{float:left;font:16px/36px Arial,"微软雅黑";height:40px;width:50px;text-align:right;margin-right:10px;overflow:hidden;}
.usermsg_edit .row input[type="text"]{border-radius:3px;height:36px;font:16px/18px "微软雅黑";padding:8px;color:#666;width:100%;box-sizing:border-box;}
.usermsg_edit .row em{display:block;color:#e0848f;font:12px/20px "微软雅黑";height:20px;overflow:hidden;}
.usermsg_edit .row select{border-radius:3px;height:36px;font:16px/16px "微软雅黑";padding:0 5px;color:#666;margin:0;}
.usermsg_edit .row textarea{padding:5px;border-radius:3px;width:100%;height:60px;font:16px/30px "微软雅黑";box-sizing:border-box;resize:none;color:#666;}
.usermsg_edit .row label{font:12px/36px "宋体";color:#999;}
.usermsg_edit .row input[type="checkbox"]{margin-right:3px;vertical-align:-2px;}
.usermsg_edit .btn_submit{background:rgba(255,255,255,0.75);height:36px;width:100%;padding:20px 0;text-align:center;position:fixed;bottom:0;left:0;z-index:1;box-shadow:0 -2px 15px rgba(0,0,0,0.3);}
.usermsg_edit .btn_submit input[type="submit"]{border:0;border-radius:3px;width:120px;height:36px;background:#63c7bb;color:#fff;cursor:pointer;font:16px/16px "微软雅黑";}


/* del friend */
.delfriend_box{display:none;}
.delfriend_box .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.delfriend_box .cont{display:none;width:90%;height:180px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-90px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.delfriend_box h3{height:36px;background:#f5f5f5;font:16px/36px "微软雅黑";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.delfriend_box h3 strong{float:left;font-weight:normal;margin-left:20px;}
.delfriend_box h3 .close{font:14px/36px "宋体";color:#999;margin-right:10px;}
.delfriend_box h3 .close:hover{color:#63c7bb;cursor:pointer;}
.delfriend_box p{height:58px;font:16px/58px "微软雅黑";text-align:center;color:#333;margin:15px 0;}
.delfriend_box p img{width:50px;height:50px;border-radius:50px;margin-right:10px;vertical-align:top;border:1px solid #ddd;border-radius:50px;padding:3px;box-shadow:0 2px 5px rgba(0,0,0,0.1);}
.delfriend_box .btn_done{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#63c7bb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.delfriend_box .btn_done:hover{background:#5dbaaf;}
.delfriend_box .btn_cancel{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.delfriend_box .btn_cancel:hover{background:#999;}


/* developer */
.developer_card{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.developer_card li{padding:10px 15px;border-top:1px solid #ddd;color:#666;}
.developer_card li:first-child{border-top:0;}
.developer_card li:nth-child(2n){background:#f8f8f8;}
.developer_card li dt{border-bottom:1px dotted #ddd;padding-bottom:5px;}
.developer_card li dt .avatar{float:left;width:50px;height:50px;margin-right:10px;border:1px solid #ddd;border-radius:60px;padding:3px;box-shadow:0 2px 5px rgba(0,0,0,0.1);}
.developer_card li dt .avatar img{display:block;width:50px;height:50px;border-radius:60px;}
.developer_card li dt h3{height:34px;font:14px/34px "微软雅黑";overflow:hidden;}
.developer_card li dt p{height:20px;font:12px/20px "宋体";overflow:hidden;color:#999;}
.developer_card li dd{height:30px;font:12px/30px "宋体";overflow:hidden;color:#333;}
.developer_card li dd strong{color:#e0848f;font:16px/34px Georgia;}
.developer_card li dd a{color:#63c7bb;}
.developer_card li dd .ico_suc{display:inline-block;width:20px;height:16px;background:url(../../images/wx/icons.png) no-repeat 0 -240px;background-size:60px;vertical-align:middle;margin-right:3px;}
.developer_card li dd .ico_gold{display:inline-block;width:20px;height:16px;background:url(../../images/wx/icons.png) no-repeat 3px -225px;background-size:50px;vertical-align:middle;margin-right:3px;}


/* plugin_detail */
.plugin_detail .card{margin:0 10px;padding:15px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.plugin_detail .card .avatar{float:left;width:60px;height:60px;border-radius:3px;margin-right:10px;}
.plugin_detail .card .wrod p{text-indent:2em;font:12px/24px "宋体";height:72px;color:#999;overflow:hidden;margin:0 0 3px 0;}
.plugin_detail .card h3{font:16px/36px "微软雅黑";color:#333;height:36px;overflow:hidden;}
.plugin_detail .card h3 strong{font-weight:normal;}
.plugin_detail .card .topborder{border-top:1px solid #ddd;padding-top:10px;}
.plugin_detail .card p{font:12px/16px Arial,"宋体";color:#666;margin-bottom:10px;}
.plugin_detail .card p a{color:#63c7bb;}
.plugin_detail .card p em{color:#e0848f;line-height:20px;}
.plugin_detail .card .btns{margin-top:15px;text-align:center;}
.plugin_detail .card .btn_try{display:inline-block;width:80px;height:32px;font:16px/32px "微软雅黑";color:#fff;text-align:center;background:#63c7bb;border-radius:3px;margin-right:10px;}
.plugin_detail .card .btn_direct{display:inline-block;width:80px;height:32px;font:16px/32px "微软雅黑";color:#fff;text-align:center;background:#63c7bb;border-radius:3px;}
.plugin_detail .card .btn_demo{display:inline-block;width:80px;height:32px;font:16px/32px "微软雅黑";color:#fff;text-align:center;background:#63c7bb;border-radius:3px;margin-right:10px;}
.plugin_detail .card .btn_try:hover{background:#59b3a8;}
.plugin_detail .card .btn_direct:hover{background:#59b3a8;}
.plugin_detail .card .btn_demo:hover{background:#59b3a8;}
.plugin_detail .card .ico_publh{display:inline-block;width:20px;height:20px;background:url(../../images/wx/icons.png) no-repeat 0 -327px;background-size:60px;vertical-align:-5px;margin-right:3px;}
.plugin_detail .card .ico_clock{display:inline-block;width:20px;height:20px;background:url(../../images/wx/icons.png) no-repeat 0 -358px;background-size:60px;vertical-align:-5px;margin-right:3px;}

.plugin_detail .use_explain{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.plugin_detail .use_explain .words{height:120px;overflow:hidden;margin:10px 15px;}
.plugin_detail .use_explain p{font:14px/30px "微软雅黑";color:#666;}
.plugin_detail .use_explain p.indent{text-indent:2em;}
.plugin_detail .use_explain .fold{display:block;font:12px/40px "宋体";height:40px;text-align:center;border-top:1px solid #ddd;background:#f8f8f8;color:#666;border-radius:0 0 3px 3px;}


/* get more */
.get_more{height:50px;font:12px/50px Arial,"宋体";color:#999;text-align:center;}
.get_more a{color:#999;}
.seemore{display:block;font:12px/40px "宋体";height:40px;text-align:center;border-top:1px solid #ddd;background:#f8f8f8;color:#666;border-radius:0 0 3px 3px;}


/* footer */
footer{text-align:center;font:12px/20px Arial,"微软雅黑";color:#999;padding:10px 0;}
footer a{color:#999;}

.gohome{display:block;width:69px;height:53px;background:url(../../images/wx/icons.png) no-repeat 0 -950px;background-size:100px;position:fixed;bottom:10px;left:-10px;z-index:20000;font-size:0;}
.goactenter{display:block;width:69px;height:53px;background:url(../../images/wx/icons.png) no-repeat 0 -1025px;background-size:100px;position:fixed;bottom:10px;left:-10px;z-index:20000;font-size:0;}


/* pay */
.pay_box{display:none;}
.pay_box .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.pay_box form{display:none;width:90%;height:200px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-100px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.pay_box h3{height:36px;background:#f5f5f5;font:16px/36px "微软雅黑";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.pay_box h3 strong{float:left;font-weight:normal;margin-left:20px;}
.pay_box h3 .close{font:14px/36px "宋体";color:#999;margin-right:10px;}
.pay_box h3 .close:hover{color:#63c7bb;cursor:pointer;}
.pay_box h4{font:18px/40px "微软雅黑";text-align:center;color:#e0848f;margin:15px 0 5px;}
.pay_box .row{font:12px/30px "宋体";text-align:center;color:#666;}
.pay_box .row input[type="checkbox"]{vertical-align:-3px;margin-right:3px;}
.pay_box .row input[type="submit"]{width:70px;height:28px;border:0;color:#fff;background:#63c7bb;border-radius:3px;font:14px/14px "微软雅黑";cursor:pointer;margin:0 5px;*vertical-align:top;}
.pay_box .row a{margin-left:10px;color:#63c7bb;}
.pay_box .row a.btn_cancel{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.pay_box .row a.btn_cancel:hover{background:#aaa;}


/* earn */
.earn_box{display:none;}
.earn_box .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.earn_box dl{display:none;width:90%;height:200px;padding:20px 15px;box-sizing:border-box;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-100px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.earn_box dt{font:12px/20px "宋体";color:#999;}
.earn_box dd{font:12px/30px "宋体";color:#666;}
.earn_box dd a{margin-left:10px;color:#63c7bb;}
.earn_box dd a.btn_cancel{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.earn_box dd a.btn_cancel:hover{background:#aaa;}


/* rob gift */
.robgift_box{display:none;}
.robgift_box .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.robgift_box .cont{display:none;width:90%;height:180px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-90px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.robgift_box h3{height:36px;background:#f5f5f5;font:16px/36px "微软雅黑";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.robgift_box h3 strong{float:left;font-weight:normal;margin-left:20px;}
.robgift_box h3 .close{font:14px/30px "宋体";color:#999;margin-right:10px;}
.robgift_box h3 .close:hover{color:#63c7bb;cursor:pointer;}
.robgift_box p{height:30px;font:12px/30px "宋体";text-align:center;color:#666;}
.robgift_box p em{color:#e0848f;margin:0 3px;font:italic 16px/30px "微软雅黑";}
.robgift_box .btn_done{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#63c7bb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.robgift_box .btn_done:hover{background:#5dbaaf;}
.robgift_box .btn_cancel{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.robgift_box .btn_cancel:hover{background:#999;}


/* no gift */
.nogift_box{display:none;}
.nogift_box .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.nogift_box .cont{display:none;width:90%;height:180px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-90px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.nogift_box h3{height:36px;background:#f5f5f5;font:16px/36px "微软雅黑";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.nogift_box h3 strong{float:left;font-weight:normal;margin-left:20px;}
.nogift_box h3 .close{font:14px/36px "宋体";color:#999;margin-right:10px;}
.nogift_box h3 .close:hover{color:#63c7bb;cursor:pointer;}
.nogift_box p{height:58px;font:16px/58px "微软雅黑";text-align:center;color:#333;margin:20px 0;}
.nogift_box p img{width:50px;height:50px;border-radius:50px;margin-right:10px;vertical-align:top;border:1px solid #ddd;padding:3px;box-shadow:0 2px 5px rgba(0,0,0,0.1);vertical-align:middle;}
.nogift_box .btn_cancel{display:block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 auto;}
.nogift_box .btn_cancel:hover{background:#aaa;}


/* remaining gift */
.remaininggift_box{display:none;}
.remaininggift_box .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.remaininggift_box .cont{display:none;width:90%;height:190px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-95px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.remaininggift_box h3{height:36px;background:#f5f5f5;font:16px/36px "微软雅黑";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.remaininggift_box h3 strong{float:left;font-weight:normal;margin-left:20px;}
.remaininggift_box h3 .close{font:14px/30px "宋体";color:#999;margin-right:10px;}
.remaininggift_box h3 .close:hover{color:#63c7bb;cursor:pointer;}
.remaininggift_box p{height:30px;font:12px/30px "宋体";text-align:center;color:#666;}
.remaininggift_box p em{color:#e0848f;margin:0 3px;font:italic 16px/30px "微软雅黑";}
.remaininggift_box .btn_done{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#63c7bb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.remaininggift_box .btn_done:hover{background:#5dbaaf;}
.remaininggift_box .btn_cancel{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.remaininggift_box .btn_cancel:hover{background:#999;}


/* contact suc */
.contact_sucbox{display:none;}
.contact_sucbox .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.contact_sucbox .cont{display:none;width:90%;height:290px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-145px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.contact_sucbox h3{height:36px;background:#f5f5f5;font:16px/36px "微软雅黑";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.contact_sucbox h3 strong{float:left;font-weight:normal;margin-left:20px;}
.contact_sucbox h3 .close{font:14px/36px "宋体";color:#999;margin-right:10px;}
.contact_sucbox h3 .close:hover{color:#63c7bb;cursor:pointer;}
.contact_sucbox p{height:58px;font:16px/58px "微软雅黑";text-align:center;color:#333;margin:30px 0;}
.contact_sucbox p img{width:50px;height:50px;border-radius:50px;margin-right:10px;vertical-align:top;border:1px solid #ddd;border-radius:50px;padding:3px;box-shadow:0 2px 5px rgba(0,0,0,0.1);}
.contact_sucbox table{width:84%;height:200px;margin:0 8%;color:#666;}
.contact_sucbox .row{border-top:1px dotted #ddd;font:14px/44px Arial,"宋体";white-space:nowrap;height:44px;}
.contact_sucbox .row:first-child{border-top:0;}
.contact_sucbox .row a{display:block;}
.contact_sucbox .row b{font-weight:normal;float:left;}
.contact_sucbox .row em{color:#63c7bb;}
.contact_sucbox .row i{float:left;width:20px;height:20px;background:url(../../images/wx/icons.png) no-repeat 0 0;background-size:62.5px;vertical-align:-4px;margin-right:5px;margin-top:11px;}
.contact_sucbox .row i.ico_phone{background-position:5px -125px;}
.contact_sucbox .row i.ico_qq{background-position:2px -155px;}
.contact_sucbox .row i.ico_wechat{background-position:0 -185px;}
.contact_sucbox .row i.ico_mail{background-position:1px -213px;}
.contact_sucbox .btn_cancel{display:block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 auto;}
.contact_sucbox .btn_cancel:hover{background:#aaa;}


/* contact fai */
.contact_faibox{display:none;}
.contact_faibox .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.contact_faibox .cont{display:none;width:90%;height:184px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-92px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.contact_faibox h3{height:36px;background:#f5f5f5;font:16px/36px "微软雅黑";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.contact_faibox h3 strong{float:left;font-weight:normal;margin-left:20px;}
.contact_faibox h3 .close{font:14px/36px "宋体";color:#999;margin-right:10px;}
.contact_faibox h3 .close:hover{color:#63c7bb;cursor:pointer;}
.contact_faibox p{height:30px;font:12px/30px "宋体";text-align:center;color:#666;}
.contact_faibox p a{color:#63c7bb;}
.contact_faibox .btn_done{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#63c7bb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.contact_faibox .btn_done:hover{background:#5dbaaf;}
.contact_faibox .btn_cancel{display:inline-block;width:70px;height:28px;text-align:center;color:#fff;background:#bbb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 5px;}
.contact_faibox .btn_cancel:hover{background:#999;}


/* share */
.share{display:none;width:100%;height:100%;background:rgba(0,0,0,0.8);position:fixed;top:0;left:0;z-index:1111;}
.share .aorrw{display:block;width:45px;height:60px;background:url(../../images/wx/share.png) no-repeat 0 0;float:right;margin:10px;}
.share p{color:#fff;font:14px/30px "宋体";text-align:center;}
.share .source{font:12px/20px Arial,"宋体";text-align:center;color:#787878;width:100%;height:40px;position:fixed;bottom:10px;left:0;z-index:2;}
.share .source span{display:block;}
.share .notice{font-size:12px;margin-top:30px;}


/* if none */
.if_none{height:150px;text-align:center;font:12px/150px "宋体";color:#999;}


/* go pc */
.gopc_box{display:none;width:100%;height:100%;font:14px/40px Arial,"微软雅黑";text-align:center;background:rgba(0,0,0,0.8);position:fixed;top:0;left:0;z-index:1111;color:#fff;}
.gopc_box dl{position:absolute;width:100%;height:274px;top:50%;margin-top:-150px;left:0;z-index:1112;}
.gopc_box .ico_pc{display:block;width:50px;height:50px;background:url(../../images/wx/pc.png) no-repeat 0 0;background-size:50px;margin:10px auto;}
.gopc_box .btn_send{display:block;width:120px;height:34px;line-height:34px;border-radius:3px;color:#000;background:#fff;margin:20px auto;}
.gopc_box .source{font:12px/20px "宋体";text-align:center;color:#787878;width:100%;height:40px;position:fixed;bottom:30px;left:0;z-index:1112;}
.gopc_box .source span{display:block;}


/* float btns */
.float_btns{background:rgba(255,255,255,0.75);height:36px;width:100%;padding:20px 0;text-align:center;position:fixed;bottom:0;left:0;z-index:1000;box-shadow:0 -2px 15px rgba(0,0,0,0.3);}
.float_btns a{display:inline-block;margin:0 10px;min-width:80px;padding:0 15px;height:36px;font:14px/36px "微软雅黑";border-radius:3px;color:#fff;}
.float_btns .btn_edit,.float_btns .btn_cancel,.float_btns .btn_friend{background:#bbb;}
.float_btns .btn_invit,.float_btns .btn_done,.float_btns .btn_befriend{background:#63c7bb;}


/* float menu */
.float_menu{width:72px;height:48px;position:fixed;bottom:15px;left:-10px;z-index:1000000;overflow:hidden;font-size:0;}
.float_menu dd{width:72px;height:240px;position:absolute;left:0;bottom:48px;z-index:1000001;}
.float_menu dt{width:72px;height:48px;position:absolute;left:0;bottom:0;z-index:1000001;}
.float_menu .at_cent{width:72px;height:48px;background:url(../../images/wx/icons.png) no-repeat 0 -650px;background-size:100px;}
.float_menu .my_ativ{width:72px;height:48px;background:url(../../images/wx/icons.png) no-repeat 0 -698px;background-size:100px;}
.float_menu .my_plug{width:72px;height:48px;background:url(../../images/wx/icons.png) no-repeat 0 -746px;background-size:100px;}
.float_menu .my_mark{width:72px;height:48px;background:url(../../images/wx/icons.png) no-repeat 0 -794px;background-size:100px;}
.float_menu .my_home{width:72px;height:48px;background:url(../../images/wx/icons.png) no-repeat 0 -842px;background-size:100px;}
.float_menu .my_menu{width:72px;height:48px;background:url(../../images/wx/icons.png) no-repeat 0 -890px;background-size:100px;}
.float_menu a{display:block;width:72px;height:48px;}

.fixed_menu{position:fixed;width:80%;height:250px;bottom:0;left:-100%;z-index:999999;padding:30px 10%;transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;-o-transition:all 1s;}
.fixed_menu ul{}
.fixed_menu li{float:left;width:33.3%;margin-bottom:15px;}
.fixed_menu li img{display:block;width:60px;height:60px;margin:0 auto 5px auto;}
.fixed_menu li span{display:block;width:70px;height:24px;font:14px/24px "微软雅黑";color:#e0848f;text-align:center;margin:0 auto;background:rgba(255,255,255,1);border-radius:5px;}
.fixed_menubtn{position:fixed;width:60px;height:60px;bottom:5px;left:-5px;z-index:9999999;transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;-o-transition:all 1s;}
.fixed_menubtn img{width:60px;height:60px;}


/* pay_method */
.pay_method{margin:0 10px;background:#fff;border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.pay_method dl{margin:15px;}
.pay_method dt{text-align:center;font:18px/100px "微软雅黑";}
.pay_method dt p{text-align:left;font:14px/20px "微软雅黑";color:#666;}
.pay_method dt p b{margin:0 5px;color:#63c7bb;vertical-align:middle;}
.pay_method dt strong{font:24px/100px Georgia;color:#e0848f;margin-right:5px;}
.pay_method dd{font:14px/30px "微软雅黑";color:#666;margin-bottom:15px;}
.pay_method dd strong{font-weight:normal;color:#e0848f;margin:0 3px;vertical-align:middle;}
.pay_method dd label{display:block;border:2px solid rgba(99,199,187,0.3);height:40px;margin:10px auto;text-indent:10px;font:14px/40px "微软雅黑";color:#666;}
.pay_method dd input{vertical-align:-1px;margin-right:4px;}
.pay_method dd span{display:none;float:right;margin-right:10px;font-size:14px;}
.pay_method dd.active label{border:2px solid #63c7bb;}
.pay_method dd.active span{display:block;}
.pay_method .btn_done{display:block;background:#63c7bb;border:1px solid #63c7bb;border-radius:3px;height:40px;width:98%;margin:10px auto;text-align:center;font:16px/40px "微软雅黑";color:#fff;}
.pay_method .btn_done:hover{background:#59b3a8;}
.pay_method dd em{display:block;font:12px/20px "微软雅黑";color:#e0848f;}


/* activity center */
.ativ_center{}
.ativ_list{margin:0 10px;}
.ativ_list li{background:#fff;border-radius:3px;padding:15px 15px 10px;margin-bottom:15px;box-shadow:0 3px 8px rgba(0,0,0,0.1);}
.ativ_list li em{color:#63c7bb;}
.ativ_list li .ativ_title{display:block;height:50px;}
.ativ_list li .ativ_title img{height:50px;width:50px;border-radius:3px;float:left;margin-right:10px;}
.ativ_list li .ativ_title h3{font:16px/30px "微软雅黑";}
.ativ_list li .ativ_title p{font:12px/20px "微软雅黑";color:#999;}
.ativ_list li .ativ_intro{display:block;height:62px;margin:10px 0 5px;padding:8px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.ativ_list li .ativ_intro img{float:right;width:50px;height:50px;margin:2px 0 2px 10px;border-radius:60px;padding:3px;border:1px solid #ddd;box-shadow:0 2px 5px rgba(0,0,0,0.1);background:#fff;}
.ativ_list li .ativ_intro h4{font:14px/26px "微软雅黑";text-align:right;height:26px;overflow:hidden;}
.ativ_list li .ativ_intro p{font:12px/18px "微软雅黑";color:#999;max-height:36px;overflow:hidden;}
.ativ_list li .ativ_plugin{display:block;height:30px;font:14px/30px "微软雅黑";overflow:hidden;margin-top:5px;color:#666;}
.ativ_center .scrollBox .bd li{height:71px;float:left;font-size:14px;overflow:hidden;}
.ativ_center .scrollBox .bd li a{-webkit-tap-highlight-color:rgba(255,255,255,0.1);}/* 链接触摸高亮 */


/* buy end */
.buy_end .bg{width:100%;height:100%;background:#000;position:fixed;left:0;top:0;z-index:110;opacity:0.5;filter:Alpha(opacity=50);}
.buy_end .cont{width:90%;height:180px;background:#fff;border-radius:3px;position:fixed;left:0;top:50%;margin:-90px 5% 0;z-index:111;box-shadow:3px 3px 3px rgba(0,0,0,0.3);}
.buy_end h3{height:36px;background:#f5f5f5;font:16px/36px "微软雅黑";border-bottom:1px solid #ddd;text-align:right;border-radius:3px 3px 0 0;}
.buy_end h3 strong{float:left;font-weight:normal;margin-left:20px;}
.buy_end h3 .close{font:14px/36px "宋体";color:#999;margin-right:10px;}
.buy_end h3 .close:hover{color:#63c7bb;cursor:pointer;}
.buy_end p{height:58px;font:16px/58px "微软雅黑";text-align:center;color:#333;margin:20px 0;}
.buy_end .btn_cancel{display:block;width:70px;height:28px;text-align:center;color:#fff;background:#63c7bb;border-radius:3px;font:14px/28px "微软雅黑";margin:0 auto;}
.buy_end .btn_cancel:hover{background:#59b3a8;}


/* classic case */
.classic ul{width:94%;margin:0 3%;} 
.classic .space_7{padding-top:7px;}
.classic ul li{margin-bottom:20px;background:#fff;border-radius:5px 5px 0 0;box-shadow:0 0 10px rgba(0,0,0,0.3);}
.classic ul dt{padding:15px 15px 10px;}
.classic ul dt img{float:left;width:60px;height:60px;border-radius:60px;border:1px solid #ddd;padding:2px;margin-right:10px;}
.classic ul dt h4{font:20px/66px "微软雅黑";height:66px;overflow:hidden;}
.classic ul dt .line{width:100%;height:0;border-top:1px solid #ddd;margin-top:5px;padding-top:5px;}
.classic ul dt p{font:12px/30px "宋体";color:#787878;height:30px;overflow:hidden;}
.classic ul dt p span{color:#e0848f;}
.classic ul dt p a{color:#63c7bb;}
.classic ul dd{width:100%;height:420px;overflow:hidden;position:relative;margin:0 auto;}
.classic ul dd img{width:280px;height:420px;float:left;margin:0;padding:0;border:0;}
.classic ul dd .imgs{width:10000px;height:420px;}
.classic ul dd .turn a{display:block;height:60px;width:30px;font:20px/60px "宋体";text-align:center;color:#fff;background:rgba(0,0,0,0.3);position:absolute;top:50%;z-index:100;color:#fff;margin-top:-30px;}
.classic ul dd .turn a.turn_next{right:0;border-radius:3px 0 0 3px;}
.classic ul dd .turn a.turn_prev{left:0;border-radius:0 3px 3px 0;}




















































