<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>活动过期</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
</head>
<body>
	<div class="space_20"></div>
	<div class="space_20"></div>
	<div class="space_20"></div>
	<!-- error 开始 -->
	<div class="error">
		<img src="../../images/wx/warning.png" />
		<h3>不小心就出错啦！</h3>
		<p>去<a href="#">首页</a>看看吧！</p>
	</div>
	<!-- error 结束 -->
	<div class="space_20"></div>
</body>
</html>
