<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>index</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/wx/touchslide.js"></script>
<script type="text/javascript" src="../../js/wx/layout.js"></script>
</head>
<body>
	<!-- 焦点图 开始 -->
	<div id="scrollBox" class="scrollBox">
		<a class="careme" href="http://mp.weixin.qq.com/s?__biz=MzA4MzA1MjY2MQ==&mid=216270537&idx=1&sn=4c55a0dab799fac9a2f72688687d94d1#rd&ADUIN=565009015&ADSESSION=1418173420&ADTAG=CLIENT.QQ.5329_.0&ADPUBNO=26349"><img src="../../images/wx/lacode.png" /></a>
		<div class="bd">
			<ul>
				<li>
					<a href="#"><img _src="../../images/wx/wechatbanner0.jpg" src="../../images/wx/wechatbanner0.jpg" /></a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="#"><img _src="../../images/wx/wechatbanner1.jpg" src="../../images/wx/wechatbanner1.jpg" /></a>
				</li>
			</ul>
		</div>
		<div class="hd">
			<span class="prev">&lt;</span>
			<ul></ul>
			<span class="next">&gt;</span>
		</div>
	</div>
	<!-- 焦点图 结束 -->
	<!-- 模版预告 开始 -->
	<article class="wrap">
		<div class="temp_notice">
			<img src="../../images/wx/notice.png" />
			<ul>
				<li><a href="#"><em>小鸟闯关</em>（预计上架时间：<em>2015-03-15</em>）</a></li>
				<li><a href="#"><em>疯狂猜名人</em>（预计上架时间：<em>2015-03-15</em>）</a></li>
				<li><a href="#"><em>想死就过来</em>（预计上架时间：<em>2015-03-15</em>）</a></li>
				<li><a href="#"><em>星间飞行</em>（预计上架时间：<em>2015-03-15</em>）</a></li>
			</ul>
		</div>
	</article>
	<!-- 模版预告 结束 -->
	<!-- 活动推荐 开始 -->
	<div class="n_title tr">
		<h3 class="fl">活动推荐</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<!-- <div class="t_title line2">
			<a class="active" id="ativ_time">按发布</a>
			<a id="ativ_heat">按热度</a>
		</div> -->
		<div class="ativ_list">
			<ul>
				<li>
					<a href="#" class="ativ_title">
						<img src="../../images/wx/microscene.jpg">
						<h3>全大伟寿司店-按发布</h3>
						<p class="tr">
							<span class="fl">参与人数：<em>20万</em></span>
							<span>浏览量：<em>44万</em></span>
						</p>
					</a>
					<a href="#" class="ativ_intro">
						<img src="../../images/wx/avatar.jpg">
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</a>
					<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>
				</li>
				<li>
					<a href="#" class="ativ_title">
						<img src="../../images/wx/microscene.jpg">
						<h3>全大伟寿司店-按发布</h3>
						<p class="tr">
							<span class="fl">参与人数：<em>20万</em></span>
							<span>浏览量：<em>44万</em></span>
						</p>
					</a>
					<a href="#" class="ativ_intro">
						<img src="../../images/wx/avatar.jpg">
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</a>
					<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>
				</li>
				<li>
					<a href="#" class="ativ_title">
						<img src="../../images/wx/microscene.jpg">
						<h3>全大伟寿司店-按发布</h3>
						<p class="tr">
							<span class="fl">参与人数：<em>20万</em></span>
							<span>浏览量：<em>44万</em></span>
						</p>
					</a>
					<a href="#" class="ativ_intro">
						<img src="../../images/wx/avatar.jpg">
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</a>
					<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>
				</li>
			</ul>
			<div class="getmore" style="margin-top:-10px;"><a href="#">查看更多</a></div>
		</div>
	</article>
	<!-- 活动推荐 结束 -->
	<!-- 模版推荐 开始 -->
	<div class="n_title tr">
		<h3 class="fl">模版推荐</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<!-- <div class="t_title line3">
			<a class="active" id="temp_time">按发布</a>
			<a id="temp_sales">按销量</a>
			<a id="temp_price">按价格</a>
		</div> -->
		<div class="temp_list">
			<ul>
				<li>
					<div class="btns tr absolute">
						<a href="#" class="btn_try">免费试用</a>
						<a href="#" class="btn_direct">购买</a>
					</div>
					<section onclick="javascript:self.location='#url';event.stopPropagation();">
						<a class="imgbox"><img src="../../images/wx/staravatar.jpg"></a>
						<h3>魔力星愿店-按发布</h3>
						<p class="tr"><a>@彬 ^_^)Y</a><span>已有14人购买</span></p>
						<div class="clear"></div>
						<div class="btns tr">
							<span>2014/12/10 17:42</span>
						</div>
					</section>
				</li>
				<li>
					<section onclick="javascript:self.location='#url'">
						<a class="imgbox"><img src="../../images/wx/treeavatar.gif"></a>
						<h3>圣诞树摇礼物-按发布</h3>
						<p class="tr"><a>@村长</a><span>已有10人购买</span></p>
						<div class="clear"></div>
						<div class="btns tr">
							<span>2014/12/10 20:24</span>
						</div>
					</section>
					<div class="btns tr absolute">
						<a class="btn_try">试用</a>
						<a class="btn_direct">￥100</a>
					</div>
				</li>
				<li>
					<div class="btns tr absolute">
						<a class="btn_try">试用</a>
						<a class="btn_direct">￥138</a>
					</div>
					<section onclick="javascript:self.location='#url';event.stopPropagation();">
						<a class="imgbox"><img src="../../images/wx/microscene.jpg"></a>
						<h3>魔力星愿店-按发布</h3>
						<p class="tr"><a>@彬 ^_^)Y</a><span>已有14人购买</span></p>
						<div class="clear"></div>
						<div class="btns tr">
							<span>2014/12/10 17:42</span>
						</div>
					</section>
				</li>
			</ul>
			<a href="#" class="seemore">查看更多</a>
		</div>
	</article>
	<!-- 模版推荐 结束 -->
	<!-- 渠道推荐 开始 -->
	<div class="n_title tr">
		<h3 class="fl">渠道推荐</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<!-- <div class="t_title line3">
			<a class="active" id="path_time">按发布</a>
			<a id="path_fans">按粉丝数</a>
			<a id="path_price">按均价</a>
		</div> -->
		<div class="path_list">
			<ul>
				<li><a href="#">
					<img src="../../images/pc/demo19_ico.jpg">
					<h3><strong>钦州国美-按发布</strong><i class="sina_ico"></i></h3>
					<p>电子商务钦州一霸，连续三十年销量第一。</p>
					<p class="tr space_10">
						<span class="fl">粉丝数：<em>10W-50W</em></span>
						<span>价位：<em>5000元/条</em></span>
					</p>
				</a></li>
				<li><a href="#">
					<img src="../../images/pc/demo13_ico.jpg">
					<h3><strong>华韩整容-按发布</strong><i class="wechat_ico">订</i></h3>
					<p>电子商务钦州一霸，连续三十年销量第一。</p>
					<p class="tr space_10">
						<span class="fl">粉丝数：<em>10W-50W</em></span>
						<span>价位：<em>5000元/条</em></span>
					</p>
				</a></li>
				<li><a href="#">
					<img src="../../images/pc/demo7_ico.jpg">
					<h3><strong>中央花园-按发布</strong><i class="wechat_ico">服</i></h3>
					<p>电子商务钦州一霸，连续三十年销量第一。</p>
					<p class="tr space_10">
						<span class="fl">粉丝数：<em>10W-50W</em></span>
						<span>价位：<em>5000元/条</em></span>
					</p>
				</a></li>
			</ul>
			<a href="#" class="seemore">查看更多</a>
		</div>
	</article>
	<!-- 渠道推荐 结束 -->
	<footer>
		<img src="../../images/wx/hdt_logo2.png" />
		<p>专注移动社交互动广告</p>
		<p>Copyright © 2014 www.tchajian.com  闽ICP备14019370号</p>
	</footer>
	<div class="menu">
		<ul>
			<li><a href="#">
				<img src="../../images/wx/menu7.png" />
				<span>首页</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu2.png" />
				<span>活动圈</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu3.png" />
				<span>模版库</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu10.png" />
				<span>经典案例</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu9.png" />
				<span>发布渠道</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu5.png" />
				<span>个人主页</span>
			</a></li>
		</ul>
	</div>
	<!-- 菜单 开始 -->
	<div class="menu_btn"><img src="../../images/wx/menu1.png" /></div>
	<!-- 菜单 结束 -->
</body>
</html>
<script type="text/javascript">
//焦点图
$(function(){
	TouchSlide({ 
		slideCell:"#scrollBox",
		titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
		effect:"leftLoop", 
		autoPage:true, //自动分页
		switchLoad:"_src", //切换加载，真实图片路径为"_src" 
		autoPlay:true,
		interTime:4000,
		delayTime:400
	});
	$('#scrollBox .bd li').height($(document).width()/2.15);
	$('.scrollBox .hd').attr("style","margin-left:-"+$('.scrollBox .hd').width()/2+"px;");
});
</script>
<!--<script type="text/javascript">
$(function(){
	//活动推荐切换 开始
	$('#ativ_time').click(function(){//按发布
		//更新按钮高亮
		$('#ativ_time').attr("class","ative");
		$('#ativ_heat').attr("class"," ");
		//加载按发布内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 3; i++) {
					html+='<li>\
								<a href="#" class="ativ_title">\
									<img src="../../images/wx/microscene.jpg" />\
									<h3>全大伟寿司店-按发布</h3>\
									<p class="tr">\
										<span class="fl">参与人数：<em>20万</em></span>\
										<span>浏览量：<em>44万</em></span>\
									</p>\
								</a>\
								<a href="#" class="ativ_intro">\
									<img src="../../images/wx/avatar.jpg" />\
									<h4>全大伟寿司店</h4>\
									<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
								</a>\
								<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>\
							</li>';
		 		};
				$(".ativ_list ul").html(html);
			}
		});
	});
	$('#ativ_heat').click(function(){//按热度
		//更新按钮高亮
		$('#ativ_time').attr("class"," ");
		$('#ativ_heat').attr("class","ative");
		//加载按热度内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 3; i++) {
					html+='<li>\
								<a href="#" class="ativ_title">\
									<img src="../../images/wx/microscene.jpg" />\
									<h3>全大伟寿司店-按热度</h3>\
									<p class="tr">\
										<span class="fl">参与人数：<em>20万</em></span>\
										<span>浏览量：<em>44万</em></span>\
									</p>\
								</a>\
								<a href="#" class="ativ_intro">\
									<img src="../../images/wx/avatar.jpg" />\
									<h4>全大伟寿司店</h4>\
									<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
								</a>\
								<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>\
							</li>';
		 		};
				$(".ativ_list ul").html(html);
			}
		});
	});
	//活动推荐切换 结束

	//模版推荐切换 开始
	$('#temp_time').click(function(){//按发布
		//更新按钮高亮
		$('#temp_time').attr("class","ative");
		$('#temp_sales').attr("class"," ");
		$('#temp_price').attr("class"," ");
		//加载按发布内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 3; i++) {
					html+='<li>\
								<div class="btns tr absolute">\
									<a href="#" class="btn_try">免费试用</a>\
									<a href="#" class="btn_direct">购买</a>\
								</div>\
								<section onclick="javascript:self.location=\'#url\';event.stopPropagation();">\
									<a class="imgbox"><img src="../../images/wx/staravatar.jpg"></a>\
									<h3>魔力星愿店-按发布</h3>\
									<p class="tr"><a>@彬 ^_^)Y</a><span>已有14人购买</span></p>\
									<div class="clear"></div>\
									<div class="btns tr">\
										<span>2014/12/10 17:42</span>\
									</div>\
								</section>\
							</li>';
		 		};
				$(".temp_list ul").html(html);
			}
		});
	});
	$('#temp_sales').click(function(){//按销量
		//更新按钮高亮
		$('#temp_time').attr("class"," ");
		$('#temp_sales').attr("class","ative");
		$('#temp_price').attr("class"," ");
		//加载按销量内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 3; i++) {
					html+='<li>\
								<div class="btns tr absolute">\
									<a href="#" class="btn_try">免费试用</a>\
									<a href="#" class="btn_direct">购买</a>\
								</div>\
								<section onclick="javascript:self.location=\'#url\';event.stopPropagation();">\
									<a class="imgbox"><img src="../../images/wx/staravatar.jpg"></a>\
									<h3>魔力星愿店-按销量</h3>\
									<p class="tr"><a>@彬 ^_^)Y</a><span>已有14人购买</span></p>\
									<div class="clear"></div>\
									<div class="btns tr">\
										<span>2014/12/10 17:42</span>\
									</div>\
								</section>\
							</li>';
		 		};
				$(".temp_list ul").html(html);
			}
		});
	});
	$('#temp_price').click(function(){//按价格
		//更新按钮高亮
		$('#temp_time').attr("class","ative");
		$('#temp_sales').attr("class","ative");
		$('#temp_price').attr("class"," ");
		//加载按价格内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 3; i++) {
					html+='<li>\
								<div class="btns tr absolute">\
									<a href="#" class="btn_try">免费试用</a>\
									<a href="#" class="btn_direct">购买</a>\
								</div>\
								<section onclick="javascript:self.location=\'#url\';event.stopPropagation();">\
									<a class="imgbox"><img src="../../images/wx/staravatar.jpg"></a>\
									<h3>魔力星愿店-按价格</h3>\
									<p class="tr"><a>@彬 ^_^)Y</a><span>已有14人购买</span></p>\
									<div class="clear"></div>\
									<div class="btns tr">\
										<span>2014/12/10 17:42</span>\
									</div>\
								</section>\
							</li>';
		 		};
				$(".temp_list ul").html(html);
			}
		});
	});
	//模版推荐切换 结束

	//渠道推荐切换 开始
	$('#path_time').click(function(){//按发布
		//更新按钮高亮
		$('#path_time').attr("class","ative");
		$('#path_fans').attr("class"," ");
		$('#path_price').attr("class"," ");
		//加载按发布内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 3; i++) {
					html+='<li><a href="#">\
								<img src="../../images/pc/demo19_ico.jpg">\
								<h3><strong>钦州国美-按发布</strong><i class="sina_ico"></i></h3>\
								<p>电子商务钦州一霸，连续三十年销量第一。</p>\
								<p class="tr space_10">\
									<span class="fl">粉丝数：<em>10W-50W</em></span>\
									<span>价位：<em>5000元/条</em></span>\
								</p>\
							</a></li>';
		 		};
				$(".path_list ul").html(html);
			}
		});
	});
	$('#path_fans').click(function(){//按粉丝数
		//更新按钮高亮
		$('#path_time').attr("class"," ");
		$('#path_fans').attr("class","ative");
		$('#path_price').attr("class"," ");
		//加载按粉丝数内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 3; i++) {
					html+='<li><a href="#">\
								<img src="../../images/pc/demo19_ico.jpg">\
								<h3><strong>钦州国美-按粉丝数</strong><i class="sina_ico"></i></h3>\
								<p>电子商务钦州一霸，连续三十年销量第一。</p>\
								<p class="tr space_10">\
									<span class="fl">粉丝数：<em>10W-50W</em></span>\
									<span>价位：<em>5000元/条</em></span>\
								</p>\
							</a></li>';
		 		};
				$(".path_list ul").html(html);
			}
		});
	});
	$('#path_price').click(function(){//按均价
		//更新按钮高亮
		$('#path_time').attr("class"," ");
		$('#path_fans').attr("class"," ");
		$('#path_price').attr("class","ative");
		//加载按均价内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 3; i++) {
					html+='<li><a href="#">\
								<img src="../../images/pc/demo19_ico.jpg">\
								<h3><strong>钦州国美-按均价</strong><i class="sina_ico"></i></h3>\
								<p>电子商务钦州一霸，连续三十年销量第一。</p>\
								<p class="tr space_10">\
									<span class="fl">粉丝数：<em>10W-50W</em></span>\
									<span>价位：<em>5000元/条</em></span>\
								</p>\
							</a></li>';
		 		};
				$(".path_list ul").html(html);
			}
		});
	});
	//渠道推荐切换 结束
});
</script>-->

