<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>帮助中心</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/wx/touchslide.js"></script>
<script type="text/javascript" src="../../js/wx/layout.js"></script>
</head>
<body>
	<div class="space_20"></div>
	<!-- 帮助中心 开始 -->
	<div class="help_center">
		<div class="title">常见问题</div>
		<div class="text">
			<h4>1、插件可以用多久？用几次？</h4>
			<p>答：目前平台上的插件使用期为一个月，每个插件允许同时生成3个配置不同的活动，删除后可再新增，一个月内使用次数不限，无需绑定公众号，可供多个账号使用。</p>
			<h4>2、插件怎么用？</h4>
			<p>答：每个插件都是带后台的，支持在线配置登录平台，可免费试用每款插件，体验所有付费服务流程。</p>
			<h4>3、配置可以修改么？</h4>
			<p>答：活动配置支持重复修改，活动过程中可根据活动的具体情况调整。</p>
			<h4>4、会不会冲突，还可不可以用其他平台？</h4>
			<p>答：我们的插件是完全独立的，无需绑定公众号，与其他家服务并不冲突，可以同时使用。</p>
			<h4>5、怎么引导用户关注公众号？</h4>
			<p>答：插件支持替换活动页面上的“广告图”和“广告图链接”，并且当用户每次参加完活动后都会自动打开此链接页面。可以在公众号新增一个引导关注的图文素材作为广告图链接页面。</p>
			<p>另平台上部分插件设计为参与活动用户需先关注公众号才可查看是否获奖。</p>
			<h4>6、粉丝怎么参与？</h4>
			<p>答：1、用微信扫活动二维码，直接将该活动分享至朋友圈或发送给好友</p>
			<p>2、复制活动地址，添加至公众号自定义菜单</p>
			<p>3、公众号新增图文素材，将复制的活动地址添加至“原文阅读”处</p>
			<p>4、公众号群发3编辑好的图文素材</p>
			<p>5、公众号设置关键词，用户发送关键词回复3图文素材</p>
			<h4>7、中奖概率怎么设置？</h4>
			<p>答：主要由“奖品实际数量”控制，如果奖品发完了，就不会再发，但不排除非常多用户参加，同一时间摇中奖品，但这种概率很小。在控制奖品总数的情况下，如果想要奖品慢点发出去，则将中奖概率调整小一点，例如10%，但并不表示100个用户会有10个用户中奖，由于不知道您的活动会有多少人参与，这只是相对概率。反之想要快点发出去，则将中奖概率调整大一点。</p>
			<p>我们的发奖逻辑是：每等奖的概率是独立分开设置的，首先根据一等奖的概率判断用户是否中奖，如果没有中奖，则继续判断二等奖，这样一直遍历下去。所以如果最后的奖项中奖概率设置为100%，那么每个用户都会中奖，最差也有鼓励奖的意思。</p>
			<h4>8、怎么查看中奖名单？</h4>
			<p>答：“我的活动”页面，点击想要查看的活动列表上的【设置】按钮，在页面标签“活动设置”旁边有“中奖名单”，可以切换查看。</p>
			<h4>9、中奖用户如何到店兑奖？</h4>
			<p>答：用户中奖后，在活动页面上的“中奖记录”可查看获得的奖品，如果该奖品商家在配置页面设置为需到店兑换，该奖品名称后面会有“未兑奖”的标识，可提示中奖用户需到店出示该活动页面的“中奖记录”，兑换该奖品，兑换的同时当场将该奖品的状态由“未兑奖”修改为“已兑奖”，这种修改是不可逆的，同时后台对应的该用户的获奖记录状态也自动更改为“已兑奖”，这样也就规避了用户反复出示中奖记录作弊兑奖，也方便了店员，无需打开后台去验证。</p>
			<h4>10、活动数据哪里看？</h4>
			<p>答：平台上的数据统计都是真实的，在“我的活动”页面上，活动列表里有对应该活动的浏览量可以实时查看。目前还不支持查看参与人数，平台正在开发，之后会更新。</p>
			<h4>11、插件效果好吗？</h4>
			<p>答：工具是死的，方案是活动，不同客户的配置会产生不一样的效果。配置做得好的客户，没怎么宣传，只是几个同事发了发朋友圈，3天的时间活动浏览量就达到66万；有的客户动用了自己所有的资源，但由于活动内容配置不好，效果跟好的客户也相差很远，一天只有几千的浏览量。</p>
			<h4>12、插件能按我的需求更改功能吗？</h4>
			<p>答：我们平台出售的插件是统一模板，功能的设计是平台经过收集不同客户的需求，提取其中共性的部分整理成原型，然后找到相应的开发者开发，开发成统一模板将插件上线，主要就是想降低商家营销推广的成本，所以平台上定的都是模板价。如果要按照需求更改功能，就是定制了，费用和时间都要按照具体需求评估，请联系在线客服。</p>
		</div>
	</div>
	<div class="space_10"></div>
	<div class="help_center">
		<div class="title">关于我们</div>
		<div class="text">
			<p>有戏（厦门）网络科技有限公司推出的淘插件，是一个基于SaaS模式的第三方服务交易平台，专注社会化营销推广领域，汇集众多业内优秀开发者，为商家提供最具创意的营销推广插件，如微活动、微游戏等。</p>
			<p>平台支持插件免费试用，在线购买，个性配置，让营销推广更简单，更灵活，更实用。</p>
			<h3>有以下特点优势：</h3>
			<p><em>•</em>基本涵盖市面上所有热门的营销推广活动游戏，并在此基础上做了优化改进，如大转盘、砸金蛋、刮刮卡、优惠券等。</p>
			<p><em>•</em>紧追时下热点，在各假节日之前及时推出最新最炫的相关插件，成功捕获客户眼球，如七夕索吻、中秋拆礼包、圣诞送礼物等。</p>
			<p><em>•</em>无需绑定微信公众号，或其他平台账号，无论是订阅号，服务号，还是没有公众号的商家或个人都可使用，且与微盟等其他平台提供的服务不冲突。</p>
			<p><em>•</em>每款插件单独销售，部分免费，价格实惠，先试用后购买，配置完直接使用，营销推广成本低，大品牌使用的插件，普通商家也可拥有。</p>
			<p><em>•</em>统一管理平台，方便活动的发布与运营，另外可参考其他商家正在进行的活动方案。</p>
		</div>
	</div>
	<div class="space_10"></div>
	<div class="help_center">
		<div class="title">联系我们</div>
		<div class="text">
			<p>客服电话：0592-7127103</p>
			<p>客服QQ：209166172</p>
			<p>粉丝QQ群：53749373</p>
			<p>邮箱：cs@tchajian.com</p>
			<p>地址：福建省厦门市思明区软件园二期望海路19号之二502</p>
		</div>
	</div>
	<!-- 帮助中心 结束 -->
	<footer>
		<img src="../../images/wx/hdt_logo.png" />
		<p>专注移动社交互动广告</p>
		<p>Copyright © 2014 www.tchajian.com  闽ICP备14019370号</p>
	</footer>
	<!-- 菜单 开始 -->
	<div class="menu">
		<ul>
			<li><a href="#">
				<img src="../../images/wx/menu2.png" />
				<span>活动圈</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu3.png" />
				<span>插件库</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu4.png" />
				<span>我的活动</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu5.png" />
				<span>个人主页</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu6.png" />
				<span>交易记录</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu7.png" />
				<span>首页</span>
			</a></li>
		</ul>
	</div>
	<div class="menu_btn"><img src="../../images/wx/menu1.png" /></div>
	<!-- 菜单 结束 -->
</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
	$('.help_center .title').toggle(function(){
		$(this).next().slideToggle(200);
	},function(){
		$(this).next().slideToggle(200);
	});
});
</script>