<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>开发者主页</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/wx/touchslide.js"></script>
<script type="text/javascript" src="../../js/wx/layout.js"></script>
</head>
<body>
	<div class="space_15"></div>
	<!-- 开发者主页 开始 -->
	<article class="wrap">
		<div class="user_center">
			<a class="avatar"><img src="../../images/wx/avatar.jpg"></a>
			<h3>
				<a class="title">御泥坊</a>
			</h3>
			<p>这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。</p>
			<div class="clear"></div>
		</div>
	</article>
	<!-- 开发者主页 结束 -->
	<!-- 我开发的 开始 -->
	<div class="n_title tr">
		<h3 class="fl">我开发的(3)</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<div class="ativ_ing">
		<ul>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app5.png"></a>
					<strong>圣诞送优惠</strong>
					<p>这款插件非常非常受欢迎。</p>
					<div class="clear"></div>
				</section>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app2.png"></a>
					<strong>圣诞送优惠</strong>
					<p>这款插件非常非常受欢迎。</p>
					<div class="clear"></div>
				</section>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app4.png"></a>
					<strong>圣诞送优惠</strong>
					<p>这款插件非常非常受欢迎。</p>
					<div class="clear"></div>
				</section>
			</li>
		</ul>
		<div class="seemore" onclick="seemoreDevelop(this)">查看更多</div>
	</div>
	</article>
	<!-- 我开发的 结束 -->
	<!-- 其他开发者 开始 -->
	<div class="n_title tr">
		<h3 class="fl">其他开发者</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<div class="developer">
			<ul>
				<li>
					<dl onclick="javascript:self.location='#url'">
						<dt>
							<a class="avatar"><img src="../../images/wx/avatar.jpg"></a>
							<h3><a>@山间的风</a></h3>
							<p>淘插件签约开发者，十年开发经验</p>
							<div class="clear"></div>
						</dt>
						<dd>
							<span class="fr">开发插件：<strong>4</strong></span>
							<span><i class="ico_suc"></i>成交：<strong>250</strong> 笔</span>
						</dd>
						<dd>
							<a>《圣诞送优惠》、《拼图闯关赢好礼》</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl onclick="javascript:self.location='#url'">
						<dt>
							<a class="avatar"><img src="../../images/wx/avatar.jpg"></a>
							<h3><a>@山间的风</a></h3>
							<p>淘插件签约开发者，十年开发经验</p>
							<div class="clear"></div>
						</dt>
						<dd>
							<span class="fr">开发插件：<strong>4</strong></span>
							<span><i class="ico_suc"></i>成交：<strong>250</strong> 笔</span>
						</dd>
						<dd>
							<a>《圣诞送优惠》、《拼图闯关赢好礼》</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl onclick="javascript:self.location='#url'">
						<dt>
							<a class="avatar"><img src="../../images/wx/avatar.jpg"></a>
							<h3><a>@山间的风</a></h3>
							<p>淘插件签约开发者，十年开发经验</p>
							<div class="clear"></div>
						</dt>
						<dd>
							<span class="fr">开发插件：<strong>4</strong></span>
							<span><i class="ico_suc"></i>成交：<strong>250</strong> 笔</span>
						</dd>
						<dd>
							<a>《圣诞送优惠》、《拼图闯关赢好礼》</a>
						</dd>
					</dl>
				</li>
			</ul>
			<div class="seemore" onclick="seemoreDeveloper(this)">查看更多</div>
		</div>
	</article>
	<!-- 其他开发者 结束 -->
	<footer>
		<img src="../../images/wx/hdt_logo2.png" />
		<p>专注移动社交互动广告</p>
		<p>Copyright © 2014 www.tchajian.com  闽ICP备14019370号</p>
	</footer>
	<div class="menu">
		<ul>
			<li><a href="#">
				<img src="../../images/wx/menu7.png" />
				<span>首页</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu2.png" />
				<span>活动圈</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu3.png" />
				<span>模版库</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu10.png" />
				<span>经典案例</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu9.png" />
				<span>发布渠道</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu5.png" />
				<span>个人主页</span>
			</a></li>
		</ul>
	</div>
	<!-- 菜单 开始 -->
	<div class="menu_btn"><img src="../../images/wx/menu1.png" /></div>
	<!-- 菜单 结束 -->
</body>
</html>
<script type="text/javascript">
	
	//查看更多我开发的
	function seemoreDevelop(obj){
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 5; i++) {
					html+='<li>\
								<section onclick="javascript:self.location=\'#url\'">\
									<a class="imgbox"><img src="../../images/wx/app4.png"></a>\
									<strong>圣诞送优惠</strong>\
									<p>这款插件非常非常受欢迎。</p>\
									<div class="clear"></div>\
								</section>\
							</li>';
		 		};
				$(obj).prev().append(html);
			}
		});
	}

	//查看更多开发者
	function seemoreDeveloper(obj){
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 5; i++) {
					html+='<li>\
								<dl onclick="javascript:self.location=\'#url\'">\
									<dt>\
										<a class="avatar"><img src="../../images/wx/avatar.jpg"></a>\
										<h3><a>@山间的风</a></h3>\
										<p>淘插件签约开发者，十年开发经验</p>\
										<div class="clear"></div>\
									</dt>\
									<dd>\
										<span class="fr">开发插件：<strong>4</strong></span>\
										<span><i class="ico_suc"></i>成交：<strong>250</strong> 笔</span>\
									</dd>\
									<dd>\
										<a>《圣诞送优惠》、《拼图闯关赢好礼》</a>\
									</dd>\
								</dl>\
							</li>';
		 		};
				$(obj).prev().append(html);
			}
		});
	}

</script>