<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>我的插件</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/wx/touchslide.js"></script>
<script type="text/javascript" src="../../js/wx/layout.js"></script>
</head>
<body>
	<!-- 如果没有内容 开始 -->
	<div class="if_none">
		<p>您还未购买插件</p>
	</div>
	<!-- 如果没有内容 开始 -->
	<!-- 插件列表 开始 -->
	<div class="plugin_list">
		<div class="norl_title">
			<h3 class="tr"><h3>我的插件</h3></h3>
		</div>
		<ul>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app1.png" /></a>
					<h3>圣诞送优惠</h3>
					<p class="tr"><a>@bin潮灏</a><span>3个活动</span></p>
					<div class="clear"></div>
					<div class="btns tr">
						<!-- 强调色为pink -->
						<span class="pink">14/10/11 过期</span>
					</div>
				</section>
				<div class="btns tr absolute">
					<a class="btn_add">新增活动</a>
				</div>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app2.png" /></a>
					<h3>圣诞送优惠</h3>
					<p class="tr"><a>@bin潮灏</a><span>3个活动</span></p>
					<div class="clear"></div>
					<div class="btns tr">
						<!-- 强调色为pink -->
						<span>已过期</span>
					</div>
				</section>
				<div class="btns tr absolute">
					<a class="btn_add_disable">新增活动</a>
				</div>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app3.png" /></a>
					<h3>圣诞送优惠</h3>
					<p class="tr"><a>@bin潮灏</a><span>3个活动</span></p>
					<div class="clear"></div>
					<div class="btns tr">
						<!-- 强调色为pink -->
						<span>14/10/11 过期</span>
					</div>
				</section>
				<div class="btns tr absolute">
					<a class="btn_add">新增活动</a>
				</div>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app4.png" /></a>
					<h3>圣诞送优惠</h3>
					<p class="tr"><a>@bin潮灏</a><span>3个活动</span></p>
					<div class="clear"></div>
					<div class="btns tr">
						<!-- 强调色为pink -->
						<span>14/10/11 过期</span>
					</div>
				</section>
				<div class="btns tr absolute">
					<a class="btn_add">新增活动</a>
				</div>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app5.png" /></a>
					<h3>圣诞送优惠</h3>
					<p class="tr"><a>@bin潮灏</a><span>3个活动</span></p>
					<div class="clear"></div>
					<div class="btns tr">
						<!-- 强调色为pink -->
						<span>14/10/11 过期</span>
					</div>
				</section>
				<div class="btns tr absolute">
					<a class="btn_add">新增活动</a>
				</div>
			</li>
		</ul>
		<a href="#" class="seemore">查看更多</a>
	</div>
	<div class="space_20"></div>
	<div class="plugin_list">
		<div class="norl_title">
			<h3 class="tr"><h3>插件推荐</h3><a href="#">换一批</a></h3>
		</div>
		<ul>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app1.png" /></a>
					<h3>圣诞送优惠</h3>
					<p class="tr"><a>@bin潮灏</a><span>已有35人购买</span></p>
					<div class="clear"></div>
					<div class="btns tr">
						<span>14/10/12 21:26</span>
					</div>
				</section>
				<div class="btns tr absolute">
					<a herf="#" class="btn_try">试用</a>
					<a class="btn_direct">￥100</a>
				</div>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app2.png" /></a>
					<h3>圣诞送优惠</h3>
					<p class="tr"><a>@bin潮灏</a><span>已有35人购买</span></p>
					<div class="clear"></div>
					<div class="btns tr">
						<span>14/10/12 21:26</span>
					</div>
				</section>
				<div class="btns tr absolute">
					<a herf="#" class="btn_try">试用</a>
					<a class="btn_direct">￥100</a>
				</div>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app3.png" /></a>
					<h3>圣诞送优惠</h3>
					<p class="tr"><a>@bin潮灏</a><span>已有35人购买</span></p>
					<div class="clear"></div>
					<div class="btns tr">
						<span>14/10/12 21:26</span>
					</div>
				</section>
				<div class="btns tr absolute">
					<a herf="#" class="btn_try">试用</a>
					<a class="btn_direct">￥100</a>
				</div>
			</li>
		</ul>
	</div>
	<!-- 插件列表 结束 -->
	<div class="space_10"></div>
	<footer>
		<img src="../../images/wx/hdt_logo.png" />
		<p>专注移动社交互动广告</p>
		<p>© 2014 www.tchajian.com  闽ICP备14019370号</p>
	</footer>
	<!-- 菜单 开始 -->
	<div class="fixed_menu">
		<ul>
			<li><a href="#">
				<img src="../../images/wx/menu2.png" />
				<span>活动中心</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu3.png" />
				<span>我的插件</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu4.png" />
				<span>我的活动</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu5.png" />
				<span>个人主页</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu6.png" />
				<span>交易记录</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu7.png" />
				<span>首页</span>
			</a></li>
		</ul>
	</div>
	<div class="fixed_menubtn"><img src="../../images/wx/menu1.png" /></div>
	<!-- 菜单 结束 -->
	<!-- 支付弹出对话框 开始 -->
	<div class="pay_box">
		<form>
			<h3>
				<strong>确认支付</strong>
				<span class="close"><!-- 关闭登录窗口按钮 -->╳</span>
			</h3>
			<h4>消费：￥100</h4>
			<div class="row">
				<label><input type="checkbox" />使用代币：￥200</label>
				<a class="paycash">赚代币</a>
			</div>
			<div class="clear space_10"></div>
			<div class="row">
				<a class="btn_cancel">取消</a>
				<input type="submit" value="支付" />
			</div>
			<div class="clear"></div>
		</form>
		<div class="bg"></div>
	</div>
	<!-- 支付弹出对话框 结束 -->
	<!-- 赚代币弹出对话框 开始 -->
	<div class="earn_box">
		<dl>
			<dt>代币可代替现金在淘插件平台上购买插件和服务</dt>
			<dd class="space_10">可通过以下方式获得代币：</dd>
			<dd>1、分享首页到微信朋友圈，10个代币。<a class="go_share">去分享</a></dd>
			<dd>2、个人主页插友数突破10，20个代币。<a class="go_invite">邀好友</a></dd>
			<dd class="tc space_15"><a class="btn_cancel">知道了</a></dd>
		</dl>
		<div class="bg"></div>
	</div>
	<!-- 赚代币弹出对话框 结束 -->
	<!-- 分享&邀请好弹出对话框 开始 -->
	<div class="share">
		<i class="aorrw"></i>
		<div class="clear"></div>
		<p>点击右上角</p>
		<p>【发送给朋友】或【分享到朋友圈】</p>
		<p class="notice">首次将插件库分享到朋友圈<br />即可获得10个代币</p>
		<p class="source">淘插件<span>营销推广插件超市</span></p>
	</div>
	<!-- 分享&邀请好弹出对话框 结束 -->
	<!-- 去PC端口弹出对话框 开始 -->
	<div class="gopc_box"  onclick="javascript:self.location='#url'">
		<dl>
			<dt><i class="ico_pc"></i></dt>
			<dd class="space_10">请移步电脑，打开浏览器进行配置</dd>
			<dd><em>http://www.tchajian.com</em></dd>
			<dd>( "淘" 首字母：t，"插件" 全拼：chajian )</dd>
			<dd><a href="#" class="btn_send">发送网址到QQ</a></dd>
		</dl>
		<p class="source">淘插件<br />营销推广插件超市</p>
		<div class="bg"></div>
	</div>
	<!-- 去PC端口弹出对话框 结束 -->
</body>
</html>

