<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>收益提现</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/wx/touchslide.js"></script>
<script type="text/javascript" src="../../js/wx/layout.js"></script>
</head>
<body>
	<div class="space_15"></div>
	<!-- 收益提现 开始 -->
	<article class="wrap">
		<div class="user_center cash">
			<a class="avatar"><img src="../../images/wx/avatar.jpg" /></a>
			<h3><a class="title">御泥坊</a></h3>
			<p>账户类型：<b id="actype">银行卡</b></p>
			<div class="clear space_3"></div>
			<p>提现账号：<b id="acnum">6216912901607963</b><a class="change_btn">修改账户</a></p>
			<p>累计收益：<em>22000</em>元</p>
			<p>累计提现：<em>14000</em>元</p>
			<p>当前余额：<em>8000</em>元</p>
			<div class="deposit">
				<span>提现金额：</span>
				<input class="deposit_count" type="text" /><a class="submit">提交</a><br />
				<span>&nbsp;</span><em>每次只能输入100的整数倍</em>
				
			</div>
		</div>
	</article>
	<!-- 收益提现 结束 -->
	<!-- 提现记录 开始 -->
	<div class="n_title tr">
		<h3 class="fl">提现记录</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<div class="cash_list">
			<table>
				<tr>
					<th>提现金额<em class="fall"></em></th>
					<th>提交时间</th>
					<th>处理时间<em class="rise"></em></th>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
				<tr>
					<td>1000</td>
					<td>2015/01/18 15:32</td>
					<td>2015/01/18 18:00</td>
				</tr>
			</table>
			<div class="seemore" onclick="seemore(this);">查看更多</div>
		</div>
	</article>
	<!-- 提现记录 结束 -->
	<footer>
		<img src="../../images/wx/hdt_logo2.png" />
		<p>专注移动社交互动广告</p>
		<p>Copyright © 2014 www.tchajian.com  闽ICP备14019370号</p>
	</footer>
	<div class="menu">
		<ul>
			<li style="width:40%;margin-left:10%;"><a href="#">
				<img src="../../images/wx/menu7.png" />
				<span>首页</span>
			</a></li>
			<li style="width:40%;"><a href="#">
				<img src="../../images/wx/menu5.png" />
				<span>个人主页</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu4.png" />
				<span>我的活动</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu8.png" />
				<span>我的订单</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu6.png" />
				<span>收益提现</span>
			</a></li>
		</ul>
	</div>
	<!-- 菜单 开始 -->
	<div class="menu_btn"><img src="../../images/wx/menu1.png" /></div>
	<!-- 菜单 结束 -->
</body>
</html>
<script type="text/javascript">
	//修改账户
	$(function(){
		$('.change_btn').click(function(){
			var html = '<div class="actype_box">\
							<dl>\
								<dt>\
									<em>修改账户</em>\
								</dt>\
								<dd>\
									<span class="fl">账户类型</span>\
									<div class="fr">\
										<select class="actype">';
								if( $('#actype').text() == '银行卡'){
									html += '<option selected="selected">银行卡</option>\
											 <option>支付宝</option>';
								}else{
									html += '<option>银行卡</option>\
											 <option selected="selected">支付宝</option>';
								}			
								html += '</select>\
										</div>\
										<div class="clear"></div>\
									</dd>\
									<dd>\
										<span class="fl">提现帐号</span>\
										<div class="fr">\
											<input class="acnum" type="text" value="'+$('#acnum').text()+'" />\
										</div>\
										<div class="clear"></div>\
									</dd>\
									<dd class="btns">\
										<a class="btn_cancel">取消</a>\
										<a class="btn_done">确定</a>\
									</dd>\
								</dl>\
								<div class="bg"></div>\
							</div>';
			$('body').append(html);

			$('.actype_box .btn_done').click(function(){
				if($('.actype_box .acnum').val()){
					$('#actype').text($('.actype_box .actype').val());
					$('#acnum').text($('.actype_box .acnum').val());
					$('.actype_box').remove();
				}else{
					alert("请输入正确的帐号");
				}
			});

		});
		$(document).on("change",".actype",function(){
			$('.acnum').val('');
		});
		$(document).on("click",".actype_box .btn_cancel",function(){
			$('.actype_box').remove();
		});
	});
	
	//提现
	$('.deposit .submit').click(function(){
		if(($('.deposit_count').val()%100 == 0) && $('.deposit_count').val()){
			$('body').append('<article class="prompt">\
								<div class="cont h170">\
									<div class="title"><strong>提示</strong><i onclick="closePrompt(this)">╳</i></div>\
									<div class="text tc">\
										<div class="space_5"></div>\
										<p>提交成功！<br />预计2~3个工作日到账，请耐心等待</p>\
									</div>\
									<div class="btns">\
										<a class="cancel_btn" onclick="closePrompt(this)">知道了</a>\
									</div>\
								</div>\
							</article>');
		}else{
			$('body').append('<article class="prompt">\
								<div class="cont h170">\
									<div class="title"><strong>提示</strong><i onclick="closePrompt(this)">╳</i></div>\
									<div class="text tc">\
										<div class="space_15"></div>\
										<p>请输入正确金额</p>\
										<div class="space_15"></div>\
									</div>\
									<div class="btns">\
										<a class="cancel_btn" onclick="closePrompt(this)">知道了</a>\
									</div>\
								</div>\
							</article>');
		}
	});

	//查看更多记录
	function seemore(obj){
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 5; i++) {
					html+='<tr>\
								<td>1000</td>\
								<td>2015/01/18 15:32</td>\
								<td>2015/01/18 18:00</td>\
							</tr>';
		 		};
				$(obj).prev().append(html);
			}
		});
	}
</script>