<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>模版详情</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/wx/touchslide.js"></script>
<script type="text/javascript" src="../../js/wx/layout.js"></script>
</head>
<body>
	<div class="space_15"></div>
	<!-- 模版内容 开始 -->
	<article class="wrap">
		<div class="temp_detail">
			<img class="avatar" src="../../images/wx/app1.png" />
			<div class="wrod">
				<h3><strong>圣诞送优惠</strong></h3>
				<p class="indent">这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。</p>
			</div>
			<div class="clear space_5"></div>
			<p class="topborder"><i class="ico_publh"></i>发布时间：14/10/12 21:36</p>
			<p><em>已有35人购买</em></p>
			<div class="btns">
				<a href="#" class="btn_demo">演示</a>
				<a class="btn_try">免费试用</a>
				<a class="btn_direct" onclick="buyTemp();">￥100/月</a>
			</div>
			<div class="space_20"></div>
		</div>
	</article>
	<div class="n_title tr">
		<h3 class="fl">使用说明</h3>
	</div>
	<article class="wrap">
		<div class="use_explain">
			<div class="words">
				<p>这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。</p>
			</div>
			<a class="fold">展开</a>
		</div>
	</article>
	<div class="n_title tr">
		<h3 class="fl">模版截图</h3>
	</div>
	<article class="wrap">
		<div class="temp_imgs">
			<div class="imgs">
				<a class="img" onclick="showbigimglist(this);"><img src="../../images/pc/demo12.jpg"></a>
				<a class="img" onclick="showbigimglist(this);"><img src="../../images/pc/demo12s.jpg"></a>
				<a class="img" onclick="showbigimglist(this);"><img src="../../images/pc/demo12s1.jpg"></a>
				<a class="img" onclick="showbigimglist(this);"><img src="../../images/pc/demo12.jpg"></a>
				<a class="img" onclick="showbigimglist(this);"><img src="../../images/pc/demo12s.jpg"></a>
				<!-- <a class="img"><img onclick="showbigimg(this);" src="../../images/pc/demo12.jpg"></a>
				<a class="img"><img onclick="showbigimg(this);" src="../../images/pc/demo12s.jpg"></a>
				<a class="img"><img onclick="showbigimg(this);" src="../../images/pc/demo12s1.jpg"></a>
				<a class="img"><img onclick="showbigimg(this);" src="../../images/pc/demo12.jpg"></a>
				<a class="img"><img onclick="showbigimg(this);" src="../../images/pc/demo12s.jpg"></a> -->
				<div class="clear"></div>
			</div>
			<!-- <div class="turn">
				<a class="turn_next" onclick="go_next(this)">&gt;</a>
				<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
			</div> -->
		</div>
	</article>
	<div class="n_title tr">
		<h3 class="fl">教程视频</h3>
	</div>
	<article class="wrap">
		<embed src="http://player.youku.com/player.php/sid/XODk5MTIyNjE2/v.swf" width="100%" height="220" allowfullscreen="true">
	</article>
	<!-- 模版内容 结束 -->
	<!-- 活动推荐 开始 -->
	<div class="n_title tr">
		<h3 class="fl">正在进行的活动(3)</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<div class="ativ_ing">
		<ul>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app5.png"></a>
					<a class="title">圣诞送优惠</a>
					<div class="clear"></div>
				</section>
				<a href="#" class="enterprise">御泥坊</a>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app2.png"></a>
					<a class="title">圣诞送优惠</a>
					<div class="clear"></div>
				</section>
				<a href="#" class="enterprise">御泥坊</a>
			</li>
			<li>
				<section onclick="javascript:self.location='#url'">
					<a class="imgbox"><img src="../../images/wx/app4.png"></a>
					<a class="title">圣诞送优惠</a>
					<div class="clear"></div>
				</section>
				<a href="#" class="enterprise">御泥坊</a>
			</li>
		</ul>
		<div class="seemore" onclick="seemore(this);">查看更多</div>
	</div>
	</article>
	<!-- 活动推荐 结束 -->
	<!-- 模版开发者 开始 -->
	<div class="n_title tr">
		<h3 class="fl">模版开发者</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<div class="developer">
			<ul>
				<li>
					<dl onclick="javascript:self.location='#url'">
						<dt>
							<a class="avatar"><img src="../../images/wx/avatar.jpg"></a>
							<h3><a>@山间的风</a></h3>
							<p>淘插件签约开发者，十年开发经验</p>
							<div class="clear"></div>
						</dt>
						<dd>
							<span class="fr">开发插件：<strong>4</strong></span>
							<span><i class="ico_suc"></i>成交：<strong>250</strong> 笔</span>
						</dd>
						<dd>
							<a>《圣诞送优惠》、《拼图闯关赢好礼》</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</article>
	<!-- 模版开发者 结束 -->
	<!-- 模版推荐 开始 -->
	<div class="n_title tr">
		<h3 class="fl">模版推荐</h3>
		<!-- <a href="#">更多››</a> -->
	</div>
	<article class="wrap">
		<div class="temp_list">
			<ul>
				<li>
					<div class="btns tr absolute">
						<a href="#" class="btn_try">免费试用</a>
						<a href="#" class="btn_direct">购买</a>
					</div>
					<section onclick="javascript:self.location='#url';event.stopPropagation();">
						<a class="imgbox"><img src="../../images/wx/staravatar.jpg"></a>
						<h3>魔力星愿店-按发布</h3>
						<p class="tr"><a>@彬 ^_^)Y</a><span>已有14人购买</span></p>
						<div class="clear"></div>
						<div class="btns tr">
							<span>2014/12/10 17:42</span>
						</div>
					</section>
				</li>
				<li>
					<section onclick="javascript:self.location='#url'">
						<a class="imgbox"><img src="../../images/wx/treeavatar.gif"></a>
						<h3>圣诞树摇礼物-按发布</h3>
						<p class="tr"><a>@村长</a><span>已有10人购买</span></p>
						<div class="clear"></div>
						<div class="btns tr">
							<span>2014/12/10 20:24</span>
						</div>
					</section>
					<div class="btns tr absolute">
						<a class="btn_try">试用</a>
						<a class="btn_direct">￥100</a>
					</div>
				</li>
				<li>
					<div class="btns tr absolute">
						<a class="btn_try">试用</a>
						<a class="btn_direct">￥138</a>
					</div>
					<section onclick="javascript:self.location='#url';event.stopPropagation();">
						<a class="imgbox"><img src="../../images/wx/microscene.jpg"></a>
						<h3>魔力星愿店-按发布</h3>
						<p class="tr"><a>@彬 ^_^)Y</a><span>已有14人购买</span></p>
						<div class="clear"></div>
						<div class="btns tr">
							<span>2014/12/10 17:42</span>
						</div>
					</section>
				</li>
			</ul>
		</div>
	</article>
	<!-- 模版推荐 结束 -->
	<footer>
		<img src="../../images/wx/hdt_logo2.png" />
		<p>专注移动社交互动广告</p>
		<p>Copyright © 2014 www.tchajian.com  闽ICP备14019370号</p>
	</footer>
	<div class="menu">
		<ul>
			<li><a href="#">
				<img src="../../images/wx/menu7.png" />
				<span>首页</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu2.png" />
				<span>活动圈</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu3.png" />
				<span>模版库</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu10.png" />
				<span>经典案例</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu9.png" />
				<span>发布渠道</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu5.png" />
				<span>个人主页</span>
			</a></li>
		</ul>
	</div>
	<!-- 菜单 开始 -->
	<div class="menu_btn"><img src="../../images/wx/menu1.png" /></div>
	<!-- 菜单 结束 -->
</body>
</html>
<script type="text/javascript">

	//购买模版
	function buyTemp(){
		var html = '\
		<div class="prompt">\
			<form class="cont h210">\
				<div class="title"><strong>购买模版</strong><i onclick="closePrompt(this)">╳</i></div>\
				<div class="space_3"></div>\
				<div class="row tc">\
				</div>\
				<h4></h4>\
				<div class="row">\
				</div>\
				<div class="text tc">\
					<p>	\
						有效期\
						<select>\
							<option>1个月</option>\
							<option>2个月</option>\
							<option>3个月</option>\
							<option>4个月</option>\
							<option>5个月</option>\
							<option>6个月</option>\
							<option>7个月</option>\
							<option>8个月</option>\
							<option>9个月</option>\
							<option>10个月</option>\
							<option>11个月</option>\
							<option>12个月</option>\
						</select>\
					</p>\
					<div class="space_5"></div>\
					<h3>消费：￥268.0</h3>\
					<p>\
						<label><input type="checkbox">使用代币：￥8608.0</label> \
						<a href="javascript:alert(\'敬请期待!\')" class="paycash">赚代币</a>\
					</p>\
				</div>\
				<div class="btns">\
					<a class="cancel_btn" onclick="closePrompt(this)">取消</a><a class="done_btn">支付</a>\
				</div>\
			</form>\
			<div class="bg"></div>\
		</div>';
		$('body').append(html);
	}

	//暂不支持购买
	function buyFail(){
		var html = '\
		<article class="prompt">\
			<div class="cont h170">\
				<div class="title"><strong>提示</strong><i onclick="closePrompt(this)">╳</i></div>\
				<div class="text tc">\
					<div class="space_5"></div>\
					<p>暂不支持移动端购买<br />（www.hudongtui.com）</p>\
				</div>\
				<div class="btns">\
					<a class="cancel_btn" onclick="closePrompt(this)">知道了</a>\
				</div>\
			</div>\
		</article>';
		$('body').append(html);
	}

	//初始化模版截图
	// $(function(){
	// 	$('.temp_imgs').css("height",$('.temp_imgs').width()*55/32+"px");
	// 	$('.temp_imgs img').css({"width":$('.temp_imgs').width()+"px","height":$('.temp_imgs').width()*55/32+"px"});
	// 	$('.temp_imgs .imgs').css("height",$('.temp_imgs').width()*55/32+"px");
	// });
	//后一张截图
	function go_next(obj){
		var $obj = $(obj).parent().parent().find('.imgs');
		$obj.animate({marginLeft:"-"+$('.temp_imgs').width()+"px"},300,function(){
			$obj.find('.img:first').appendTo($obj);
			$obj.css("margin-left","0px");
		});
	}
	//前一张截图
	function go_prev(obj){
		var $obj = $(obj).parent().parent().find('.imgs');
		$obj.css("margin-left","-"+$('.temp_imgs').width()+"px").find('.img:last').prependTo($obj);
		$obj.animate({marginLeft:'0px'},300);
	}

	//使用说明展开
	$(function(){
		$('.use_explain .fold').click(function(){
			if($(this).text() == "收起"){
				$(this).text("展开");
				$(this).parent().find('.words').attr("style","height:115px;");
			}else{
				$(this).text("收起");
				$(this).parent().find('.words').attr("style","height:auto;");
			}
		}); 
	});

	//查看更多正在进行的活动
	function seemore(obj){
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 5; i++) {
					html+='<li>\
							<section onclick="javascript:self.location=\'#url\'">\
								<a class="imgbox"><img src="../../images/wx/app4.png"></a>\
								<a class="title">圣诞送优惠</a>\
								<div class="clear"></div>\
							</section>\
							<a href="#" class="enterprise">御泥坊</a>\
						</li>';
		 		};
				$(obj).prev().append(html);
			}
		});
	}

	//显示大图
	function showbigimg(obj){
		$('body').append('<div class="bigimg_box" onclick="remove();">\
							<img src="'+$(obj).attr("src")+'" />\
						</div>');
		$('.bigimg_box img').load(function(){
			$(this).attr("style","margin-top:-" + ($(this).height()/2-5) +"px;margin-left:-" + ($(this).width()/2-5) +"px;");
		});
	}

	function showbigimglist(obj){
		var imgsrc = [];
		var i = $(obj).index();
		$(obj).parent().find('img').each(function(){
			imgsrc.push($(this).attr('src'));
		});
		$('body').append('<div class="bigimg_boxlist">\
							<span class="close" onclick="removebigimglist(this);">╳</span>\
							<span class="prev">&lt;</span>\
							<span class="next">&gt;</span>\
							<img src="'+imgsrc[i]+'" />\
						</div>');
		$('.bigimg_boxlist img').load(function(){
			$(this).attr("style","margin-top:-" + ($(this).height()/2+5) +"px;margin-left:-" + ($(this).width()/2+5) +"px;");
		});
		console.log(i);
		$('.bigimg_boxlist .prev').on("click",function(){
			if(i > 0)i--;
			$(this).siblings("img").attr("src",imgsrc[i]);
			console.log(i);
		});
		$('.bigimg_boxlist .next').on("click",function(){
			if(i < imgsrc.length-1)i++;
			$(this).siblings("img").attr("src",imgsrc[i]);
			console.log(i);
		});
	}

	function removebigimglist(obj){
		$(obj).parents('.bigimg_boxlist').remove();
	}


</script>