<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>活动圈</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/wx/touchslide.js"></script>
<script type="text/javascript" src="../../js/wx/layout.js"></script>
</head>
<body>
	<!-- 活动圈 开始 -->
	<div class="space_15"></div>
	<article class="wrap">
		<div class="t_title line2">
			<a class="active" id="ativ_time">按发布</a>
			<a id="ativ_heat">按热度</a>
		</div>
		<div class="ativ_list">
			<ul>
				<li>
					<div class="rehot">推荐</div>
					<a href="#" class="ativ_title">
						<img src="../../images/wx/microscene.jpg">
						<h3>全大伟寿司店-按发布</h3>
						<p class="tr">
							<span class="fl">参与人数：<em>20万</em></span>
							<span>浏览量：<em>44万</em></span>
						</p>
					</a>
					<a href="#" class="ativ_intro">
						<img src="../../images/wx/avatar.jpg">
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</a>
					<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>
				</li>
				<li>
					<div class="rehot">推荐</div>
					<a href="#" class="ativ_title">
						<img src="../../images/wx/microscene.jpg">
						<h3>全大伟寿司店-按发布</h3>
						<p class="tr">
							<span class="fl">参与人数：<em>20万</em></span>
							<span>浏览量：<em>44万</em></span>
						</p>
					</a>
					<a href="#" class="ativ_intro">
						<img src="../../images/wx/avatar.jpg">
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</a>
					<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>
				</li>
				<li>
					<div class="rehot">推荐</div>
					<a href="#" class="ativ_title">
						<img src="../../images/wx/microscene.jpg">
						<h3>全大伟寿司店-按发布</h3>
						<p class="tr">
							<span class="fl">参与人数：<em>20万</em></span>
							<span>浏览量：<em>44万</em></span>
						</p>
					</a>
					<a href="#" class="ativ_intro">
						<img src="../../images/wx/avatar.jpg">
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</a>
					<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>
				</li>
				<li>
					<a href="#" class="ativ_title">
						<img src="../../images/wx/microscene.jpg">
						<h3>全大伟寿司店-按发布</h3>
						<p class="tr">
							<span class="fl">参与人数：<em>20万</em></span>
							<span>浏览量：<em>44万</em></span>
						</p>
					</a>
					<a href="#" class="ativ_intro">
						<img src="../../images/wx/avatar.jpg">
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</a>
					<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>
				</li>
				<li>
					<a href="#" class="ativ_title">
						<img src="../../images/wx/microscene.jpg">
						<h3>全大伟寿司店-按发布</h3>
						<p class="tr">
							<span class="fl">参与人数：<em>20万</em></span>
							<span>浏览量：<em>44万</em></span>
						</p>
					</a>
					<a href="#" class="ativ_intro">
						<img src="../../images/wx/avatar.jpg">
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</a>
					<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>
				</li>
			</ul>
			<div class="getmore">努力加载中...</div>
		</div>
	</article>
	<!-- 活动圈 结束 -->
	<footer>
		<img src="../../images/wx/hdt_logo2.png" />
		<p>专注移动社交互动广告</p>
		<p>Copyright © 2014 www.tchajian.com  闽ICP备14019370号</p>
	</footer>
	<div class="menu">
		<ul>
			<li><a href="#">
				<img src="../../images/wx/menu7.png" />
				<span>首页</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu2.png" />
				<span>活动圈</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu3.png" />
				<span>模版库</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu10.png" />
				<span>经典案例</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu9.png" />
				<span>发布渠道</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu5.png" />
				<span>个人主页</span>
			</a></li>
		</ul>
	</div>
	<!-- 菜单 开始 -->
	<div class="menu_btn"><img src="../../images/wx/menu1.png" /></div>
	<!-- 菜单 结束 -->
</body>
</html>
<script type="text/javascript">

	//活动推荐切换 开始----------------------------------->
	$('#ativ_time').click(function(){//按发布
		//更新按钮高亮
		$('#ativ_time').attr("class","ative");
		$('#ativ_heat').attr("class"," ");
		//加载按发布内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 5; i++) {
					html+='<li>\
								<div class="rehot">推荐</div>\
								<a href="#" class="ativ_title">\
									<img src="../../images/wx/microscene.jpg" />\
									<h3>全大伟寿司店-按发布</h3>\
									<p class="tr">\
										<span class="fl">参与人数：<em>20万</em></span>\
										<span>浏览量：<em>44万</em></span>\
									</p>\
								</a>\
								<a href="#" class="ativ_intro">\
									<img src="../../images/wx/avatar.jpg" />\
									<h4>全大伟寿司店</h4>\
									<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
								</a>\
								<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>\
							</li>';
		 		};
				$(".ativ_list ul").html(html);
			}
		});
	});
	$('#ativ_heat').click(function(){//按热度
		//更新按钮高亮
		$('#ativ_time').attr("class"," ");
		$('#ativ_heat').attr("class","ative");
		//加载按热度内容
		$.ajax({
			url: 'xxxxxxxxxx',
			dataType: 'json',
			timeout: 300,
			complete: function(data){
				var html="";
				for (var i = 0; i < 5; i++) {
					html+='<li>\
								<a href="#" class="ativ_title">\
									<img src="../../images/wx/microscene.jpg" />\
									<h3>全大伟寿司店-按热度</h3>\
									<p class="tr">\
										<span class="fl">参与人数：<em>20万</em></span>\
										<span>浏览量：<em>44万</em></span>\
									</p>\
								</a>\
								<a href="#" class="ativ_intro">\
									<img src="../../images/wx/avatar.jpg" />\
									<h4>全大伟寿司店</h4>\
									<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
								</a>\
								<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>\
							</li>';
		 		};
				$(".ativ_list ul").html(html);
			}
		});
	});
	//活动推荐切换 结束-----------------------------------<

	//加载更多活动 开始----------------------------------->
	var ajaxload=false,
	winHeight=$(window).height();
	$(window).scroll(function(){
		var wst=$(window).scrollTop();
		var bodyHeight=$(document).height();
		if(!ajaxload){
			if(wst+winHeight>bodyHeight-20){
				ajaxtip("努力加载中...");
				$.ajax({
					url: 'xxxxxxxxxx',
					dataType: 'json',
					timeout: 300,
					complete: function(data){
				 		var html="";
				 		for (var i = 0; i < 10; i++) {
				 			html+='<li>\
										<a href="#" class="ativ_title">\
											<img src="../../images/wx/microscene.jpg" />\
											<h3>全大伟寿司店の圣诞树</h3>\
											<p class="tr">\
												<span class="fl">参与人数：<em>20万</em></span>\
												<span>浏览量：<em>44万</em></span>\
											</p>\
										</a>\
										<a href="#" class="ativ_intro">\
											<img src="../../images/wx/avatar.jpg" />\
											<h4>全大伟寿司店</h4>\
											<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
										</a>\
										<a href="#" class="ativ_plugin">使用插件：<em>《圣诞树摇礼物》</em></a>\
									</li>';
				 		};
						$(".ativ_list ul").append(html);
						ajaxload=false;
					}
				});
			}
		}
	});
	function ajaxtip(txt){
		$(".getmore").html(txt);
	}
	//加载更多活动 结束-----------------------------------<

</script>

