<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>经典案例</title>
<link rel="stylesheet" href="../../css/wx/layout.css">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/wx/touchslide.js"></script>
<script type="text/javascript" src="../../js/wx/layout.js"></script>
</head>
<body>
	<div class="space_15"></div>
	<!-- 经典案例 开始 -->
	<article class="wrap">
		<div class="classic">
			<ul>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo1_ico.jpg" />
							<h4>中国银行</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>中行摇一摇，中大奖</span></p>
							<p>活动时间：2014/12/18 - 2014/12/31</p>
							<p class="tr">
								<em class="fl">浏览量：<span>2883702</span></em>
								<em>参与人数：<span>1392651</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/54"><img src="../../images/pc/demo5.jpg" /></a>
							</div>
							<!-- <div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> -->
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo12_ico.jpg" />
							<h4>交通银行</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>奔跑吧英雄</span></p>
							<p>活动时间：2015/02/08 - 2015/02/08</p>
							<p class="tr">
								<em class="fl">浏览量：<span>50492</span></em>
								<em>参与人数：<span>28606</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/3">《奔跑吧英雄》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img"><img src="../../images/pc/demo12.jpg" /></a>
								<a class="img"><img src="../../images/pc/demo12s.jpg" /></a>
								<a class="img"><img src="../../images/pc/demo12s1.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo3_ico.jpg" />
							<h4>江苏卫视</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>《千金女贼》开播抽奖</span></p>
							<p>活动时间：2014/12/12 - 2014/12/25</p>
							<p class="tr">
								<em class="fl">浏览量：<span>7383</span></em>
								<em>参与人数：<span>3824</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/208"><img src="../../images/pc/demo11.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/tree/index/208"><img src="../../images/pc/demo11s.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo15_ico.jpg" />
							<h4>中国平安</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>平安帮你说出爱</span></p>
							<p>活动时间：2015/02/03 - 2015/02/28</p>
							<p class="tr">
								<em class="fl">浏览量：<span>3899</span></em>
								<em>参与人数：<span>1432</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/1">《微场景》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://t.tchajian.com/cj/magazine/index/372"><img src="../../images/pc/demo15.jpg" /></a>
							</div>
							<!--<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> -->
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo2_ico.jpg" />
							<h4>非诚勿扰</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>情人节寻问前世缘</span></p>
							<p>活动时间：2015/02/12 - 2015/02/14</p>
							<p class="tr">
								<em class="fl">浏览量：<span>939</span></em>
								<em>参与人数：<span>528</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/11">《寻找前世情人》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/fingerprint/index/455"><img src="../../images/pc/demo18.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/fingerprint/index/455"><img src="../../images/pc/demo18s.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> 
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo1_ico.jpg" />
							<h4>中国银行徐汇支行</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>中行拼图赢好礼</span></p>
							<p>活动时间：2015/01/12 - 2015/03/12</p>
							<p class="tr">
								<em class="fl">浏览量：<span>4352</span></em>
								<em>参与人数：<span>1676</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/7">《拼图赢好礼》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/pintu/index/262"><img src="../../images/pc/demo1.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/pintu/index/262"><img src="../../images/pc/demo1s.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo2_ico.jpg" />
							<h4>非诚勿扰</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>非诚勿扰五周年</span></p>
							<p>活动时间：2015/01/10 - 2015/01/11</p>
							<p class="tr">
								<em class="fl">浏览量：<span>22077</span></em>
								<em>参与人数：<span>10308</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/2">《拆礼盒》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/giftbox/index/209"><img src="../../images/pc/demo2.jpg" /></a>
							</div>
							<!-- <div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> -->
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo4_ico.jpg" />
							<h4>雀巢</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>雀巢摇一摇，中大奖</span></p>
							<p>活动时间：2014/12/18 - 2014/12/25</p>
							<p class="tr">
								<em class="fl">浏览量：<span>26217</span></em>
								<em>参与人数：<span>10308</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/25"><img src="../../images/pc/demo4.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo10_ico.jpg" />
							<h4>超越时代网络科技</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>寻找你前世的情人</span></p>
							<p>活动时间：2015/02/08 - 2015/02/08</p>
							<p class="tr">
								<em class="fl">浏览量：<span>467713</span></em>
								<em>参与人数：<span>22350</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/11">《寻找前世情人》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/fingerprint/index/397"><img src="../../images/pc/demo14.jpg" /></a>
							</div>
							<!--<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> -->
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo3_ico.jpg" />
							<h4>江苏卫视</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>《二炮手》圣诞节送礼</span></p>
							<p>活动时间：2015/01/12 - 2015/03/12</p>
							<p class="tr">
								<em class="fl">浏览量：<span>15924</span></em>
								<em>参与人数：<span>8962</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/99"><img src="../../images/pc/demo3.jpg" /></a>
							</div>
							<!-- <div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> -->
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo6_ico.jpg" />
							<h4>修正药业</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>摇一摇礼物马上掉</span></p>
							<p>活动时间：2014/12/18 - 2014/12/31</p>
							<p class="tr">
								<em class="fl">浏览量：<span>46477</span></em>
								<em>参与人数：<span>24673</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/68"><img src="../../images/pc/demo6.jpg" /></a>
							</div>
							<!-- <div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> -->
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo19_ico.jpg" />
							<h4>国美电器</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>来国美，摇大奖了！</span></p>
							<p>活动时间：2015/02/04 - 2015/02/14</p>
							<p class="tr">
								<em class="fl">浏览量：<span>8737</span></em>
								<em>参与人数：<span>4960</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://t.tchajian.com/cj/tree/index/391"><img src="../../images/pc/demo19.jpg" /></a>
								<a class="img" href="http://t.tchajian.com/cj/tree/index/391"><img src="../../images/pc/demo19s.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo16_ico.jpg" />
							<h4>华润·幸福里</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>华润幸福里情人节有礼</span></p>
							<p>活动时间：2015/02/11 - 2015/02/13</p>
							<p class="tr">
								<em class="fl">浏览量：<span>1989</span></em>
								<em>参与人数：<span>1003</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/426"><img src="../../images/pc/demo16.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/tree/index/426"><img src="../../images/pc/demo16s.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo17_ico.jpg" />
							<h4>新农哥</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>摇一摇，得爱神眷顾</span></p>
							<p>活动时间：2015/02/06 - 2015/02/14</p>
							<p class="tr">
								<em class="fl">浏览量：<span>18188</span></em>
								<em>参与人数：<span>8972</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/401"><img src="../../images/pc/demo17.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/tree/index/401"><img src="../../images/pc/demo17s.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo9_ico.jpg" />
							<h4>掌上唐山</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>掌上唐山新年卡DIY</span></p>
							<p>活动时间：2014/12/30 - 2015/1/31</p>
							<p class="tr">
								<em class="fl">浏览量：<span>1140</span></em>
								<em>参与人数：<span>566</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/6">《新年DIY送贺卡》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/greetingcard/index/182"><img src="../../images/pc/demo9.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/greetingcard/index/182"><img src="../../images/pc/demo9s.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/greetingcard/index/182"><img src="../../images/pc/demo9s1.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo10_ico.jpg" />
							<h4>超越时代网络科技公司</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>超级跑男排名赛</span></p>
							<p>活动时间：2014/12/26 - 2014/12/31</p>
							<p class="tr">
								<em class="fl">浏览量：<span>29709</span></em>
								<em>参与人数：<span>12584</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/3">《奔跑吧英雄》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/runman/index/105"><img src="../../images/pc/demo10.jpg" />
								<a class="img" href="http://www.tchajian.com/cj/runman/index/105"><img src="../../images/pc/demo10s.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/runman/index/105"><img src="../../images/pc/demo10s1.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/runman/index/105"><img src="../../images/pc/demo10s2.jpg" /></a>
								<a class="img" href="http://www.tchajian.com/cj/runman/index/105"><img src="../../images/pc/demo10s3.jpg" /></a>
							</div>
							<div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo7_ico.jpg" />
							<h4>中央花园</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>中央花园摇礼物</span></p>
							<p>活动时间：2014/12/23 - 2014/12/31</p>
							<p class="tr">
								<em class="fl">浏览量：<span>1659</span></em>
								<em>参与人数：<span>852</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/101"><img src="../../images/pc/demo7.jpg" /></a>
							</div>
							<!-- <div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> -->
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../images/pc/demo8_ico.jpg" />
							<h4>寿光生活网</h4>
							<div class="clear space_7"></div>
							<div class="line"></div>
							<p>活动名称：<span>圣诞节摇话费，么么哒</span></p>
							<p>活动时间：2014/12/12 - 2014/12/25</p>
							<p class="tr">
								<em class="fl">浏览量：<span>718089</span></em>
								<em>参与人数：<span>329067</span></em>
							</p>
							<div class="line"></div>
							<p>使用插件：<a href="http://www.tchajian.com/pc/plugin/pluginDetail/5">《摇一摇，中大奖》</a></p>
						</dt>
						<dd>
							<div class="imgs">
								<a class="img" href="http://www.tchajian.com/cj/tree/index/16"><img src="../../images/pc/demo8.jpg" /></a>
							</div>
							<!-- <div class="turn">
								<a class="turn_next" onclick="go_next(this)">&gt;</a>
								<a class="turn_prev" onclick="go_prev(this)">&lt;</a>
							</div> -->
						</dd>
					</dl>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</article>
	<!-- 经典案例 结束 -->
	<footer>
		<img src="../../images/wx/hdt_logo2.png" />
		<p>专注移动社交互动广告</p>
		<p>Copyright © 2014 www.tchajian.com  闽ICP备14019370号</p>
	</footer>
	<div class="menu">
		<ul>
			<li><a href="#">
				<img src="../../images/wx/menu7.png" />
				<span>首页</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu2.png" />
				<span>活动圈</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu3.png" />
				<span>模版库</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu10.png" />
				<span>经典案例</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu9.png" />
				<span>发布渠道</span>
			</a></li>
			<li><a href="#">
				<img src="../../images/wx/menu5.png" />
				<span>个人主页</span>
			</a></li>
		</ul>
	</div>
	<!-- 菜单 开始 -->
	<div class="menu_btn"><img src="../../images/wx/menu1.png" /></div>
	<!-- 菜单 结束 -->
</body>
</html>
<script type="text/javascript">
	$(function(){

		$('.classic ul dd').css("height",$('.classic ul dd').width()*55/32+"px");
		$('.classic ul dd img').css({"width":$('.classic ul dd').width()+"px","height":$('.classic ul dd').width()*55/32+"px"});
		$('.classic ul dd .imgs').css("height",$('.classic ul dd').width()*55/32+"px");

	});

	function go_next(obj){
		var $obj = $(obj).parent().parent().find('.imgs');
		$obj.animate({marginLeft:'-300px'},300,function(){
			$obj.find('.img:first').appendTo($obj);
			$obj.css("margin-left","0px");
		});
	}
	function go_prev(obj){
		var $obj = $(obj).parent().parent().find('.imgs');
		$obj.css("margin-left","-200px").find('.img:last').prependTo($obj);
		$obj.animate({marginLeft:'0px'},300);
	}


	function showthis(obj){
		var $obj = $(obj);
		alert($obj.text());
	}
</script>

