<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<title>index</title>
</head>
<body>
	<!--[if lte IE 8]>
		<div class="ie_version">系统检测到您所使用的浏览器版本较低，推荐使用<em>Firefox</em>或<em>Chrome</em>浏览器打开，否则将无法体验完整产品功能。</div>
	<![endif]-->
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#" title="互动推"><img alt="互动推" src="../../images/pc/hdt_logo.png" /></a></h1>
			<div class="slogan"><span>专注移动社交互动广告</span></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#" class="active"><em class="icon_home"></em>首页</a></li>
				<li><a href="#"><em class="icon_ativ"></em>活动圈</a></li>
				<li><a href="#"><em class="icon_plugin"></em>模版库</a></li>
				<li><a href="#"><em class="icon_channel"></em>发布渠道</a></li>
				<li><a href="#"><em class="icon_help"></em>帮助中心</a></li>
				<li><a href="#"><em class="icon_agent"></em>加盟代理</a></li>
				<li><a href="#">登录</a><strong>|</strong><a href="#">注册</a></li>
				<!-- <li class="users_btn"><a href="#"><img src="../../images/avatar.jpg" />山间的风</a>（<a href="#">退出</a>）</li> -->
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 焦点图 开始 -->
	<div class="w1190 banner" id="banner">
		<div class="main">
			<ul class="banner_cont">
				<li><a href="#"><img src="../../images/pc/banner_tree.jpg" /></a></li>
				<li><a href="#"><img src="../../images/pc/banner_wish.jpg" /></a></li>
				<li><a href="#"><img src="../../images/pc/banner_runman.jpg" /></a></li>
			</ul>
		</div>
		<div class="focus">
			<ul>
				<li class="active">1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
		<div class="prev"><!-- 上一张 --></div>
		<div class="next"><!-- 下一张 --></div>
		<div class="side">
			<h3>已有<em>320</em>个品牌强势入驻：</h3>
			<ul>
				<li><a href="#"><img src="../../images/pc/demo1_ico.jpg" /></a></li>
				<li><a href="#"><img src="../../images/pc/demo3_ico.jpg" /></a></li>
				<li><a href="#"><img src="../../images/pc/demo4_ico.jpg" /></a></li>
				<li><a href="#"><img src="../../images/pc/demo7_ico.jpg" /></a></li>
			</ul>
			<a href="#" class="join_btn">现在加入</a>
			<p>咨询电话：0592-7127103</p>
			<a href="#" class="qq_btn">QQ在线客服</a>
			<div class="code_btn"><em>&nbsp;</em></div>
			<div class="code">
				<i class="close">╳</i>
				<p>微信官方公众号</p>
				<img src="../../images/pc/code.jpg" />
				<span>实时查看活动数据</span>
				<span>了解最新优惠信息</span>
			</div>
		</div>
		<div class="shadow"><!-- 阴影隔断 --></div>
	</div>
	<!-- 焦点图 结束 -->
	<!-- 内容 开始 -->
	<!-- 第二屏 开始 -->
	<div class="w1190">
		<!-- 左侧内容 开始 -->
		<div class="fl w890">
			<div class="ativ_center for_index">
				<div class="main">
					<div class="norl_title">
						<!-- <div class="fr"><a href="#" class='more_btn'>更多>></a></div> -->
						<h3>活动推荐</h3>
					</div>
					<ul>
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg" />
								<span class="code_img"><img src="../../images/code1.jpg" /></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
								<h4>全大伟寿司店<em>渠道</em></h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
						</li>
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg" />
								<span class="code_img"><img src="../../images/code1.jpg" /></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
								<h4>全大伟寿司店<em>渠道</em></h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">站外活动</div>
						</li>
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg" />
								<span class="code_img"><img src="../../images/code1.jpg" /></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
								<h4>全大伟寿司店<em>渠道</em></h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- 左侧内容 结束 -->
		<!-- 右侧内容 开始 -->
		<div class="fr w300 side">
			<div class="norl_title">
				<!-- <div class="fr"><a href="#" class='more_btn'>更多>></a></div> -->
				<h3>经典案例</h3>
			</div>
			<div class="classic_case">
				<div class="classic_caselist">
					<ul>
						<li>
							<a href="#" class="caseimg"><img src="../../images/pc/demo1.jpg" /></a>
						</li>
						<li>
							<a href="#" class="caseimg"><img src="../../images/pc/demo2.jpg" /></a>
						</li>
						<li>
							<a href="#" class="caseimg"><img src="../../images/pc/demo4.jpg" /></a>
						</li>
						<li>
							<a href="#" class="caseimg"><img src="../../images/pc/demo1.jpg" /></a>
						</li>
						<li>
							<a href="#" class="caseimg"><img src="../../images/pc/demo2.jpg" /></a>
						</li>
						<li>
							<a href="#" class="caseimg"><img src="../../images/pc/demo4.jpg" /></a>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="turn">
					<a class="turn_prev">&lt;</a>
					<a class="turn_next">&gt;</a>
				</div>
			</div>
		</div>
		<!-- 右侧内容 结束 -->
		<div class="clear"></div>
		<a href="#" class="see_all">查看全部</a>
		<div class="space_20"></div>
	</div>
	<!-- 第二屏 结束 -->
	<div class="clear"></div>
	<!-- 第三屏 开始 -->
	<div class="w1190">
		<!-- 左侧内容 开始 -->
		<div class="fl w890">
			<div class="index">
				<div class="main">
					<div class="norl_title">
						<!-- <div class="fr"><a href="#" class='more_btn'>更多>></a></div> -->
						<h3>模版推荐</h3>
					</div>
					<div class="cont w860">
						<ul>
							<li>
								<a href="#" class="img"><img src="../../images/app1.png" /></a>
								<h3>
									<a href="#"><strong>海报杂志</strong></a>
									<a href="#" class="author">@山间的风</a>
									<span>2014/10/12&nbsp;21:26&nbsp;&nbsp;&nbsp;&nbsp;<em>已有15人购买</em></span>
								</h3>
								<div class="intro">
									<p>
										<em class="quot_left"><!-- 前引号 --></em>
										<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
										<em class="quot_right"><!-- 后引号 --></em>
									</p>
									<a href="#" class="btn_try">试用</a>
									<a class="btn_direct">￥100</a>
								</div>
								<div class="clear"></div>
								<!-- 展开内容 -->
								<dl>
									<dd><img src="../../images/app_cont1.jpg"></dd>
									<dd><img src="../../images/app_cont2.jpg"></dd>
									<dd><img src="../../images/app_cont1.jpg"></dd>
									<dd><img src="../../images/app_cont2.jpg"></dd>
									<dd><img src="../../images/app_cont1.jpg"></dd>
								</dl>
							</li>
							<li>
								<a href="#" class="img"><img src="../../images/app2.png" /></a>
								<h3>
									<a href="#"><strong>海报杂志</strong></a>
									<a href="#" class="author">@山间的风</a>
									<span>2014/10/12&nbsp;21:26&nbsp;&nbsp;&nbsp;&nbsp;<em>已有15人购买</em></span>
								</h3>
								<div class="intro">
									<p>
										<em class="quot_left"><!-- 前引号 --></em>
										<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
										<em class="quot_right"><!-- 后引号 --></em>
									</p>
									<a href="#" class="btn_free">免费</a>
								</div>
								<div class="clear"></div>
								<!-- 展开内容 -->
								<dl>
									<dd><img src="../../images/app_cont1.jpg"></dd>
									<dd><img src="../../images/app_cont2.jpg"></dd>
									<dd><img src="../../images/app_cont1.jpg"></dd>
									<dd><img src="../../images/app_cont2.jpg"></dd>
									<dd><img src="../../images/app_cont1.jpg"></dd>
								</dl>
							</li>
							<li>
								<a href="#" class="img"><img src="../../images/app3.png" /></a>
								<h3>
									<a href="#"><strong>海报杂志</strong></a>
									<a href="#" class="author">@山间的风</a>
									<span>2014/10/12&nbsp;21:26&nbsp;&nbsp;&nbsp;&nbsp;<em>已有15人购买</em></span>
								</h3>
								<div class="intro">
									<p>
										<em class="quot_left"><!-- 前引号 --></em>
										<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
										<em class="quot_right"><!-- 后引号 --></em>
									</p>
									<a href="#" class="btn_free">购买</a>
								</div>
								<div class="clear"></div>
								<!-- 展开内容 -->
								<dl>
									<dd><img src="../../images/app_cont2.jpg"></dd>
									<dd><img src="../../images/app_cont1.jpg"></dd>
									<dd><img src="../../images/app_cont2.jpg"></dd>
									<dd><img src="../../images/app_cont1.jpg"></dd>
									<dd><img src="../../images/app_cont2.jpg"></dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 左侧内容 结束 -->
		<!-- 右侧内容 开始 -->
		<div class="fr w300 side">
			<div class="norl_title">
				<h3>模版预告</h3>
			</div>
			<div class="temp_foreshow">
				<dl>
					<dd>
						<h3>小鸟闯关</h3>
						<p>经典Flappy Bird游戏改造，可将奖品设置到障碍之间，小鸟飞过获得奖品。</p>
						<span>预计上架时间：<em>2015-03-15</em></span>
					</dd>
					<dd>
						<h3>小鸟闯关</h3>
						<p>经典Flappy Bird游戏改造，可将奖品设置到障碍之间，小鸟飞过获得奖品。</p>
						<span>预计上架时间：<em>2015-03-15</em></span>
					</dd>
					<dd>
						<h3>小鸟闯关</h3>
						<p>经典Flappy Bird游戏改造，可将奖品设置到障碍之间，小鸟飞过获得奖品。</p>
						<span>预计上架时间：<em>2015-03-15</em></span>
					</dd>
				</dl>
			</div>
		</div>
		<!-- 右侧内容 结束 -->
		<div class="clear space_20"></div>
		<a href="#" class="see_all">查看全部</a>
	</div>
	<!-- 第三屏 结束 -->
	<div class="clear"></div>
	<!-- 渠道推荐 开始 -->
	<div class="w1190">
		<div class="norl_title">
			<!-- <div class="fr"><a href="#" class='more_btn'>更多>></a></div> -->
			<h3>渠道推荐</h3>
		</div>
		<div class="channel_hot">
			<ul>
				<li><a href="#">
					<img src="../../images/pc/demo19_ico.jpg" />
					<h3><strong>钦州国美</strong><i class="sina_ico"></i></h3>
					<span>电子商务钦州一霸，连续三十年销量第一。</span>
					<div class="space_5 clear"></div>
					<p>粉丝数：<em>10W~50W</em></p>
					<p>价位：<em>5000元/条</em></p>
				</a></li>
				<li><a href="#">
					<img src="../../images/pc/demo13_ico.jpg" />
					<h3><strong>华韩整容</strong><i class="wechat_ico">订</i></h3>
					<span>整容美肤釜山一霸，连续三十年销量第二。</span>
					<div class="space_5 clear"></div>
					<p>粉丝数：<em>10W~50W</em></p>
					<p>价位：<em>5000元/条</em></p>
				</a></li>
				<li><a href="#">
					<img src="../../images/pc/demo7_ico.jpg" />
					<h3><strong>中央花园</strong><i class="wechat_ico">服</i></h3>
					<span>房地产蒴州一霸，连续三十年销量第一。</span>
					<div class="space_5 clear"></div>
					<p>粉丝数：<em>10W~50W</em></p>
					<p>价位：<em>5000元/条</em></p>
				</a></li>
				<li><a href="#">
					<img src="../../images/pc/demo19_ico.jpg" />
					<h3><strong>钦州国美</strong><i class="sina_ico"></i></h3>
					<span>电子商务钦州一霸，连续三十年销量第一。</span>
					<div class="space_5 clear"></div>
					<p>粉丝数：<em>10W~50W</em></p>
					<p>价位：<em>5000元/条</em></p>
				</a></li>
			</ul>
			<div class="space_20 clear"></div>
			<a href="#" class="see_all">查看全部</a>
		</div>
	</div>
	<!-- 渠道推荐 结束 -->
	<!-- 内容 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">
			<img alt="互动推" src="../../images/pc/hdt_logo.png" />
			<span>专注移动社交互动广告</span>
		</a></h2>
		<p>
			<a href="#">首页</a>
			<em>|</em>
			<a href="#">活动圈</a>
			<em>|</em>
			<a href="#">模板库</a>
			<em>|</em>
			<a href="#">发布渠道</a>
			<em>|</em>
			<a href="#">帮助中心</a>
			<em>|</em>
			<a href="#">渠道代理</a>
			<em>|</em>
			<a href="#">代理商登录</a>
		</p>
		<p>
			<span>咨询电话：0592-7127103</span>
			<span>QQ：888888888</span>
			<span>邮箱：cs@tchajian.com</span>
		</p>
		<p>地址： 福建省厦门市思明区软件园二期望海路19号之二502室</p>
		<p>Copyright © 2014 www.tchajian.com All Rights Reserved 有戏（厦门）网络科技有限公司&nbsp;&nbsp;闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
	<!-- 浮动菜单 开始 -->
	<div class="float_menu" style="display:none;">
		<ul>
			<li class="sliding0">
				<a><em class="phone_ico"></em><span>0755-366310090</span></a>
			</li>
			<li class="clear"></li>
			<li class="sliding1">
				<a href="#"><em class="qq_ico"></em><span>点击QQ交谈</span></a>
			</li>
			<li class="clear"></li>
			<li id="float_menucode">
				<a href="#" class="sliding"><img src="../../images/pc/float_code.jpg"></a>
			</li>
			<li class="clear"></li>
			<li class="gotop" style="display:block;">
				<a><em class="gotop_ico">返回顶部</em></a>
			</li>
		</ul>
	</div>
	<!-- 浮动菜单 结束 -->
	<!-- 登录弹出对话框 开始 -->
	<div class="login_box">
		<div class="main">
			<h3>
				<strong>登录</strong>
				<span class="close"><!-- 关闭登录窗口按钮 -->╳</span>
			</h3>
			<h4>
				<strong>推荐</strong>
				<em>（同微信公众号数据同步）</em>
			</h4>
			<a href="#" class="btn">
				<img src="../../images/wechat.png" />
				<span>微信登录</span>
			</a>
			<h5>其他</h5>
			<ul>
				<li><a href="#">
					<img src="../../images/tencent.png" />
					<span>QQ登录</span>
				</a></li>
				<li><a href="#">
					<img src="../../images/tencent.png" />
					<span>QQ登录</span>
				</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="bg"></div>
	</div>
	<!-- 登录弹出对话框 结束 -->
	<!-- 支付弹出对话框 开始 -->
	<div class="pay_box">
		<form>
			<h3>
				<strong>确认支付</strong>
				<span class="close"><!-- 关闭登录窗口按钮 -->╳</span>
			</h3>
			<h4>消费：￥100</h4>
			<div class="row">
				<label><input type="checkbox" />使用代币：￥200</label>
				<a class="paycash">赚代币</a>
			</div>
			<div class="clear space_20"></div>
			<div class="row">
				<a class="btn_cancel">取消</a>
				<a class="btn_pay">支付</a>
			</div>
			<div class="clear"></div>
		</form>
		<div class="bg"></div>
	</div>
	<!-- 支付弹出对话框 结束 -->
	<!-- 赚代币弹出对话框 开始 -->
	<div class="earn_box">
		<dl>
			<dt>代币可以代替现金在互动推平台上购买模版和服务。</dt>
			<dd class="space_20">可通过以下方式获得代币：</dd>
			<dd>1、分享首页到微信朋友圈，10个代币。<a href="#">去分享</a></dd>
			<dd>2、个人主页插友数突破10，20个代币。<a href="#">邀好友</a></dd>
			<dd class="tc space_20"><a class="btn_cancel">知道了</a></dd>
		</dl>
		<div class="bg"></div>
	</div>
	<!-- 赚代币弹出对话框 结束 -->
</body>
</html>
<script type="text/javascript">
	// banner右侧二维码显隐
	$(function(){
		$('.banner .side .code_btn').click(function(){
			$('.banner .side .code').fadeIn();
		});
		$('.banner .side .code .close').click(function(){
			$('.banner .side .code').fadeOut();
		});
		$('.banner .side').mouseleave(function(){
			var delay = setInterval(function(){
				$('.banner .side .code').fadeOut();
				clearInterval(delay);
			},2000);
		});
	});

</script>

<script type="text/javascript">

	// 边侧轮播
	function go_next(className){
		var list = $('.'+className).find('ul');
		list.animate({marginLeft:'-300px'},300,function(){
			list.find('li:first').appendTo(list);
			list.css("margin-left","0px");
		});
	}
	function go_prev(className){
		var list = $('.'+className).find('ul');
		list.css("margin-left","-300px").find('li:last').prependTo(list);
		list.animate({marginLeft:'0px'},300);
	}

	$(function(){
		// 边侧轮播
		$('.turn_next').click(function(){
			go_next('classic_caselist');
		});
		$('.turn_prev').click(function(){
			go_prev('classic_caselist');
		});
		var turning = setInterval(function(){
			$(".turn_next").click();
		},3000);
		$('.classic_case').hover(function(){
			clearInterval(turning);
		},function(){
			turning = setInterval(function(){$(".turn_next").click();},3000);
		});
		
		

		// 浮动菜单
		$(".gotop").click(function(){
			$("body,html").animate({scrollTop:0},300);
		});
		$(window).scroll(function(){
			if($(window).scrollTop() > 400){
				$('.float_menu').attr("style","display:block;");
			}else{
				$('.float_menu').attr("style","display:none;");
			}
		});
	});


	/* --------------------------------- 焦点图 开始 --------------------------------- */
	function getStyle(obj,name){
		if(obj.currentStyle){
			return obj.currentStyle[name];
		}else{
			return getComputedStyle(obj,false)[name];
		}
	}

	function getByClass(oParent,nClass){
		var eLe = oParent.getElementsByTagName('*');
		var aRrent  = [];
		for(var i=0; i<eLe.length; i++){
			if(eLe[i].className == nClass){
				aRrent.push(eLe[i]);
			}
		}
		return aRrent;
	}

	function startMove(obj,att,add){
		clearInterval(obj.timer)
		obj.timer = setInterval(function(){
			var cutt = 0 ;
			if(att=='opacity'){
				cutt = Math.round(parseFloat(getStyle(obj,att)));
			}else{
				cutt = Math.round(parseInt(getStyle(obj,att)));
			}
			var speed = (add-cutt)/4;
			speed = speed>0?Math.ceil(speed):Math.floor(speed);
			if(cutt==add){
				clearInterval(obj.timer);
			}else{
				if(att=='opacity'){
					obj.style.opacity = (cutt+speed)/100;
					obj.style.filter = 'alpha(opacity:'+(cutt+speed)+')';
				}else{
					obj.style[att] = cutt+speed+'px';
				}
			}
		},30);
	}

	window.onload = function(){
		var oDiv = document.getElementById('banner');
		var oPre = getByClass(oDiv,'prev')[0];
		var oNext = getByClass(oDiv,'next')[0];
		var oUlBig = getByClass(oDiv,'banner_cont')[0];
		var aBigLi = oUlBig.getElementsByTagName('li');
		var oDivSmall = getByClass(oDiv,'focus')[0];
		var aLiSmall = oDivSmall.getElementsByTagName('li');
		
		function tab(){
			for(var i=0; i<aLiSmall.length; i++){
				aLiSmall[i].className = '';
			}
			aLiSmall[now].className = 'active';
			startMove(oUlBig,'left',-(now*aBigLi[0].offsetWidth));
		}

		var now = 0;
		for(var i=0; i<aLiSmall.length; i++){
			aLiSmall[i].index = i;
			aLiSmall[i].onmouseover = function(){
				now = this.index;
				tab();
			}
		}

		oPre.onclick = function(){
			now--;
			if(now ==-1){
				now = aBigLi.length;
			}
			tab();
		}

		oNext.onclick = function(){
			now++;
			if(now ==aBigLi.length){
				now = 0;
			}
			tab();
		}

		var timer = setInterval(oNext.onclick,3000); //滚动间隔时间设置
		oDiv.onmouseover = function(){
			clearInterval(timer);
		}
		oDiv.onmouseout = function(){
			timer = setInterval(oNext.onclick,3000); //滚动间隔时间设置
		}
	}
	/* --------------------------------- 焦点图 结束 --------------------------------- */
</script>