<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<title>notice</title>
</head>
<body>
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#" title="互动推"><img alt="互动推" src="../../images/pc/hdt_logo.png" /></a></h1>
			<div class="slogan"><span>专注移动社交互动广告</span></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#"><em class="icon_home"></em>首页</a></li>
				<li><a href="#"><em class="icon_ativ"></em>活动圈</a></li>
				<li><a href="#"><em class="icon_plugin"></em>模版库</a></li>
				<li><a href="#"><em class="icon_channel"></em>发布渠道</a></li>
				<li><a href="#"><em class="icon_help"></em>帮助中心</a></li>
				<li><a href="#"><em class="icon_agent"></em>加盟代理</a></li>
				<!-- <li><a href="#">登录</a><strong>|</strong><a href="#">注册</a></li> -->
				<li class="users_btn"><a href="#"><img src="../../images/avatar.jpg" />山间的风</a>（<a href="#">退出</a>）</li>
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 提醒 开始 -->
	<div class="w1190 cont">
		<div class="notice_page">
			<h3>好像没做什么大事儿，就犯错了。</h3>
			<p class="indent_5em">猛戳这里，<a href="#">原路返回</a>！</p>
		</div>
	</div>
	<!-- 提醒 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">
			<img alt="互动推" src="../../images/pc/hdt_logo.png" />
			<span>专注移动社交互动广告</span>
		</a></h2>
		<p>
			<a href="#">首页</a>
			<em>|</em>
			<a href="#">活动圈</a>
			<em>|</em>
			<a href="#">模板库</a>
			<em>|</em>
			<a href="#">发布渠道</a>
			<em>|</em>
			<a href="#">帮助中心</a>
			<em>|</em>
			<a href="#">渠道代理</a>
			<em>|</em>
			<a href="#">代理商登录</a>
		</p>
		<p>
			<span>咨询电话：0592-7127103</span>
			<span>QQ：888888888</span>
			<span>邮箱：cs@tchajian.com</span>
		</p>
		<p>地址： 福建省厦门市思明区软件园二期望海路19号之二502室</p>
		<p>Copyright © 2014 www.tchajian.com All Rights Reserved 有戏（厦门）网络科技有限公司&nbsp;&nbsp;闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
</body>
</html>