<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<title>注册</title>
</head>
<body>
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#" title="互动推"><img alt="互动推" src="../../images/pc/hdt_logo.png" /></a></h1>
			<div class="slogan"><span>专注移动社交互动广告</span></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#"><em class="icon_home"></em>首页</a></li>
				<li><a href="#"><em class="icon_ativ"></em>活动圈</a></li>
				<li><a href="#"><em class="icon_plugin"></em>模版库</a></li>
				<li><a href="#"><em class="icon_channel"></em>发布渠道</a></li>
				<li><a href="#"><em class="icon_help"></em>帮助中心</a></li>
				<li><a href="#"><em class="icon_agent"></em>加盟代理</a></li>
				<li><a href="#">登录</a><strong>|</strong><a href="#">注册</a></li>
				<!-- <li class="users_btn"><a href="#"><img src="../../images/avatar.jpg" />山间的风</a>（<a href="#">退出</a>）</li> -->
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 注册 开始 -->
	<div class="w1190 register">
		<form class="cont" onsubmit="return verify_submit()">
			<h2>注册</h2>
			<div class="row">
				<span class="fl">账号</span>
				<div class="fr">
					<input class="verify_mail" type="text" placeholder="邮箱" verify="false" />
					<i>*</i><em></em>
				</div>
				<div class="clear"></div>
			</div>
			<div class="row">
				<span class="fl">设置密码</span>
				<div class="fr">
					<input class="verify_pass1" type="password" maxlength="16" verify="false" />
					<i>*</i><b>长度为6~16位字符</b><em></em>
				</div>
				<div class="clear"></div>
			</div>
			<div class="row">
				<span class="fl">确认密码</span>
				<div class="fr">
					<input class="verify_pass2" type="password" maxlength="16" verify="false" />
					<i>*</i><em></em>
				</div>
				<div class="clear"></div>
			</div>
			<div class="row">
				<span class="fl">品牌名称</span>
				<div class="fr">
					<input class="verify_name" type="text" />
					<i>*</i><em></em>
				</div>
				<div class="clear"></div>
			</div>
			<div class="space_10"></div>
			<div class="row">
				<span class="fl">品牌LOGO</span>
				<div class="fr">
					<img class="preview" src="../../images/108px.png" />
					<div class="uploadimg"><input class="verify_logo" onchange="imgToBase64(this)" type="file" verify="false" />上传图片</div>
					<i>*</i><b>推荐150X50或等比尺寸</b><em>请上传LOGO</em>
				</div>
				<div class="clear"></div>
			</div>
			<div class="space_10"></div>
			<div class="row">
				<span class="fl">验证码</span>
				<div class="fr">
					<input class="verify_vcode" style="width:80px;" type="text" verify="false" />
					<img class="vcode" src="../../images/pc/vcode.jpg" />
					<div class="change_vcode">换一张</div>
					<i>*</i><em></em>
				</div>
				<div class="clear"></div>
			</div>
			<div class="row">
				<span class="fl">&nbsp;</span>
				<div class="fr">
					<label>
						<input class="verify_protocol" type="checkbox" verify="false" />我已经阅读并同意<a href="#">《淘插件XXX协议》</a>
					</label>
				</div>
				<div class="clear"></div>
			</div>
			<div class="space_20"></div>
			<div class="row">
				<span class="fl">&nbsp;</span>
				<div class="fr">
					<input type="submit" value="注 册" />&nbsp;&nbsp;
					<b>已有帐号<a href="#">马上登录</a></b>
				</div>
				<div class="clear space_20"></div>
			</div>
		</form>
	</div>
	<!-- 注册 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">
			<img alt="互动推" src="../../images/pc/hdt_logo.png" />
			<span>专注移动社交互动广告</span>
		</a></h2>
		<p>
			<a href="#">首页</a>
			<em>|</em>
			<a href="#">活动圈</a>
			<em>|</em>
			<a href="#">模板库</a>
			<em>|</em>
			<a href="#">发布渠道</a>
			<em>|</em>
			<a href="#">帮助中心</a>
			<em>|</em>
			<a href="#">渠道代理</a>
			<em>|</em>
			<a href="#">代理商登录</a>
		</p>
		<p>
			<span>咨询电话：0592-7127103</span>
			<span>QQ：888888888</span>
			<span>邮箱：cs@tchajian.com</span>
		</p>
		<p>地址： 福建省厦门市思明区软件园二期望海路19号之二502室</p>
		<p>Copyright © 2014 www.tchajian.com All Rights Reserved 有戏（厦门）网络科技有限公司&nbsp;&nbsp;闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
	<!-- 浮动菜单 开始 -->
	<div class="float_menu">
		<ul>
			<li class="sliding">
				<a><em class="phone_ico"></em><span>0592-7127103</span></a>
			</li>
			<li class="clear"></li>
			<li class="sliding">
				<a href="#"><em class="qq_ico"></em><span>点击QQ交谈</span></a>
			</li>
			<li class="clear"></li>
			<li id="float_menucode">
				<a href="#" class="sliding"><img src="../../images/pc/float_code.jpg"></a>
			</li>
			<li class="clear"></li>
			<li class="gotop">
				<a><em class="gotop_ico">返回顶部</em></a>
			</li>
		</ul>
	</div>
	<!-- 浮动菜单 结束 -->
</body>
</html>
<script type="text/javascript">
	//图片上传预览
	function imgToBase64(file){
		if (file.files && file.files[0]){
			var reader = new FileReader();
			reader.onload = function(evt){
				$(file).parent().prev().attr("src",evt.target.result);
			}
			reader.readAsDataURL(file.files[0]);
		}
	}

	//屏蔽复制密码
	$(function(){
		$("input:password").bind("copy cut paste",function(e){
			return false;
		});
	});


	//验证用户名
	$(function(){
		$('.verify_mail').blur(function(){
			if($(this).val()){
				if(!verify($(this).val(),'email','')){
					insertNotice($(this),"请输入正确的邮箱格式");
					$(this).attr("verify","false");
					return false;
				}else{
					if(false){//帐号已被注册
						insertNotice($(this),'该账号已被注册<a href="#">点击申诉</a>');
						$(this).attr("verify","false");
						return false;
					}else{
						insertNotice($(this),'<img src="../../images/pc/done_ico.png">');
						$(this).attr("verify","true");
						return true;
					}
				}
			}else{
				insertNotice($(this),"请输入内容");
				$(this).attr("verify","false");
				return false;
			}
		});
	});

	//验证密码
	$(function(){
		$('.verify_pass1').blur(function(){
			$(".verify_pass2").blur();
			if($(this).val()){
				if($(this).val().length > 5){
					insertNotice($(this),'<img src="../../images/pc/done_ico.png">');
					$(this).attr("verify","true");
					return true;
				}else{
					insertNotice($(this),"请输入合适的密码长度");
					$(this).attr("verify","false");
					return false;
				}
			}else{
				insertNotice($(this),"请输入密码");
				$(this).attr("verify","false");
				return false;
			}
		});
		$('.verify_pass2').blur(function(){
			if($(this).val()){
				if($(this).val().length > 5){
					if($('.verify_pass1').val() == $('.verify_pass2').val()){
						insertNotice($(this),'<img src="../../images/pc/done_ico.png">');
						$(this).attr("verify","true");
						return true;
					}else{
						insertNotice($(this),'两次输入密码不一致');
						$(this).attr("verify","false");
						return false;
					}
				}else{
					insertNotice($(this),"请输入合适的密码长度");
					$(this).attr("verify","false");
					return false;
				}
			}else{
				insertNotice($(this),"请输入密码");
				$(this).attr("verify","false");
				return false;
			}
		});
	});

	//验证品牌标志是否上传
	$(function(){
		$('.verify_logo').change(function(){
			insertNotice($(this).parent(),'<img src="../../images/pc/done_ico.png">');
			$(this).attr("verify","true");
			return true;
		});
	});

	//验证品牌名称
	$(function(){
		$('.verify_name').blur(function(){
			if($(this).val()){
				insertNotice($(this),'<img src="../../images/pc/done_ico.png">');
				$(this).attr("verify","true");
				return true;
			}else{
				insertNotice($(this),"请输入品牌名称");
				$(this).attr("verify","false");
				return false;
			}
		});
	});

	//验证验证码
	$(function(){
		$('.verify_vcode').blur(function(){
			if($(this).val()){
				if($(this).val().toUpperCase( ) == 'TCXK'){
					insertNotice($(this),'<img src="../../images/pc/done_ico.png">');
					$(this).attr("verify","true");
					return true;
				}else{
					insertNotice($(this),"验证码有误");
					$(this).attr("verify","false");
					return false;
				}
			}else{
				insertNotice($(this),"请输入验证码");
				$(this).attr("verify","false");
				return false;
			}
		});
	});

	//验证是否同意协议
	$(function(){
		$('.verify_protocol').change(function(){
			if($(this).prop("checked") == true){
				$(this).attr("verify","true");
				return true;
			}else{
				$(this).attr("verify","false");
				return false;
			}
		});
	});

	
	//提交表单前端验证
	function verify_submit(){
		var verify = 0;
		$('input[type="text"],input[type="password"],.verify_logo,.verify_protocol').each(function(){
			$(this).blur();
			if($(this).attr("verify") == "false"){
				verify += 1;
			}
		});
		if(verify > 0){
			return false;
		}else{
			return true;
		}
	}

	//回到顶部
	$(function(){
		$(".gotop").click(function(){
			$("body,html").animate({scrollTop:0},300);
		});
		$(window).scroll(function(){
			if($(window).scrollTop() > 10){
				$('.gotop').attr("style","display:block;");
			}else{
				$('.gotop').attr("style","display:none;");
			}
		});
	});
</script>