<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<title>常见问题</title>
</head>
<body>
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#" title="互动推"><img alt="互动推" src="../../images/pc/hdt_logo.png" /></a></h1>
			<div class="slogan"><span>专注移动社交互动广告</span></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#"><em class="icon_home"></em>首页</a></li>
				<li><a href="#"><em class="icon_ativ"></em>活动圈</a></li>
				<li><a href="#"><em class="icon_plugin"></em>模版库</a></li>
				<li><a href="#"><em class="icon_channel"></em>发布渠道</a></li>
				<li><a href="#"><em class="icon_help"></em>帮助中心</a></li>
				<li><a href="#"><em class="icon_agent"></em>加盟代理</a></li>
				<li><a href="#">登录</a><strong>|</strong><a href="#">注册</a></li>
				<!-- <li class="users_btn"><a href="#"><img src="../../images/avatar.jpg" />山间的风</a>（<a href="#">退出</a>）</li> -->
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 内容 开始 -->
	<div class="w1190 help">
		<!-- 左侧内容 开始 -->
		<div class="fl w300 side">
			<div class="subnav">
				<ul>
					<li><a href="#" class="active">常见问题</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 左侧内容 结束 -->
		<!-- 右侧内容 开始 -->
		<div class="fr w860 main">
			<div class="help_cont">
				<h4>1、活动模版可以用多久？用几次？</h4>
				<p>答：目前平台上的活动模版默认有效期期为一个月，每个活动模版允许生成一个活动，有效期内可重复配置，无需绑定公众号，可供多个账号使用。</p>
				<h4>2、活动模版怎么用？</h4>
				<p>答：每个活动模版都是带后台的，支持在线配置登录平台，可免费试用每款活动模版，体验所有付费服务流程。</p>
				<h4>3、配置可以修改么？</h4>
				<p>答：活动配置支持重复修改，活动过程中可根据活动的具体情况调整。</p>
				<h4>4、会不会冲突，还可不可以用其他平台？</h4>
				<p>答：我们的活动模版是完全独立的，无需绑定公众号，与其他家服务并不冲突，可以同时使用。</p>
				<h4>5、怎么引导用户关注公众号？</h4>
				<p>答：活动模版支持替换活动页面上的“广告图”和“广告图链接”，并且当用户每次参加完活动后都会自动打开此链接页面，可以在公众号新增一个引导关注的图文素材作为广告图链接页面。</p>
				<p>绝大多数模版支持：参与活动必须关注、兑奖必须关注。</p>
				<h4>6、粉丝怎么参与？</h4>
				<p>答：1、用微信扫活动二维码，直接将该活动分享至朋友圈或发送给好友</p>
				<p>2、复制活动地址，添加至公众号自定义菜单</p>
				<p>3、公众号新增图文素材，将复制的活动地址添加至“原文阅读”处</p>
				<p>4、公众号群发3编辑好的图文素材</p>
				<p>5、公众号设置关键词，用户发送关键词回复3图文素材</p>
				<h4>7、中奖概率怎么设置？</h4>
				<p>答：主要由“奖品实际数量”控制，如果奖品发完了，就不会再发，但不排除非常多用户参加，同一时间摇中奖品，但这种概率很小。在控制奖品总数的情况下，如果想要奖品慢点发出去，则将中奖概率调整小一点，例如10%，但并不表示100个用户会有10个用户中奖，由于不知道您的活动会有多少人参与，这只是相对概率。反之想要快点发出去，则将中奖概率调整大一点。</p>
				<p>我们的发奖逻辑是：每等奖的概率是独立分开设置的，首先根据一等奖的概率判断用户是否中奖，如果没有中奖，则继续判断二等奖，这样一直遍历下去。所以如果最后的奖项中奖概率设置为100%，那么每个用户都会中奖，最差也有鼓励奖。</p>
				<h4>8、怎么查看中奖名单、排行榜？</h4>
				<p>答：“我的活动”页面，点击想要查看的活动列表上的【配置】按钮，在页面标签“活动设置”旁边有“中奖名单”、“排行榜”，可以切换查看。</p>
				<h4>9、中奖用户如何到店兑奖？</h4>
				<p>答：用户中奖后，在活动页面上的“中奖记录”可查看获得的奖品，如果该奖品商家在配置页面设置为需到店兑换，该奖品名称后面会有“未兑奖”的标识，可提示中奖用户需到店出示该活动页面的“中奖记录”，兑换该奖品，兑换的同时当场将该奖品的状态由“未兑奖”修改为“已兑奖”，这种修改是不可逆的，同时后台对应的该用户的获奖记录状态也自动更改为“已兑奖”，这样也就规避了用户反复出示中奖记录作弊兑奖，也方便了店员，无需打开后台去验证。</p>
				<h4>10、活动数据哪里看？</h4>
				<p>答：平台上的数据统计都是真实的，在“我的活动”页面上，活动列表里有对应该活动的浏览量可以实时查看。目前还不支持查看参与人数，平台正在开发，之后会更新。</p>
				<h4>11、活动模版效果好吗？</h4>
				<p>答：工具是死的，方案是活动，不同客户的配置会产生不一样的效果。配置做得好的客户，没怎么宣传，只是几个同事发了发朋友圈，3天的时间活动浏览量就达到66万；有的客户动用了自己所有的资源，但由于活动内容配置不好，效果跟好的客户也相差很远，一天只有几千的浏览量。</p>
				<h4>12、活动模版能按我的需求更改功能吗？</h4>
				<p>答：我们平台出售的活动模版是统一模板，功能的设计是平台经过收集不同客户的需求，提取其中共性的部分整理成原型，然后找到相应的开发者开发，开发成统一模板将活动模版上线，主要就是想降低商家营销推广的成本，所以平台上定的都是模板价。如果要按照需求更改功能，就是定制了，费用和时间都要按照具体需求评估，请联系在线客服。</p>
			</div>
		</div>
		<!-- 右侧内容 结束 -->
		<div class="clear"></div>
	</div>
	<!-- 内容 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">
			<img alt="互动推" src="../../images/pc/hdt_logo.png" />
			<span>专注移动社交互动广告</span>
		</a></h2>
		<p>
			<a href="#">首页</a>
			<em>|</em>
			<a href="#">活动圈</a>
			<em>|</em>
			<a href="#">模板库</a>
			<em>|</em>
			<a href="#">发布渠道</a>
			<em>|</em>
			<a href="#">帮助中心</a>
			<em>|</em>
			<a href="#">渠道代理</a>
			<em>|</em>
			<a href="#">代理商登录</a>
		</p>
		<p>
			<span>咨询电话：0592-7127103</span>
			<span>QQ：888888888</span>
			<span>邮箱：cs@tchajian.com</span>
		</p>
		<p>地址： 福建省厦门市思明区软件园二期望海路19号之二502室</p>
		<p>Copyright © 2014 www.tchajian.com All Rights Reserved 有戏（厦门）网络科技有限公司&nbsp;&nbsp;闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
	<!-- 浮动菜单 开始 -->
	<div class="float_menu">
		<ul>
			<li class="sliding">
				<a><em class="phone_ico"></em><span>0592-7127103</span></a>
			</li>
			<li class="clear"></li>
			<li class="sliding">
				<a href="#"><em class="qq_ico"></em><span>点击QQ交谈</span></a>
			</li>
			<li class="clear"></li>
			<li id="float_menucode">
				<a href="#" class="sliding"><img src="../../images/pc/float_code.jpg"></a>
			</li>
			<li class="clear"></li>
			<li class="gotop">
				<a><em class="gotop_ico">返回顶部</em></a>
			</li>
		</ul>
	</div>
	<!-- 浮动菜单 结束 -->
</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
	$('.help .side .subnav').height($('.help').height());


	//回到顶部
	$(function(){
		$(".gotop").click(function(){
			$("body,html").animate({scrollTop:0},300);
		});
		$(window).scroll(function(){
			if($(window).scrollTop() > 10){
				$('.gotop').attr("style","display:block;");
			}else{
				$('.gotop').attr("style","display:none;");
			}
		});
	});
});
</script>

