<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<title>开发者主页</title>
</head>
<body>
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#" title="互动推"><img alt="互动推" src="../../images/pc/hdt_logo.png" /></a></h1>
			<div class="slogan"><span>专注移动社交互动广告</span></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#"><em class="icon_home"></em>首页</a></li>
				<li><a href="#" class="active"><em class="icon_ativ"></em>活动圈</a></li>
				<li><a href="#"><em class="icon_plugin"></em>模版库</a></li>
				<li><a href="#"><em class="icon_channel"></em>发布渠道</a></li>
				<li><a href="#"><em class="icon_help"></em>帮助中心</a></li>
				<li><a href="#"><em class="icon_agent"></em>加盟代理</a></li>
				<!-- <li><a href="#">登录</a><strong>|</strong><a href="#">注册</a></li> -->
				<li class="users_btn"><a href="#"><img src="../../images/avatar.jpg" />山间的风</a>（<a href="#">退出</a>）</li>
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 内容 开始 -->
	<div class="w1190 homepage">
		<!-- 横屏广告 开始 -->
		<!-- <div class="across_ad">
				 <a href="#"><img src="../../images/ad.jpg" /></a>
			 </div> -->
		<!-- 横屏广告 结束 -->
		<!-- 企业名片 开始 -->
		<div class="visitcard">
			<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
			<div class="fl">
				<h3>
					<a href="#" class="fl">@御泥坊</a>
					<img class="fl" src="../../images/pc/vipg_ico.png">
					<a class="fl btn">成为会员</a>
					<a href="#" class="fr">编辑资料</a>
				</h3>
				<p><em class="city"><i class="ico_area"></i>福建省 厦门市</em></p>
				<p class="indent"> 清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。御泥坊通过网络口碑相传，已成为中国泥浆面膜第一品牌。</p>
				<p class="space_5">
					<span><i class="ico_suc"></i>成交：<em>250</em> 笔</span>
				</p>
			</div>
			<!-- <div class="fr">
				<div class="code_share">
					<img src="../../images/code1.jpg" />
				</div>
				<div class="clear"></div>
			</div> -->
			<div class="clear"></div>
		</div>
		<!-- 企业名片 结束 -->
		<!-- 左侧内容 开始 -->
		<div class="fl w840 main">
			<div class="norl_title">我开发的（3）</div>
			<div class="cont">
				<ul id="developer">
					<li>
						<div class="fl">
							<a class="imgbox"><img src="../../images/app1.png" /></a>
							<h3><a href="#">干掉御泥坊</a></h3>
							<p>
								<em class="quot_left"><!-- 前引号 --></em>
								<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
								<em class="quot_right"><!-- 后引号 --></em>
							</p>
							<div class="clear"></div>
						</div>
						<div class="fr">
							<img class="code" src="../../images/code1.jpg" />
						</div>
						<div class="clear"></div>
					</li>
					<li>
						<div class="fl">
							<a class="imgbox"><img src="../../images/app2.png" /></a>
							<h3><a href="#">干掉御泥坊</a></h3>
							<p>
								<em class="quot_left"><!-- 前引号 --></em>
								<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
								<em class="quot_right"><!-- 后引号 --></em>
							</p>
							<div class="clear"></div>
						</div>
						<div class="fr">
							<img class="code" src="../../images/code1.jpg" />
						</div>
						<div class="clear"></div>
					</li>
					<li>
						<div class="fl">
							<a class="imgbox"><img src="../../images/app3.png" /></a>
							<h3><a href="#">干掉御泥坊</a></h3>
							<p>
								<em class="quot_left"><!-- 前引号 --></em>
								<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
								<em class="quot_right"><!-- 后引号 --></em>
							</p>
							<div class="clear"></div>
						</div>
						<div class="fr">
							<img class="code" src="../../images/code1.jpg" />
						</div>
						<div class="clear"></div>
					</li>
					<li>
						<div class="fl">
							<a class="imgbox"><img src="../../images/app4.png" /></a>
							<h3><a href="#">干掉御泥坊</a></h3>
							<p>
								<em class="quot_left"><!-- 前引号 --></em>
								<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
								<em class="quot_right"><!-- 后引号 --></em>
							</p>
							<div class="clear"></div>
						</div>
						<div class="fr">
							<img class="code" src="../../images/code1.jpg" />
						</div>
						<div class="clear"></div>
					</li>
					<li>
						<div class="fl">
							<a class="imgbox"><img src="../../images/app5.png" /></a>
							<h3><a href="#">干掉御泥坊</a></h3>
							<p>
								<em class="quot_left"><!-- 前引号 --></em>
								<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
								<em class="quot_right"><!-- 后引号 --></em>
							</p>
							<div class="clear"></div>
						</div>
						<div class="fr">
							<img class="code" src="../../images/code1.jpg" />
						</div>
						<div class="clear"></div>
					</li>
					<li>
						<div class="fl">
							<a class="imgbox"><img src="../../images/app1.png" /></a>
							<h3><a href="#">干掉御泥坊</a></h3>
							<p>
								<em class="quot_left"><!-- 前引号 --></em>
								<span>面霜类电商适用，烧到带敬爱较大搜救是敬爱是骄傲排水口烧到带敬爱较大的</span>
								<em class="quot_right"><!-- 后引号 --></em>
							</p>
							<div class="clear"></div>
						</div>
						<div class="fr">
							<img class="code" src="../../images/code1.jpg" />
						</div>
						<div class="clear"></div>
					</li>
				</ul>
				<div class="seemore"><a id="seemore_avt">查看更多</a></div>
			</div>
			<!-- 如果为空 开始 -->
			<div class="if_none">
				<p>他还没有任何活动，去<a href="#">首页帮他挑选</a></p>
			</div>
			<!-- 如果为空 开始 -->
		</div>
		<!-- 左侧内容 结束 -->
		<!-- 右侧内容 开始 -->
		<!-- <div class="fr w320 side">
			<div class="norl_title">插友（3）</div>
		</div> -->
		<!-- 右侧内容 结束 -->
		<div class="clear space_30"></div>
		<!-- 其他开发者 开始 -->
		<div class="norl_title">
			<div class="fr"><a href="#" class="more_btn">更多&gt;&gt;</a></div>
			<h3>其他开发者</h3>
		</div>
		<div class="developer_card">
			<ul>
				<li>
					<dl>
						<dt>
							<a href="#" class="avatar"><img src="../../images/avatar.jpg" /></a>
							<h3><a href="#">@山间的风</a></h3>
							<p>淘插件签约开发者，十年开发经验</p>
						</dt>
						<dd>
							<span class="fr">开发模版：<strong>4</strong></span>
							<span><i class="ico_suc"></i>成交：<strong>250</strong>笔</span>
						</dd>
						<dd>
							<a>《圣诞送优惠》</a>、<a>《圣诞送优惠》</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<a href="#" class="avatar"><img src="../../images/avatar.jpg" /></a>
							<h3><a href="#">@山间的风</a></h3>
							<p>淘插件签约开发者，十年开发经验</p>
						</dt>
						<dd>
							<span class="fr">开发模版：<strong>4</strong></span>
							<span><i class="ico_suc"></i>成交：<strong>250</strong>笔</span>
						</dd>
						<dd>
							<a>《圣诞送优惠》</a>、<a>《圣诞送优惠》</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<a href="#" class="avatar"><img src="../../images/avatar.jpg" /></a>
							<h3><a href="#">@山间的风</a></h3>
							<p>淘插件签约开发者，十年开发经验</p>
						</dt>
						<dd>
							<span class="fr">开发模版：<strong>4</strong></span>
							<span><i class="ico_suc"></i>成交：<strong>250</strong>笔</span>
						</dd>
						<dd>
							<a>《圣诞送优惠》</a>、<a>《圣诞送优惠》</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<a href="#" class="avatar"><img src="../../images/avatar.jpg" /></a>
							<h3><a href="#">@山间的风</a></h3>
							<p>淘插件签约开发者，十年开发经验</p>
						</dt>
						<dd>
							<span class="fr">开发模版：<strong>4</strong></span>
							<span><i class="ico_suc"></i>成交：<strong>250</strong>笔</span>
						</dd>
						<dd>
							<a>《圣诞送优惠》</a>、<a>《圣诞送优惠》</a>
						</dd>
					</dl>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		<!-- 其他开发者 结束 -->
	</div>
	<!-- 内容 结束 -->
	<!-- 内容 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">
			<img alt="互动推" src="../../images/pc/hdt_logo.png" />
			<span>专注移动社交互动广告</span>
		</a></h2>
		<p>
			<a href="#">首页</a>
			<em>|</em>
			<a href="#">活动圈</a>
			<em>|</em>
			<a href="#">模板库</a>
			<em>|</em>
			<a href="#">发布渠道</a>
			<em>|</em>
			<a href="#">帮助中心</a>
			<em>|</em>
			<a href="#">渠道代理</a>
			<em>|</em>
			<a href="#">代理商登录</a>
		</p>
		<p>
			<span>咨询电话：0592-7127103</span>
			<span>QQ：888888888</span>
			<span>邮箱：cs@tchajian.com</span>
		</p>
		<p>地址： 福建省厦门市思明区软件园二期望海路19号之二502室</p>
		<p>Copyright © 2014 www.tchajian.com All Rights Reserved 有戏（厦门）网络科技有限公司&nbsp;&nbsp;闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
	<!-- 浮动菜单 开始 -->
	<div class="float_menu">
		<ul>
			<li class="sliding">
				<a><em class="phone_ico"></em><span>0592-7127103</span></a>
			</li>
			<li class="clear"></li>
			<li class="sliding">
				<a href="#"><em class="qq_ico"></em><span>点击QQ交谈</span></a>
			</li>
			<li class="clear"></li>
			<li id="float_menucode">
				<a href="#" class="sliding"><img src="../../images/pc/float_code.jpg"></a>
			</li>
			<li class="clear"></li>
			<li class="gotop">
				<a><em class="gotop_ico">返回顶部</em></a>
			</li>
		</ul>
	</div>
	<!-- 浮动菜单 结束 -->
	<!-- 抢走礼包提示 开始 -->
	<div class="nogift_box">
		<div class="cont">
			<h3>
				<strong>提示</strong>
				<span class="close"><!-- 关闭窗口按钮 -->╳</span>
			</h3>
			<p>
				<img src="../../images/avatar.jpg" />
				<span>嘿嘿，被<em>我</em>抢走了！</span>
			</p>
			<a class="btn_cancel">知道了</a>
		</div>
		<div class="bg"></div>
	</div>
	<!-- 抢走礼包提示 结束 -->
	<!-- 剩余礼包提示 开始 -->
	<div class="remaininggift_box">
		<div class="cont">
			<h3>
				<strong>提示</strong>
				<span class="close"><!-- 关闭窗口按钮 -->╳</span>
			</h3>
			<div class="space_20"></div>
			<p>
				<span>每个淘插件账号都有<em>3个神秘大礼包</em></span>
			</p>
			<p>
				<span>随机赠送给插友</span>
			</p>
			<p>
				<span>快去成为他的插友，抢他礼包！</span>
			</p>
			<div class="space_20"></div>
			<div class="tc">
				<a class="btn_cancel">知道了</a>
			</div>
		</div>
		<div class="bg"></div>
	</div>
	<!-- 剩余礼包提示 结束 -->
	<!-- 联系我成功提示 开始 -->
	<div class="contact_sucbox">
		<div class="cont">
			<h3>
				<strong>提示</strong>
				<span class="close"><!-- 关闭窗口按钮 -->╳</span>
			</h3>
			<table>
				<tr>
					<td>
						<div class="row"><i class="ico_phone"></i>手机：18205909550</div>
						<div class="row"><a href="#" class="fr">发消息</a><i class="ico_qq"></i>Q Q：123456789</div>
						<div class="row"><i class="ico_wechat"></i>微信：980473826</div>
						<div class="row"><a href="#" class="fr">发邮件</a><i class="ico_mail"></i>邮箱：673882905@qq.com</div>
					</td>
				</tr>
			</table>
			<a class="btn_cancel">知道了</a>
		</div>
		<div class="bg"></div>
	</div>
	<!-- 联系我成功提示 结束 -->
	<!-- 联系我失败提示 开始 -->
	<div class="contact_faibox">
		<div class="cont">
			<h3>
				<strong>提示</strong>
				<span class="close"><!-- 关闭窗口按钮 -->╳</span>
			</h3>
			<div class="space_20"></div>
			<p>
				<span>你还没有填写任何联系方式</span>
			</p>
			<p>
				<span>快去“<a href="#">帐号设置</a>”，补全资料吧~</span>
			</p>
			<div class="space_20"></div>
			<div class="tc">
				<a class="btn_cancel">取消</a>
				<a class="btn_done">确定</a>
			</div>
		</div>
		<div class="bg"></div>
	</div>
	<!-- 联系我失败提示 结束 -->
</body>
</html>
<script type="text/javascript">
	//回到顶部
	$(function(){
		$(".gotop").click(function(){
			$("body,html").animate({scrollTop:0},300);
		});
		$(window).scroll(function(){
			if($(window).scrollTop() > 10){
				$('.gotop').attr("style","display:block;");
			}else{
				$('.gotop').attr("style","display:none;");
			}
		});
	});


	//显示大图(code)
	$(function(){
		$('.homepage .main li .fr .code').click(function(){
			$('body').append('<div class="bigimg_box">\
								<img src="'+$(this).attr("src")+'" />\
							</div>');
			$('.bigimg_box img').load(function(){
				$(this).attr("style","margin-top:-" + ($(this).height()/2-5) +"px;margin-left:-" + ($(this).width()/2-5) +"px;");
			});
		});
		$(document).on("click",".bigimg_box",function(){
			$(this).remove();
		});
	});
</script>

