<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<title>微信查看</title>
</head>
<body>
	<!-- 去微信查看 开始 -->
	<div class="seein_wechat">
		<p>该页面只支持在微信中打开</p>
		<div class="wechat_code"><img src="../../images/code.jpg" /></div>
	</div>
	<!-- 去微信查看 结束 -->
</body>
</html>