<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<script type="text/javascript" src="../../js/zeroclipboard/ZeroClipboard.js"></script>
<title>我的订单</title>
</head>
<body>
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#" title="互动推"><img alt="互动推" src="../../images/pc/hdt_logo.png" /></a></h1>
			<div class="slogan"><span>专注移动社交互动广告</span></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#"><em class="icon_home"></em>首页</a></li>
				<li><a href="#"><em class="icon_ativ"></em>活动圈</a></li>
				<li><a href="#"><em class="icon_plugin"></em>模版库</a></li>
				<li><a href="#"><em class="icon_channel"></em>发布渠道</a></li>
				<li><a href="#"><em class="icon_help"></em>帮助中心</a></li>
				<li><a href="#"><em class="icon_agent"></em>加盟代理</a></li>
				<!-- <li><a href="#">登录</a><strong>|</strong><a href="#">注册</a></li> -->
				<li class="users_btn"><a href="#"><img src="../../images/avatar.jpg" />山间的风</a>（<a href="#">退出</a>）</li>
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 内容 开始 -->
	<div class="w1190 index">
		<!-- 左侧内容 开始 -->
		<div class="fl w300 side">
			<div class="usermsg_subnav">
				<div class="space_15"></div>
				<div class="space_30"></div>
				<div class="user_card">
					<a href="#" class="avatar"><img src="../../images/avatar.jpg" /></a>
					<h3>
						<a class="fl" href="#">御泥坊</a>
						<img class="fl" src="../../images/pc/vip_ico.png" />
						<!-- <a class="btn">成为会员</a> -->
					</h3>
					<p>古代的居民们一直保留着一种奇特的“祭泥仪式”。</p>
					<div class="clear"></div>
					<ul>
						<li>
							<i class="ico_gold"><!-- 图标 --></i>
							收入：<em>50</em>
						</li>
						<li>
							<a>提现</a>
						</li>
						<li>
							<i class="ico_gold"><!-- 图标 --></i>
							代币：<em>50</em>
						</li>
						<li>
							<a class="paycash">赚代币</a>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="subnav">
					<ul>
						<li><a href="#">我的活动</a></li>
						<li><a href="#">收益提现</a></li>
						<li><a href="#" class="active">我的订单</a></li>
						<li><a href="#">账号设置</a></li>
						<li><a href="#">个人主页</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 左侧内容 结束 -->
		<!-- 右侧内容 开始 -->
		<div class="fr w890 main">
			<div class="fr w860">
				<div class="tab_title">
					<div class="fl options" id="myactivity_sortbtn">
						<a class="active">全部</a>
						<a>等待付款(1)</a>
						<a>交易成功(2)</a>
						<a>交易关闭(3)</a>
					</div>
					<div class="fr add_activity">
						<a class="del">删除</a>
						<!-- <a class="add">新增活动</a> -->
					</div>
					<div class="clear"></div>
				</div>
				<div class="order">
					<h3 class="payingbg">
						<span class="fr">下单时间：2015/01/14 19:38</span>
						<span>订单号：10283746282392</span>
						<!-- <a href="#"><em>@妮妮</em></a> -->
					</h3>
					<table>
						<tr>
							<td><a href="#"><img src="../../images/app2.png" /></a></td>
							<td><a href="#"><strong>新年DIY送贺卡</strong></a></td>
							<td><em>108</em>元/月</td>
							<td><em>3</em>个月</td>
							<td>
								<del>324.0元</del>
								<p><em>259.2</em>元</p>
							</td>
							<td>
								<a href="#" class="pay">支付</a>
								<a href="#" class="closepay">关闭交易</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="order">
					<h3 class="payedbg">
						<span class="fr">下单时间：2015/01/14 19:38</span>
						<span>订单号：10283746282392</span>
						<!-- <a href="#"><em>@妮妮</em></a> -->
					</h3>
					<table>
						<tr>
							<td><a href="#"><img src="../../images/app1.png" /></a></td>
							<td><a href="#"><strong>新年DIY送贺卡</strong></a></td>
							<td><em>108</em>元/月</td>
							<td><em>3</em>个月</td>
							<td>
								<del>324.0元</del>
								<p><em>259.2</em>元</p>
							</td>
							<td>
								<p class="paydone">交易成功</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="order">
					<h3 class="unpaybg">
						<span class="fr">下单时间：2015/01/14 19:38</span>
						<span>订单号：10283746282392</span>
						<!-- <a href="#"><em>@妮妮</em></a> -->
					</h3>
					<table>
						<tr>
							<td><a href="#"><img src="../../images/app3.png" /></a></td>
							<td><a href="#"><strong>新年DIY送贺卡</strong></a></td>
							<td><em>108</em>元/月</td>
							<td><em>3</em>个月</td>
							<td>
								<del>324.0元</del>
								<p><em>259.2</em>元</p>
							</td>
							<td>
								<p class="unpay">交易关闭</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="order">
					<h3 class="payingbg">
						<span class="fr">下单时间：2015/01/14 19:38</span>
						<span>订单号：10283746282392</span>
						<!-- <a href="#"><em>@妮妮</em></a> -->
					</h3>
					<table>
						<tr>
							<td><a href="#"><img src="../../images/app2.png" /></a></td>
							<td><a href="#"><strong>新年DIY送贺卡</strong></a></td>
							<td><em>108</em>元/月</td>
							<td><em>3</em>个月</td>
							<td>
								<del>324.0元</del>
								<p><em>259.2</em>元</p>
							</td>
							<td>
								<a href="#" class="pay">支付</a>
								<a href="#" class="closepay">关闭交易</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="order">
					<h3 class="payedbg">
						<span class="fr">下单时间：2015/01/14 19:38</span>
						<span>订单号：10283746282392</span>
						<!-- <a href="#"><em>@妮妮</em></a> -->
					</h3>
					<table>
						<tr>
							<td><a href="#"><img src="../../images/app1.png" /></a></td>
							<td><a href="#"><strong>新年DIY送贺卡</strong></a></td>
							<td><em>108</em>元/月</td>
							<td><em>3</em>个月</td>
							<td>
								<del>324.0元</del>
								<p><em>259.2</em>元</p>
							</td>
							<td>
								<p class="paydone">交易成功</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="order">
					<h3 class="unpaybg">
						<span class="fr">下单时间：2015/01/14 19:38</span>
						<span>订单号：10283746282392</span>
						<!-- <a href="#"><em>@妮妮</em></a> -->
					</h3>
					<table>
						<tr>
							<td><a href="#"><img src="../../images/app3.png" /></a></td>
							<td><a href="#"><strong>新年DIY送贺卡</strong></a></td>
							<td><em>108</em>元/月</td>
							<td><em>3</em>个月</td>
							<td>
								<del>324.0元</del>
								<p><em>259.2</em>元</p>
							</td>
							<td>
								<p class="unpay">交易关闭</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!-- 右侧内容 结束 -->
		<div class="clear"></div>
	</div>
	<!-- 内容 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">
			<img alt="互动推" src="../../images/pc/hdt_logo.png" />
			<span>专注移动社交互动广告</span>
		</a></h2>
		<p>
			<a href="#">首页</a>
			<em>|</em>
			<a href="#">活动圈</a>
			<em>|</em>
			<a href="#">模板库</a>
			<em>|</em>
			<a href="#">发布渠道</a>
			<em>|</em>
			<a href="#">帮助中心</a>
			<em>|</em>
			<a href="#">渠道代理</a>
			<em>|</em>
			<a href="#">代理商登录</a>
		</p>
		<p>
			<span>咨询电话：0592-7127103</span>
			<span>QQ：888888888</span>
			<span>邮箱：cs@tchajian.com</span>
		</p>
		<p>地址： 福建省厦门市思明区软件园二期望海路19号之二502室</p>
		<p>Copyright © 2014 www.tchajian.com All Rights Reserved 有戏（厦门）网络科技有限公司&nbsp;&nbsp;闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
	<!-- 浮动菜单 开始 -->
	<div class="float_menu">
		<ul>
			<li class="sliding">
				<a><em class="phone_ico"></em><span>0592-7127103</span></a>
			</li>
			<li class="clear"></li>
			<li class="sliding">
				<a href="#"><em class="qq_ico"></em><span>点击QQ交谈</span></a>
			</li>
			<li class="clear"></li>
			<li id="float_menucode">
				<a href="#" class="sliding"><img src="../../images/pc/float_code.jpg"></a>
			</li>
			<li class="clear"></li>
			<li class="gotop">
				<a><em class="gotop_ico">返回顶部</em></a>
			</li>
		</ul>
	</div>
	<!-- 浮动菜单 结束 -->
	<!-- 确认关闭交易 开始 -->
	<div class="closedeal_box">
		<div class="cont">
			<p>是否关闭交易？</p>
			<div class="btns">
				<a class="btn_cancel">取消</a>
				<a href="#" class="btn_done">确认</a>
			</div>
		</div>
		<div class="bg"></div>
	</div>
	<!-- 确认关闭交易 结束 -->
</body>
</html>
<script type="text/javascript">

	//回到顶部
	$(function(){
		$(".gotop").click(function(){
			$("body,html").animate({scrollTop:0},300);
		});
		$(window).scroll(function(){
			if($(window).scrollTop() > 10){
				$('.gotop').attr("style","display:block;");
			}else{
				$('.gotop').attr("style","display:none;");
			}
		});
	});


	//关闭交易
	$(function(){
		$('.closedeal_box .btn_cancel').click(function(){
			$(this).parents('.closedeal_box').css("display","none");
		});
		$('.order td .closepay').click(function(){
			var obj = $(this);
			$('.closedeal_box').css("display","block");
			$('.closedeal_box .btn_done').click(function(){
				$(this).parents('.closedeal_box').css("display","none");
				obj.parents('.order').find('h3').attr("class","unpaybg");
				obj.parent().html('<p class="unpay">交易关闭</p>');
			});
		});
	});

</script>

