<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<title>模版详情</title>
</head>
<body>
	<!--[if lte IE 8]>
		<div class="ie_version">系统检测到您所使用的浏览器版本较低，推荐使用<em>Firefox</em>或<em>Chrome</em>浏览器打开，否则将无法体验完整产品功能。</div>
	<![endif]-->
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#" title="淘插件"><img alt="淘插件" src="../../images/pc/hdt_logo.png" /></a></h1>
			<!-- <div class="slogan"><span>专注移动社交互动广告</span></div> -->
		</div>
		<div class="nav">
			<ul>
				<li><a href="#"><em class="icon_home"></em>首页</a></li>
				<li><a href="#" class="active"><em class="icon_ativ"></em>活动圈</a></li>
				<li><a href="#"><em class="icon_plugin"></em>模版库</a></li>
				<li><a href="#"><em class="icon_channel"></em>发布渠道</a></li>
				<li><a href="#"><em class="icon_help"></em>帮助中心</a></li>
				<li><a href="#"><em class="icon_agent"></em>加盟代理</a></li>
				<!-- <li><a href="#">登录</a><strong>|</strong><a href="#">注册</a></li> -->
				<li class="users_btn"><a href="#"><img src="../../images/avatar.jpg" />山间的风</a>（<a href="#">退出</a>）</li>
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 内容 开始 -->
	<div class="w1190 plugin_detail">
		<!-- 左侧内容 开始 -->
		<div class="fl w840">
			<div class="main">
				<div class="parameter">
					<dl>
						<dt>
							<img src="../../images/app1.png" />
							<h1>再见小苹果</h1>
							<p>清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。</p>
						</dt>
						<dd class="body">
							<p><i class="ico_publh"></i>发布时间：<span>2014/10/12 21:26</span></p>
							<p><em>已有30人试用，16人购买，2个正在进行的活动</em></p>
							<div class="btns">
								<a href="#" class="btn_pc">演示</a>
								<a href="#" class="btn_try">免费试用</a>
								<a class="btn_direct">￥100/月</a>
							</div>
						</dd>
					</dl>	
					<div class="clear"></div>
				</div>
				<h3 class="no_fold"><strong>模版截图</strong></h3>
				<div class="imgs">
					<ul>
						<li><img src="../../images/pc/demo9.jpg" /></li>
						<li><img src="../../images/pc/demo10.jpg" /></li>
						<li><img src="../../images/pc/demo11.jpg" /></li>
						<li><img src="../../images/pc/demo12.jpg" /></li>
						<li><img src="../../images/pc/demo13.jpg" /></li>
					</ul>
				</div>
				<div class="space_30"></div>
				<h3 class="no_fold"><strong>使用说明</strong></h3><!--id="direc_of_use"-->
				<div class="text">
					<p>清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。</p>
					<p>清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品。</p>
					<div class="see_more"><a>查看更多</a></div>
				</div>
				<!-- <h3 class="no_fold"><strong>教程视频</strong></h3>
				<div align="center">
					<embed src="http://player.youku.com/player.php/sid/XODk5MTIyNjE2/v.swf" width="480" height="400" allowFullScreen="true"></embed>
				</div> -->
				<div class="space_10"></div>
				<h3 class="fold_across">
					<strong>正在进行的活动（3）</strong>
					<em class="prev">&lt;</em>
					<em class="next">&gt;</em>
				</h3>
				<div class="ativ_center">
					<ul class="main">
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg">
								<span class="code_img"><img src="../../images/code1.jpg"></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg"></a>
								<h4>全大伟寿司店</h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
						</li>
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg">
								<span class="code_img"><img src="../../images/code1.jpg"></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg"></a>
								<h4>全大伟寿司店</h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">站外活动</div>
						</li>
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg">
								<span class="code_img"><img src="../../images/code1.jpg"></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg"></a>
								<h4>全大伟寿司店</h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
						</li>
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg">
								<span class="code_img"><img src="../../images/code1.jpg"></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg"></a>
								<h4>全大伟寿司店</h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
						</li>
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg">
								<span class="code_img"><img src="../../images/code1.jpg"></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg"></a>
								<h4>全大伟寿司店</h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">站外活动</div>
						</li>
						<li>
							<a href="#" class="imgbox">
								<img class="ativ_img" src="../../images/avatar.jpg">
								<span class="code_img"><img src="../../images/code1.jpg"></span>
							</a>
							<h3>
								<a href="#">全大伟寿司店の圣诞树</a>
								<p class="tr">
									<span class="fl">参与人数：<em>20万</em></span>
									<span>浏览量：<em>44万</em></span>
								</p>
							</h3>
							<div class="card">
								<a href="#" class="avatar"><img src="../../images/user.jpg"></a>
								<h4>全大伟寿司店</h4>
								<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
								<div class="clear"></div>
							</div>
							<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- 左侧内容 结束 -->
		<!-- 右侧内容 开始 -->
		<div class="fr w320 side">
			<div class="devoler">
				<div class="title">模版开发者</div>
				<div class="body">
					<a href="#" class="avatar"><img src="../../images/avatar.jpg" /></a>
					<h4>@山间的风</h4>
					<span class="suc_gold"><i class="ico_suc"></i>成交：<strong>250</strong>笔</span>
					<div class="clear space_10"></div>
					<p>淘插件签约开发者，十年开发经验</p>
				</div>
				<h5><a href="#" class="fr">更多>></a>其他模版（3）</h5>
				<ul class="plugin_list">
					<li>
						<a href="#" class="imgbox"><img src="../../images/app1.png" /></a>
						<h3><a href="#">再见小苹果</a></h3>
						<p>已有35人购买</p>
					</li>
					<li>
						<a href="#" class="imgbox"><img src="../../images/app2.png" /></a>
						<h3><a href="#">再见小苹果</a></h3>
						<p>已有35人购买</p>
					</li>
					<li>
						<a href="#" class="imgbox"><img src="../../images/app3.png" /></a>
						<h3><a href="#">再见小苹果</a></h3>
						<p>已有35人购买</p>
					</li>
				</ul>
			</div>
			<div class="norl_title"><a href="#" class="fr">更多>></a>模版推荐（3）</div>
			<ul class="plugin_list">
				<li>
					<a href="#" class="imgbox"><img src="../../images/app1.png" /></a>
					<h3><a href="#">再见小苹果</a></h3>
					<p>已有35人购买</p>
				</li>
				<li>
					<a href="#" class="imgbox"><img src="../../images/app2.png" /></a>
					<h3><a href="#">再见小苹果</a></h3>
					<p>已有35人购买</p>
				</li>
				<li>
					<a href="#" class="imgbox"><img src="../../images/app3.png" /></a>
					<h3><a href="#">再见小苹果</a></h3>
					<p>已有35人购买</p>
				</li>
				<li>
					<a href="#" class="imgbox"><img src="../../images/app4.png" /></a>
					<h3><a href="#">再见小苹果</a></h3>
					<p>已有35人购买</p>
				</li>
				<li>
					<a href="#" class="imgbox"><img src="../../images/app5.png" /></a>
					<h3><a href="#">再见小苹果</a></h3>
					<p>已有35人购买</p>
				</li>
			</ul>
			<div class="clear space_20"></div>
			<a href="#" class="see_all">查看全部</a>
		</div>
		<!-- 右侧内容 结束 -->
		<div class="clear"></div>
	</div>
	<!-- 内容 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">
			<img alt="互动推" src="../../images/pc/hdt_logo.png" />
			<span>专注移动社交互动广告</span>
		</a></h2>
		<p>
			<a href="#">首页</a>
			<em>|</em>
			<a href="#">活动圈</a>
			<em>|</em>
			<a href="#">模板库</a>
			<em>|</em>
			<a href="#">发布渠道</a>
			<em>|</em>
			<a href="#">帮助中心</a>
			<em>|</em>
			<a href="#">渠道代理</a>
			<em>|</em>
			<a href="#">代理商登录</a>
		</p>
		<p>
			<span>咨询电话：0592-7127103</span>
			<span>QQ：888888888</span>
			<span>邮箱：cs@tchajian.com</span>
		</p>
		<p>地址： 福建省厦门市思明区软件园二期望海路19号之二502室</p>
		<p>Copyright © 2014 www.tchajian.com All Rights Reserved 有戏（厦门）网络科技有限公司&nbsp;&nbsp;闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
	<!-- 浮动菜单 开始 -->
	<div class="float_menu">
		<ul>
			<li class="sliding">
				<a><em class="phone_ico"></em><span>0592-7127103</span></a>
			</li>
			<li class="clear"></li>
			<li class="sliding">
				<a href="#"><em class="qq_ico"></em><span>点击QQ交谈</span></a>
			</li>
			<li class="clear"></li>
			<li id="float_menucode">
				<a href="#" class="sliding"><img src="../../images/pc/float_code.jpg"></a>
			</li>
			<li class="clear"></li>
			<li class="gotop">
				<a><em class="gotop_ico">返回顶部</em></a>
			</li>
		</ul>
	</div>
	<!-- 浮动菜单 结束 -->
	<!-- 支付 开始 -->
	<div class="pay_box" id="paysuc">
		<form action="/pay/pay/pf" method="post" name="payForm" id="payForm">
			<h3>
				<strong>购买活动</strong><span class="close">╳</span>
			</h3>
			<div class="clear space_20"></div>
			<div class="row">
				有效期
				<select>
					<option>1个月</option>
					<option>2个月</option>
					<option>3个月</option>
					<option>4个月</option>
					<option>5个月</option>
					<option>6个月</option>
					<option>7个月</option>
					<option>8个月</option>
					<option>9个月</option>
					<option>10个月</option>
					<option>11个月</option>
					<option>12个月</option>
				</select>
			</div>
			<h4>消费：￥268.0</h4>
			<div class="row">
				<label><input type="checkbox" name="isRepreCoin" id="isRepreCoin">使用代币：￥8608.0</label> 
				<a href="javascript:alert('敬请期待!')" class="paycash">赚代币</a>
			</div>
			<div class="clear space_20"></div>
			<div class="row">
				<a class="btn_cancel">取消</a> <a onclick="topay();" class="btn_pay">支付</a>
			</div>
			<div class="clear"></div>
			<div id="pluginIdInputHid"><input type="hidden" id="productId" name="productId" value="10"></div>
		</form>
		<div class="bg"></div>
	</div>
	<div class="pay_box" id="payfal">
		<div class="cont">
			<h3>
				<strong>购买活动</strong><span class="close">╳</span>
			</h3>
			<div class="space_10"></div>
			<div class="space_5"></div>
			<p>暂不支持线上购买</p>
			<p>请联系客服</p>
			<div class="space_10"></div>
			<div class="space_5"></div>
			<div class="btns">
				<a href="#" class="btn_cancel">知道了</a>
			</div>
		</div>
		<div class="bg"></div>
	</div>
	<!-- 支付 结束 -->
	<!-- 新手引导 开始 -->
	<div class="guide">
		<div class="cont">
			<img class='detail1' src="../../images/pc/detailguide1.png" />
			<img class='detail2' src="../../images/pc/detailguide2.png" />
			<img class='detail3' src="../../images/pc/detailguide3.png" />
		</div>
		<div class="bg"></div>
	</div>
	<!-- 新手引导 结束 -->
	<!-- <div class="bigimg_boxlist">
		<span class="close">╳</span>
		<span class="prev">&lt;</span>
		<span class="next">&gt;</span>
		<img src="../../images/pc/demo12.jpg" style="margin-top:-271px;margin-left:-155px;">
	</div> -->
</body>
</html>
<script type="text/javascript">
	$(function(){
		//新手引导
		var guide = 1;
		if(guide <= 0){
			$('.guide').attr("style","display:none;");
		}
		$('.guide').click(function(){
			guide += 1;
			if(guide <= 3 && guide > 0){
				$('.guide .cont img').fadeOut(500);
				$('.guide .cont img.detail' + guide).fadeIn(500);
				if(guide == 3){
					$("body,html").animate({scrollTop:1100},300);
				}
			}else if(guide > 3){
				$('.guide').fadeOut(500);
			}

		});



		$(".gotop").click(function(){
			$("body,html").animate({scrollTop:0},300);
		});
		$(window).scroll(function(){
			if($(window).scrollTop() > 10){
				$('.gotop').attr("style","display:block;");
			}else{
				$('.gotop').attr("style","display:none;");
			}
		});
	
		//大图展示
		
		$('.plugin_detail .imgs li').click(function(){
			var imgsrc = [];
			var i = $(this).index();
			$(this).parent().find('img').each(function(){
				imgsrc.push($(this).attr('src'));
			});
			$('body').append('<div class="bigimg_boxlist">\
								<span class="close">╳</span>\
								<span class="prev">&lt;</span>\
								<span class="next">&gt;</span>\
								<img src="'+imgsrc[i]+'" />\
							</div>');
			$('.bigimg_boxlist img').load(function(){
				$(this).attr("style","margin-top:-" + ($(this).height()/2-5) +"px;margin-left:-" + ($(this).width()/2-5) +"px;");
			});
			console.log(i);
			$('.bigimg_boxlist .prev').on("click",function(){
				if(i > 0)i--;
				$(this).siblings("img").attr("src",imgsrc[i]);
				console.log(i);
			});
			$('.bigimg_boxlist .next').on("click",function(){
				if(i < imgsrc.length-1)i++;
				$(this).siblings("img").attr("src",imgsrc[i]);
				console.log(i);
			});

		});
		
		$(document).on("click",".bigimg_boxlist .close",function(){
			$(this).parents('.bigimg_boxlist').remove();
		});


		//支付
		$('.btn_direct').click(function(){
			if(true){
				$('#paysuc').css("display","block");
			}else{
				$('#payfal').css("display","block");
			}
		});
		$('.pay_box .close,.pay_box .btn_cancel').click(function(){
			$('.pay_box').attr("style","display:none;");
		});

	});
</script>


