<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../../css/global.css" />
<link type="text/css" rel="stylesheet" href="../../css/layout.css" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<title>活动圈</title>
</head>
<body>
	<!-- 头部 开始 -->
	<div class="w1190 head">
		<div class="logo">
			<h1><a href="#" title="互动推"><img alt="互动推" src="../../images/pc/hdt_logo.png" /></a></h1>
			<div class="slogan"><span>专注移动社交互动广告</span></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#"><em class="icon_home"></em>首页</a></li>
				<li><a href="#" class="active"><em class="icon_ativ"></em>活动圈</a></li>
				<li><a href="#"><em class="icon_plugin"></em>模版库</a></li>
				<li><a href="#"><em class="icon_channel"></em>发布渠道</a></li>
				<li><a href="#"><em class="icon_help"></em>帮助中心</a></li>
				<li><a href="#"><em class="icon_agent"></em>加盟代理</a></li>
				<!-- <li><a href="#">登录</a><strong>|</strong><a href="#">注册</a></li> -->
				<li class="users_btn"><a href="#"><img src="../../images/avatar.jpg" />山间的风</a>（<a href="#">退出</a>）</li>
			</ul>
		</div>
	</div>
	<!-- 头部 结束 -->
	<!-- 内容 开始 -->
	<div class="w1190 ativ_center">
		<div class="main ativgroup_page">
			<div class="tab_title">
				<div class="fl options">
					<a class="active">全部</a>
					<a href="#" class="demo">经典案例</a>
				</div>
				<div class="fr sorts">
					<span>按热度</span>
					<span class="active">按发布</span>
				</div>
				<div class="clear"></div>
			</div>
			<ul class="ativpage_list">
				<li>
					<div class="rehot">推荐</div>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
						<div class="clear"></div>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<div class="rehot">推荐</div>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
						<div class="clear"></div>
					</div>
					<div class="describe">站外活动</div>
				</li>
				<li>
					<div class="rehot">推荐</div>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
						<div class="clear"></div>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<!-- <li>
					<div class="service_box">
						<div class="space_30"></div>
						<a class="btn publish_activity">发布新活动</a>
						<div class="space_10"></div>
						<p>也支持发布 “站外活动” 哦！</p>
					</div>
				</li> -->
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
				<li>
					<a href="#" class="imgbox">
						<img class="ativ_img" src="../../images/avatar.jpg" />
						<span class="code_img"><img src="../../images/code1.jpg" /></span>
					</a>
					<h3>
						<a href="#">全大伟寿司店の圣诞树</a>
						<p class="tr">
							<span>参与人数：<em>20万</em></span>
							<span class="fl">浏览量：<em>44万</em></span>
						</p>
					</h3>
					<div class="card">
						<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>
						<h4>全大伟寿司店</h4>
						<p>わたしのしんゆう,に中する,をね准らう千喜。</p>
					</div>
					<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>
				</li>
			</ul>
			<div class="get_more"><span>努力加载中...</span></div>
		</div>
		<div class="clear space_10"></div>
	</div>
	<!-- 内容 结束 -->
	<!-- 底部 开始 -->
	<div class="w1190 foot">
		<h2><a href="#">
			<img alt="互动推" src="../../images/pc/hdt_logo.png" />
			<span>专注移动社交互动广告</span>
		</a></h2>
		<p>
			<a href="#">首页</a>
			<em>|</em>
			<a href="#">活动圈</a>
			<em>|</em>
			<a href="#">模板库</a>
			<em>|</em>
			<a href="#">发布渠道</a>
			<em>|</em>
			<a href="#">帮助中心</a>
			<em>|</em>
			<a href="#">渠道代理</a>
			<em>|</em>
			<a href="#">代理商登录</a>
		</p>
		<p>
			<span>咨询电话：0592-7127103</span>
			<span>QQ：888888888</span>
			<span>邮箱：cs@tchajian.com</span>
		</p>
		<p>地址： 福建省厦门市思明区软件园二期望海路19号之二502室</p>
		<p>Copyright © 2014 www.tchajian.com All Rights Reserved 有戏（厦门）网络科技有限公司&nbsp;&nbsp;闽ICP备14019370号</p>
	</div>
	<!-- 底部 结束 -->
	<!-- 浮动菜单 开始 -->
	<div class="float_menu">
		<ul>
			<li class="sliding">
				<a><em class="phone_ico"></em><span>0592-7127103</span></a>
			</li>
			<li class="clear"></li>
			<li class="sliding">
				<a href="#"><em class="qq_ico"></em><span>点击QQ交谈</span></a>
			</li>
			<li class="clear"></li>
			<li id="float_menucode">
				<a href="#" class="sliding"><img src="../../images/pc/float_code.jpg"></a>
			</li>
			<li class="clear"></li>
			<li class="gotop">
				<a><em class="gotop_ico">返回顶部</em></a>
			</li>
		</ul>
	</div>
	<!-- 浮动菜单 结束 -->
	<!-- 挑选模版弹出对话框 开始 -->
	<div class="pluginlist_box">
		<div class="cont">
			<h3>
				<strong>挑选活动</strong>
				<span class="close"><!-- 关闭窗口按钮 -->╳</span>
			</h3>
			<div class="notice">
				<p>请选择以下您的正在进行（未公开）的活动：</p>
				<!-- <h4>您还没有正在进行（未公开）的活动：<br /><a href="#">查看我的活动</a></h4> -->
			</div>
			<div class="pluginlistmask">
				<div class="pluginlist">
					<ul>
						<li>
							<input type="checkbox" data-id="d1" />
							<i>站外</i>
							<img src="../../images/app1.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d2" />
							<img src="../../images/app2.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d3" />
							<img src="../../images/app3.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d4" />
							<img src="../../images/app4.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d5" />
							<i>站外</i>
							<img src="../../images/app5.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d6" />
							<img src="../../images/app1.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d7" />
							<img src="../../images/app2.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d8" />
							<img src="../../images/app3.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d9" />
							<img src="../../images/app4.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d10" />
							<img src="../../images/app5.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d11" />
							<img src="../../images/app1.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d12" />
							<img src="../../images/app2.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d13" />
							<img src="../../images/app3.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d14" />
							<img src="../../images/app4.png" />
							<span>干掉XXX</span>
						</li>
						<li>
							<input type="checkbox" data-id="d15" />
							<img src="../../images/app5.png" />
							<span>干掉XXX</span>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>
			<div class="ativcenter_btns">
				<a class="btn_add">新增站外活动</a>
				<a class="btn_done">确定</a>
			</div>
		</div>
		<div class="bg"></div>
	</div>
	<!-- 挑选模版弹出对话框 结束 -->
</body>
</html>
<script type="text/javascript">
	// 回到顶部
	$(".gotop").click(function(){
		$("body,html").animate({scrollTop:0},300);
	});
	$(window).scroll(function(){
		if($(window).scrollTop() > 10){
			$('.gotop').attr("style","display:block;");
		}else{
			$('.gotop').attr("style","display:none;");
		}
	});

	$(function(){
		$(".ativ_center .publish_activity").click(function(){
			$('.pluginlist_box').attr("style","display:block;");
			$('.pluginlist_box .cont').attr("style","display:block;");
		});
		$('.pluginlist_box .btn_done').click(function(){
			var dataid = "";
			$('.pluginlistmask input').each(function(){
				if($(this).prop("checked") == true){
					dataid += $(this).attr("data-id") + ",";
				}
			});
			alert(dataid);
		});
		
	});

//加载更多活动
var ajaxload=false,
	winHeight=$(window).height();
	$(window).scroll(function(){
		var wst=$(window).scrollTop();
		var bodyHeight=$(document).height();
		if(!ajaxload){
			if(wst+winHeight>bodyHeight-20){
				ajaxtip("努力加载中...");
				$.ajax({
				  url: 'xxxxxxxxxx',
				  dataType: 'json',
				  timeout: 300,
				  complete: function(data){
				  	var html="";
				  		html+='<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>\
								<li>\
									<a href="#" class="imgbox">\
										<img class="ativ_img" src="../../images/avatar.jpg" />\
										<span class="code_img"><img src="../../images/code1.jpg" /></span>\
									</a>\
									<h3>\
										<a href="#">全大伟寿司店の圣诞树</a>\
										<p class="tr">\
											<span>参与人数：<em>20万</em></span>\
											<span class="fl">浏览量：<em>44万</em></span>\
										</p>\
									</h3>\
									<div class="card">\
										<a href="#" class="avatar"><img src="../../images/user.jpg" /></a>\
										<h4>全大伟寿司店</h4>\
										<p>わたしのしんゆう,に中する,をね准らう千喜。</p>\
									</div>\
									<div class="describe">使用模版：<a href="#">《圣诞树摇礼物》</a></div>\
								</li>';
					$(".ativpage_list").append(html);
					ajaxload=false;
				  }
				});
			}
		}
	});
	function ajaxtip(txt){
		$(".get_more span").html(txt);
	}
</script>